<div id="Maintenance">
	<div class="logo">
		<img src="/magica/resource/image_web/common/logo/logo.png" alt="">
	</div>
	<div class="commentWrap">
		<div class="commonFrame3">
			<p><%= model.maintenance.message %></p>
		</div>
		<div class="flexBox linkBtns">
			<div id="announce" class="btn se_decide b_pale TE">お知らせ</div>
			<div id="openBrowser" class="btn se_decide b_pink TE">公式サイトへ</div>
			<div class="btn se_decide b_white reloadBtn TE" >リロード</div>
		</div>
	</div>
	<p id="copy"></p>
</div>