<div id="TopPage">
	<% if(model.aj2018) { %>
		<style type='text/css'>
			.aj2018Btn {
				width: 128px;
				height: 152px;
				background: url('/magica/resource/image_web/test/aj2018/event_pop.png') left top no-repeat;

				position: absolute;

				bottom: 56px;
				left: 12px;
				z-index: 10000000;
			}
		</style>
		<div class='aj2018Btn linkBtn se_decide TE' data-href='#/RealGachaTop'></div>
	<% } %>

	<p id="transferBtn"><span class="topBtn se_decide c_gold">引き継ぎ・連携</span></p>
	<p id="clearBtn"><span class="topBtn se_decide c_gold">キャッシュクリア</span></p>

	<% if(model.user && model.user.tutorialId == 'TU999'){ %>
		<p id="opMovieBtn"><span class="topBtn se_decide c_gold">第2部OPムービー</span></p>
	<% } %>

	<% if(model.gameUser && model.gameUser.inviteCode){ %>
		<p id="userIdPannel">プレイヤーID：<%= model.gameUser.inviteCode %></p>
	<% } %>

	<div>
		<div id="touchScreen" class="se_kettei02">
    		<span class="touchTxt"></span>
			<div id="touchBackground"></div>
		</div>
	</div>

	<p id="terms"><span>利用規約</span></p><p id="copy"></p>
	<p id="app_ver" class="c_purple">VER.<span class="c_purple"></span></p>
</div>

<script id="transferInner" type="text/template">
	<div id="transferPopup">
		<span class="leftCol c_gold">引き継ぎ・連携ID</span><span class="rightCol"><input type="text" id="transferId" class="personalId" value=""></span><br>
		<span class="leftCol c_gold">パスワード</span><span class="rightCol"><input type="password" id="transferPassword" class="password" value=""></span>
		<div class="transferAlert c_red">※パスワードは8文字以上15文字以内です</div>
		<div class="transferNotice">データの引き継ぎ・連携元となる引き継ぎ・連携IDと設定したパスワードを入力するとデータの引き継ぎ・連携が完了します。</div>
	</div>
</script>

<script id="nameChangePop" type="text/template">
	第1章3話のストーリーにて、プレイヤー名入力が完了しませんでした。<br>
	プレイヤー名を入力してください。<br><br>
	<input id="changeName" class="commonFrame3" readonly="readonly" type="text" maxlength="8" value="">
	<div class="textCount c_gold">
		<span id="textCount" class='c_gold'>0</span>/8文字
	</div>
	<div class="cautionText c_red">
		※後から変更可能です（当日中の変更はできません）<br>
		※第1章3話のストーリーはアーカイブから参照できます
	</div>
</script>