<div class="select"></div>

<div class='tapArea'></div>

<% if(model.bonusFlag) { %>
	<div class='bonusIcon'></div>
<% } %>

<div class='eventIcon'></div>
<% if(model.card) { %>
	<% if(!model.support) { %>
		<div class="epSetBtn"></div>
	<% } %>
	<div class="maskWrap">
		<% if(model.faceHidden) { %>
		<img class="charaImg"
			src='/magica/resource/image_web/page/formation/npc_unknown_v.png' alt=''>
		<% } else { %>
		<img class="charaImg"
			 data-nativeimgkey='card_<%= model.displayCardId %>_v'
			 data-src='resource/image_native/card/image/card_<%= model.displayCardId %>_v.png' alt=''>
		 <% } %>
		<div class="status">
			<div id="attribute"><span class='type_f <%= model.card.attributeId %>'></span></div>
			<p id="level" class="ts_gold">Lv<%= model.level %></p>
			<div id="rare" class='<%= model.card.rank %>'>
				<% var i = 0; %>
				<% var maxRare = model.maxRare || Number(model.card.rank.split('RANK_')[1]); %>
				<% while(i < maxRare) { %>
					<span></span>
					<% i=(i+1)|0; %>
				<% } %>
			</div>
			<dl>
				<dt class="c_gold">HP</dt><dd class="<%= (model.memoriaHp) ? 'c_red' : '' %>"><%= model.addHp || model.hp %></dd>
				<dt class="c_gold">ATK</dt><dd class="<%= (model.memoriaAttack) ? 'c_red' : '' %>"><%= model.addAttack || model.attack %></dd>
				<dt class="c_gold">DEF</dt><dd class="<%= (model.memoriaDefense) ? 'c_red' : '' %>"><%= model.addDefense || model.defense %></dd>
			</dl>
		</div>
	</div>

	<div class='memoriaSkillWrap'>
		<% var i = 0; %>
		<% var canEquioNum = model.revision + 1; %>
		<% while(i < canEquioNum) { %>
			<span>
				<% if(model['equipPiece'+(i+1)]) { %>
					<% memoriaModel = model['equipPiece'+(i+1)]; %>
					<img data-nativeimgkey='icon_skill_<%= memoriaModel.piece.pieceSkill.groupId %>' data-src='resource/image_native/art/icon_skill_<%= memoriaModel.piece.pieceSkill.groupId %>.png'>
				<% } %>
			</span>
			<% i=(i+1)|0; %>
		<% } %>
	</div>
<% } %>
<div class="bg"></div>