<div id="FormationQuest">
	<div id='bonusTextWrap'></div>

	<!-- 通常 -->
	<div id="deckFormationWrap" class="">
		<div id="deckChangeBtn" class="se_decide TE">チーム切り替え</div>

		<div id="formationSheetWrap"></div>

		<p id="deckName" class='se_tabs'></p>
		<p id="deckStatus"></p>

		<div id="deckWrap"></div>

		<div id="bottomWrap">
			<div id="cautionText">入れ替えたい魔法少女をタッチしてください</div>
			<ul class="btnList flexBox">
				<li class="btn TE se_tabs b_white" id="fomationSheetBtn"><span class="b_screen"></span>魔法陣形</li>
				<li class="btn TE se_tabs b_white" id="deckResetBtn"><span class="b_screen"></span>チーム解散</li>
				<li class="btn TE se_tabs b_white" id="deckDetailBtn"><span class="b_screen"></span>チーム詳細</li>
				<li class="btn TE se_tabs b_white" id="deckPreviewBtn"><span class="b_screen"></span>プレビュー</li>
			</ul>
			<div id="mainBtn" class="se_decide off TE">決定</div>
			<div id="questMainBtn" class='TE'>開始</div>
		</div>
	</div>

	<!-- フォーメーションシート変更 -->
	<div id="formationSheetListWrap" class="hide">
		<div id="formationSheetPreview"></div>

		<div id="formationSheetListInner">
			<div class="scrollWrap"></div>
		</div>

		<div id="bottomWrap">
			<div id="cautionText">魔法陣形を選択してください</div>
			<ul class="btnList flexBox">
				<li class="btn se_decide b_pink TE" id="formationSheetSetBtn">決定</li>
			</ul>
		</div>
	</div>

	<!-- デッキ変更 -->
	<div id="deckSelectWrap" class="hide">
		<div id="bottomWrap">
			<div id="cautionText">編成するチームをタッチしてください</div>
		</div>
	</div>

	<!-- デッキプレビュー -->
	<div id="deckPreviewWrap" class="hide">
		<div id="bottomWrap">
			<div id="cautionText">現在編成中のチームのプレビューです</div>
			<ul class="btnList flexBox">
				<li class="btn se_decide b_pink " id="deckPreviewCloseBtn">OK</li>
			</ul>
		</div>
	</div>

	<!-- デッキ詳細 -->
	<div id="deckDetailWrap" class="hide status" data-cnt="0">
		<div class="infoWrap">
			<div class="deckDetailFormationSheet">
				<p>魔法陣形</p>
				<div id="deckDetailMiniMapWrap"></div>
			</div>
			<div class="deckDetailCongeniality">
				<p>属性相性</p>
			</div>
		</div>

		<div id="bottomWrap">
			<div id="cautionText">魔法少女の詳細情報です</div>
 			<ul class="btnList flexBox">
				<li class="btn se_decide b_pink TE " id="deckDetailCloseBtn">OK</li>
			</ul>
			<p id="detailViewCnt" class="ts_gold"><span class="ts_gold">1</span>/4</p>
			<p id="detailViewChange" class="btn se_tabs b_white TE"><span class="b_screen"></span>表示切替</p>
		</div>
	</div>

</div>

<script type="text/template" id="DeckNameChangeTemp">
	<div class="profileChange">
		<input id="commentInput" readonly="readonly" value='<%="<%= model.name %\>"%>' maxlength="50" /><br>
		<span class="commentNotis c_red">絵文字は使用できません</span>
		<div class="textCount c_gold"><span id="textCount" class="c_gold"><%="<%= model.name.length %\>"%></span>/10</div>
		<div class="btn b_pink se_decide TE" id="commentDecide"><span class="b_screen"></span>OK</div>
	</div>
</script>

<script type="text/template" id="FormationTemp">
		<%="<% var effectArr = []; %\>"%>
		<div class="formationSheet">
			<%="<% _.forEach(model.formationSheet.positionArr,function(txt,index){ %\>"%>
				<div class='formationMass pos_<%="<%= txt %\>"%>'>
					<div class="formationEffect">
						<%="<% effectArr[index] = model.formationSheet['place'+txt].split(','); %\>"%>
						<%="<% if(effectArr[index][0].split('_')[2].indexOf('0') == -1) { %\>"%>
							<%="<% formationAtt = effectArr[index][0].split('_')[0].toLowerCase(); %\>"%>
							<img class="attIcon" src='/magica/resource/image_web/common/chara/att_<%="<%= formationAtt %\>"%>.png' >

							<%="<% _.forEach(effectArr[index],function(txt){ %\>"%>
								<%="<% var fileName = txt.toLowerCase().split('_')[1]+'_'+txt.toLowerCase().split('_')[2] %\>"%>
								<%="<% if(fileName.indexOf('0') == -1) { %\>"%>
									<img src='/magica/resource/image_web/icon/formation/<%="<%= fileName %\>"%>.png' >
								<%="<% } %\>"%>
							<%="<% }) %\>"%>
						<%="<% } %\>"%>
					</div>
				</div>
			<%="<% }) %\>"%>
		</div>

		<div class="formationHead">
			<%="<% var i = 0; %\>"%>
			<%="<% while(i < 5) { %\>"%>
				<div class='head pos_<%="<%= i+1 %\>"%>'>
					<div class="formationEffect flexBox">
					<%="<% if(effectArr[i][0].split('_')[2].indexOf('0') == -1) { %\>"%>
						<%="<% formationAtt = effectArr[i][0].split('_')[0].toLowerCase(); %\>"%>
						<img class="attIcon" src='/magica/resource/image_web/common/chara/att_<%="<%= formationAtt %\>"%>.png' >
					<%="<% } %\>"%>
					<%="<% _.forEach(effectArr[i],function(txt){ %\>"%>
						<%="<% var fileName = txt.toLowerCase().split('_')[1]+'_'+txt.toLowerCase().split('_')[2] %\>"%>
						<%="<% if(fileName.indexOf('0') == -1) { %\>"%>
							<img src='/magica/resource/image_web/icon/formation/<%="<%= fileName %\>"%>.png' >
						<%="<% } %\>"%>
					<%="<% }) %\>"%>
					</div>

					<div class='formationMiniMap'>
						<%="<% _.forEach(model.formationSheet.positionArr,function(txt){ %\>"%>
							<%="<%if(model.formationSheet.positionArr[i] == txt) { %\>"%>
							<span class='pos_<%="<%= txt %\>"%> on'></span>
							<%="<% } else { %\>"%>
							<span class='pos_<%="<%= txt %\>"%>'></span>
							<%="<% } %\>"%>
						<%="<% }) %\>"%>
					</div>
				</div>

			<%="<% 	i=(i+1)|0; %\>"%>
			<%="<% } %\>"%>
		</div>
</script>

<script type="text/template" id="UserFormationListTemp">
	<div class="formationMiniMap">
		<div class="formationMiniMap">
			<%="<% _.forEach(model.formationSheet.positionArr,function(txt){ %\>"%>
				<span class='pos_<%="<%= txt %\>"%>'></span>
			<%="<% }) %\>"%>
		</div>
	</div>
	<%="<%= model.formationSheet.name %\>"%>
</script>

<script type="text/template" id="DeckDetailPartsTemp">
	<%="<% if(model.userCardId) { %\>"%>
		<div class="cardDetailWrap on">
			<div class="charaIcon">
				<div class="attribute"><span class='<%="<%= model.card.attributeId %\>"%> type_f'></span></div>
				<div class="lv ts_gold">Lv <%="<%= model.level %\>"%></div>
				<div class='rare <%="<%= model.card.rank %\>"%>'>
					<%="<% var i = 0; %\>"%>
					<%="<% var maxRare = model.maxRare || Number(model.card.rank.split('RANK_')[1]); %\>"%>
					<%="<% while(i < maxRare) { %\>"%>
						<span></span>
					<%="<% 	i=(i+1)|0; %\>"%>
					<%="<% } %\>"%>
				</div>

				<div class="frame"></div>
				<%="<% if(model.faceHidden) { %\>"%>
				<img class="charaImg"
					src='/magica/resource/image_web/page/formation/npc_unknown_f.png' alt=''>
				<%="<% } else { %\>"%>
				<img class='charaImg' data-nativeimgkey='card_<%="<%= model.displayCardId %\>"%>_f' data-src='resource/image_native/card/image/card_<%="<%= model.displayCardId %\>"%>_f.png' alt=''>
				<%="<% } %\>"%>


				<div class="bg"></div>
			</div>

			<div class="detail status">
				<dl>
					<dt>HP</dt>
					<dd><%="<%= model.hp %\>"%></dd>
					<%="<% if(model.memoriaHp) { %\>"%>
						<dd class="memoria_status c_gold">(+<%="<%= model.memoriaHp %\>"%>)</dd>
					<%="<% } %\>"%>
				</dl>
				<div class="flexBox">
					<dl>
						<dt>ATK</dt>
						<dd><%="<%= model.attack %\>"%></dd>
						<%="<% if(model.memoriaAttack) { %\>"%>
							<dd class="memoria_status c_gold">(+<%="<%= model.memoriaAttack %\>"%>)</dd>
						<%="<% } %\>"%>
					</dl>
					<dl>
						<dt>DEF</dt>
						<dd><%="<%= model.defense %\>"%></dd>
						<%="<% if(model.memoriaDefense) { %\>"%>
							<dd class="memoria_status c_gold">(+<%="<%= model.memoriaDefense %\>"%>)</dd>
						<%="<% } %\>"%>
					</dl>
				</div>

				<div class="diskWrap">
					<p>ディスク</p>
					<ul class="commandList">
						<li class="<%='<%= (model.card.commandType1) ? model.card.commandType1 : "" %\>'%>"></li>
						<li class="<%='<%= (model.card.commandType2) ? model.card.commandType2 : "" %\>'%>"></li>
						<li class="<%='<%= (model.card.commandType3) ? model.card.commandType3 : "" %\>'%>"></li>
						<li class="<%='<%= (model.card.commandType4) ? model.card.commandType4 : "" %\>'%>"></li>
						<li class="<%='<%= (model.card.commandType5) ? model.card.commandType5 : "" %\>'%>"></li>
					</ul>
				</div>
			</div>

			<div class="detail skill">
				<div class="skillWrap">
					<p class="pointFrame">コネクト</p>
					<div class="skillIcon">
						<img data-nativeimgkey='icon_skill_<%="<%= model.card.cardSkill.groupId %\>"%>' data-src='resource/image_native/art/icon_skill_<%="<%= model.card.cardSkill.groupId %\>"%>.png'>
					</div>
					<p class="skillName"><%="<%= model.card.cardSkill.name %\>"%></p>
				</div>
				<div class="skillWrap">
					<p class="pointFrame">マギア</p>
					<div class="skillIcon">
						<img data-nativeimgkey='icon_skill_<%="<%= model.card.cardMagia.groupId %\>"%>' data-src='resource/image_native/art/icon_skill_<%="<%= model.card.cardMagia.groupId %\>"%>.png'>
					</div>
					<p class="skillName"><%="<%= model.card.cardMagia.name %\>"%></p>
				</div>
			</div>

			<div class="detail memoria1">
				<%="<% if(model.equipPiece1) { %\>"%>
					<%="<% var type = (model.equipPiece1.piece.pieceType === 'ABILITY') ? 'type_a' : 'type_s' %\>"%>
					<div class='memoriaWrap <%="<%= type %\>"%>'>
						<div class="memoriaImg">
							<img data-nativeimgkey='memoria_<%="<%=  model.equipPiece1.pieceId %\>"%>_s' data-src='resource/image_native/memoria/memoria_<%="<%=  model.equipPiece1.pieceId %\>"%>_s.png'>
						</div>
						<div class="skillIcon">
							<img data-nativeimgkey='icon_skill_<%="<%= model.equipPiece1.piece.pieceSkill.groupId %\>"%>' data-src='resource/image_native/art/icon_skill_<%="<%= model.equipPiece1.piece.pieceSkill.groupId %\>"%>.png'>
						</div>
						<div class="skillName">
							<%="<% if(model.equipPiece1.lbCount > 3 && model.equipPiece1.piece.pieceSkill2) { %\>"%>
								<p><%="<%= model.equipPiece1.piece.pieceSkill2.name %\>"%></p>
							<%="<% } else if(model.equipPiece1.piece.pieceSkill) { %\>"%>
								<p><%="<%= model.equipPiece1.piece.pieceSkill.name %\>"%></p>
							<%="<% } %\>"%>
						</div>
					</div>
				<%="<% } else { %\>"%>
					<div class="memoriaWrap off">
						<div class="memoriaImg"></div>
						<div class="skillName">
							<p>未装備</p>
						</div>
					</div>
				<%="<% } %\>"%>

				<%="<% if(model.revision < 1) { %\>"%>
					<div class="memoriaWrap none">
						<div class="memoriaImg"></div>
						<div class="skillName">
							<p>未解放</p>
						</div>
					</div>
				<%="<% }else if(model.equipPiece2) { %\>"%>
					<%="<% var type = (model.equipPiece2.piece.pieceType === 'ABILITY') ? 'type_a' : 'type_s' %\>"%>
					<div class='memoriaWrap <%="<%= type %\>"%>'>
						<div class="memoriaImg">
							<img data-nativeimgkey='memoria_<%="<%=  model.equipPiece2.pieceId %\>"%>_s' data-src='resource/image_native/memoria/memoria_<%="<%=  model.equipPiece2.pieceId %\>"%>_s.png'>
						</div>
						<div class="skillIcon">
							<img data-nativeimgkey='icon_skill_<%="<%= model.equipPiece2.piece.pieceSkill.groupId %\>"%>' data-src='resource/image_native/art/icon_skill_<%="<%= model.equipPiece2.piece.pieceSkill.groupId %\>"%>.png'>
						</div>
						<div class="skillName">
							<%="<% if(model.equipPiece2.lbCount > 3 && model.equipPiece2.piece.pieceSkill2) { %\>"%>
								<p><%="<%= model.equipPiece2.piece.pieceSkill2.name %\>"%></p>
							<%="<% } else if(model.equipPiece2.piece.pieceSkill) { %\>"%>
								<p><%="<%= model.equipPiece2.piece.pieceSkill.name %\>"%></p>
							<%="<% } %\>"%>
						</div>
					</div>
				<%="<% } else { %\>"%>
					<div class="memoriaWrap off">
						<div class="memoriaImg"></div>
						<div class="skillName">
							<p>未装備</p>
						</div>
					</div>
				<%="<% } %\>"%>
			</div>

			<div class="detail memoria2">
				<%="<% if(model.revision < 2) { %\>"%>
					<div class="memoriaWrap none">
						<div class="memoriaImg"></div>
						<div class="skillName">
							<p>未解放</p>
						</div>
					</div>
				<%="<% }else if(model.equipPiece3) { %\>"%>
					<%="<% var type = (model.equipPiece3.piece.pieceType === 'ABILITY') ? 'type_a' : 'type_s' %\>"%>
					<div class='memoriaWrap <%="<%= type %\>"%>'>
						<div class="memoriaImg">
							<img data-nativeimgkey='memoria_<%="<%=  model.equipPiece3.pieceId %\>"%>_s' data-src='resource/image_native/memoria/memoria_<%="<%=  model.equipPiece3.pieceId %\>"%>_s.png'>
						</div>
						<div class="skillIcon">
							<img data-nativeimgkey='icon_skill_<%="<%= model.equipPiece3.piece.pieceSkill.groupId %\>"%>' data-src='resource/image_native/art/icon_skill_<%="<%= model.equipPiece3.piece.pieceSkill.groupId %\>"%>.png'>
						</div>
						<div class="skillName">
							<%="<% if(model.equipPiece3.lbCount > 3 && model.equipPiece3.piece.pieceSkill2) { %\>"%>
								<p><%="<%= model.equipPiece3.piece.pieceSkill2.name %\>"%></p>
							<%="<% } else if(model.equipPiece3.piece.pieceSkill) { %\>"%>
								<p><%="<%= model.equipPiece3.piece.pieceSkill.name %\>"%></p>
							<%="<% } %\>"%>
						</div>
					</div>
				<%="<% } else { %\>"%>
					<div class="memoriaWrap off">
						<div class="memoriaImg"></div>
						<div class="skillName">
							<p>未装備</p>
						</div>
					</div>
				<%="<% } %\>"%>

				<%="<% if(model.revision < 3) { %\>"%>
					<div class="memoriaWrap none">
						<div class="memoriaImg"></div>
						<div class="skillName">
							<p>未解放</p>
						</div>
					</div>
				<%="<% }else if(model.equipPiece4) { %\>"%>
					<%="<% var type = (model.equipPiece4.piece.pieceType === 'ABILITY') ? 'type_a' : 'type_s' %\>"%>
					<div class='memoriaWrap <%="<%= type %\>"%>'>
						<div class="memoriaImg">
							<img data-nativeimgkey='memoria_<%="<%=  model.equipPiece4.pieceId %\>"%>_s' data-src='resource/image_native/memoria/memoria_<%="<%=  model.equipPiece4.pieceId %\>"%>_s.png'>
						</div>
						<div class="skillIcon">
							<img data-nativeimgkey='icon_skill_<%="<%= model.equipPiece4.piece.pieceSkill.groupId %\>"%>' data-src='resource/image_native/art/icon_skill_<%="<%= model.equipPiece4.piece.pieceSkill.groupId %\>"%>.png'>
						</div>
						<div class="skillName">
							<%="<% if(model.equipPiece4.lbCount > 3 && model.equipPiece4.piece.pieceSkill2) { %\>"%>
								<p><%="<%= model.equipPiece4.piece.pieceSkill2.name %\>"%></p>
							<%="<% } else if(model.equipPiece4.piece.pieceSkill) { %\>"%>
								<p><%="<%= model.equipPiece4.piece.pieceSkill.name %\>"%></p>
							<%="<% } %\>"%>
						</div>
					</div>
				<%="<% } else { %\>"%>
					<div class="memoriaWrap off">
						<div class="memoriaImg"></div>
						<div class="skillName">
							<p>未装備</p>
						</div>
					</div>
				<%="<% } %\>"%>
			</div>
		</div>

	<%="<% } else { %\>"%>
		<div class="cardDetailWrap off">
			<div class="charaIcon"></div>
		</div>
	<%="<% } %\>"%>

</script>
