<%
	var eventId = eventMaster.eventId;
	var isItemGauge = itemGaugeRatio != null;
%>

<style type='text/css'>
<% if (isItemGauge) { %>
	#itemGaugeWrap {
		background: url("/magica/resource/image_web/event/singleraid/<%= eventId %>/item_bar_bg.png") left top no-repeat;
	}
	#itemGaugeWrap .gauge {
		background:
					url("/magica/resource/image_web/event/singleraid/<%= eventId %>/item_gauge_01.png") left bottom no-repeat,
		 			url("/magica/resource/image_web/event/singleraid/<%= eventId %>/item_gauge_03.png") left top no-repeat,
					url("/magica/resource/image_web/event/singleraid/<%= eventId %>/item_gauge_02.png") left top repeat-y;
	}
<% } %>
	.typeBoss#EventSingleRaidSelect #areaMissionWrap .gaugeWrap:before {
		background: url("/magica/resource/image_web/event/singleraid/<%= eventId %>/quest/boss_hp.png") left top no-repeat;
	}
	.typeBoss#EventSingleRaidSelect #areaMissionWrap .gaugeWrap .gauge {
		background:
					url("/magica/resource/image_web/event/singleraid/<%= eventId %>/quest/boss_gauge_l.png") left top no-repeat,
					url("/magica/resource/image_web/event/singleraid/<%= eventId %>/quest/boss_gauge_r.png") right top no-repeat,
					url("/magica/resource/image_web/event/singleraid/<%= eventId %>/quest/boss_gauge_c.png") left top repeat-x;
	}
	.bg {
		background: url("/magica/resource/image_web/event/singleraid/<%= eventId %>/bg_footer.png") left top no-repeat;
	}
</style>

<div id='EventSingleRaidTop'>
	<div id='areaCompleteNum'>
		<div class='countNumWrap'>
			<% _.forEach(String(areaCompCount).split(''),function(txt){ %>
				<img src="/magica/resource/image_web/event/singleraid/common/num/comp_num_<%= txt %>.png" alt="">
			<% }) %>
		</div>
		<div class='sla'>
			<img src="/magica/resource/image_web/event/singleraid/common/num/comp_num_diagonal.png" alt="">
		</div>
		<div class='maxCountNumWrap'>
			<% _.forEach(String(pointCount).split(''),function(txt){ %>
				<img src="/magica/resource/image_web/event/singleraid/common/num/comp_num_<%= txt %>.png" alt="">
			<% }) %>
		</div>
	</div>

	<div id='helpBtn' class='se_decide TE sb_gold_02' data-eventid="<%= eventId %>">遊び方</div>

	<div id='archiveBtn' class='se_decide TE sb_gold_02 linkBtn' data-href="#/StoryCollection/<%= eventId %>">アーカイブ</div>

	<div id="scaleChangePlus" class="se_tabs TE"></div>
	<div id="scaleChangeMinus" class="se_tabs TE"></div>
	<div id="resetPosition" class="se_cancel TE"></div>

	<div id='mapWrap'></div>

	<div id='bottomWrap'>
		<div id='eventLogo'>
			<img src="/magica/resource/image_web/event/singleraid/<%= eventId %>/logo.png?s" alt="">
		</div>

		<div class='shopBtn TE se_decide linkBtn' data-href='#/ShopTop/<%= eventMaster.shopId %>'></div>

		<div class="itemListWrap">
			<div class="itemWrap" data-itemid='event_singleraid_<%= eventId %>_exchange_1'>
				<img src="/magica/resource/image_web/item/event/event_singleraid_<%= eventId %>_exchange_1.png" alt="">
				<p class='itemNum c_gold'></p>
			</div>
			<div class="itemWrap" data-itemid='event_singleraid_<%= eventId %>_exchange_2'>
				<img src="/magica/resource/image_web/item/event/event_singleraid_<%= eventId %>_exchange_2.png" alt="">
				<p class='itemNum c_gold'></p>
			</div>
			<% if (!isItemGauge) { %>
			<div class="itemWrap" data-itemid='event_singleraid_<%= eventId %>_exchange_3'>
				<img src="/magica/resource/image_web/item/event/event_singleraid_<%= eventId %>_exchange_3.png" alt="">
				<p class='itemNum c_gold'></p>
			</div>
			<% } %>
		</div>

		<div class="bg"></div>
	</div>

	<% if (isItemGauge) { %>
	<div id="itemGaugeWrap" class="itemGaugeWrap">
		<div class='gaugeOuterWrap'>
			<div id="itemGaugeInner" class='gaugeInner' style="height:<%= itemGaugeRatio %>%;">
				<div class="gauge"></div>
			</div>
		</div>
	</div>
	<% } %>
</div>

<script type="text/template" id='openConditionTemp'>
	<div class="popupInner">
		<span class="closeDefault se_cancel popupCloseBtn TE"></span>
		<p id="popupInfoDetailTitle" class="popupTitle common_title">エリア解放条件</p>

		<div class="popupTextArea">
			<%="<% _.forEach(model.conditionList,function(txt,index){ %\>"%>
				<dl class="openConditionDl">
					<dt>
						<%="<% if(txt.cleared) { %\>"%>
							<span class='clear'></span>
						<%="<% } %\>"%>
						<%="<%= index+1 %\>"%>
					</dt>
					<dd><%="<%= txt.description %\>"%></dd>
				</dl>
			<%="<% }) %\>"%>
		</div>
	</div>
</script>
