<div id="StoryCollection">
	<div id="middlePlayBtn" class="TE se_decide"></div>
	<div id="continuousPlayBtn" class="TE se_decide"></div>

	<div id="tabBtn" class="commonFrame2">
		<div class="hiddenWrap" id="storyTabScroll">
			<ul class="common_tab t_gold">
				<li class="TE btn se_tabs current" data-wrap="main"><span>メイン【第1部】</span></li>
				<li class="TE btn se_tabs" data-wrap="mainSecond"><span>メイン【第2部】</span></li>
				<li class="TE btn se_tabs puellaHistoria" data-wrap="puellaHistoria"><span>ピュエラ・ヒストリア</span></li>
				<li class="TE btn se_tabs" data-wrap="sub"><span>アナザー【第1部】</span></li>
				<li class="TE btn se_tabs" data-wrap="subSecond"><span>アナザー【第2部】</span></li>
				<li class="TE btn se_tabs" data-wrap="chara"><span>魔法少女ストーリー</span></li>
				<li class="TE btn se_tabs" data-wrap="arena"><span>ミラーズストーリー</span></li>
				<li class="TE btn se_tabs event none" data-wrap="event">
					<span>イベントストーリー</span>
					<!-- memo: 開放されたストーリーの数を数字のバッジとして表示する -->
					<div id="eventBatch" class="batch"></div>
				</li>
				<li class="TE btn se_tabs accomplish" data-wrap="accomplish"><span>バトルミュージアム</span></li>
				<li class="TE btn se_tabs special none" data-wrap="special">
					<span>スペシャル</span>
					<div id="specialBatch" class="batch"></div>
				</li>
				<li class="TE btn se_tabs movieBtn" data-id="ep1opening"><span>第1部OPムービー</span></li>
				<li class="TE btn se_tabs movieBtn ep1ending none" data-id="ep1ending"><span>第1部EDムービー</span></li>
				<li class="TE btn se_tabs movieBtn ep2opening none" data-id="ep2opening"><span>第2部OPムービー</span></li>
				<li class="TE btn se_tabs movieBtn ep2ending none" data-id="ep2ending"><span>第2部EDムービー</span></li>
				<li class="TE btn se_tabs magirepo linkBtn" data-href="#/MagiRepo"></li>
			</ul>
		</div>
	</div>
	<div id="listWrap" class="commonFrame1 main">
		<h2 id="listTitle">メインストーリー</h2>
		<div id="unlockItems">
			<img src="/magica/resource/image_web/page/collection/storyCollection/icon_eventstory_open_key_f.png" class="costIcon">
			<span class="pointFrame" id="unlockItemNum"></span>
		</div>
		<div id="main">
			<div id="mainHiddenWrap" class="hiddenWrap">
				<div class="scrollInner">
					<div class="wrap">
						<div class="chapterTitleWrap commonFrame4 se_tabs" data-chapter="00">
							<h3 class="chapterNumber">プロローグ</h3>
							<div class="panArrow chapterIdPan00"></div>
						</div>
						<div class="sectionListWrap chapterId00">
							<div class="sectionWrap commonFrame3 CLEARED">
								<span class="sectionTitle">幾度目かの魔女</span>
								<h2 class="sectionNumber">プロローグ</h2>
								<p class="sb_gold_01 se_decide TE storyStart prologueStart"><span class="b_screen"></span><span class="buttonUpper c_gold">CLEAR</span><br>再生</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="mainSecond"><div id="mainSecondHiddenWrap" class="hiddenWrap"><div class="scrollInner"></div></div></div>
		<div id="puellaHistoria"><div id="puellaHistoriaHiddenWrap" class="hiddenWrap"><div class="scrollInner"></div></div></div>
		<div id="sub"><div id="subHiddenWrap" class="hiddenWrap"><div class="scrollInner"></div></div></div>
		<div id="subSecond"><div id="subSecondHiddenWrap" class="hiddenWrap"><div class="scrollInner"></div></div></div>
		<div id="chara"><div id="charaHiddenWrap" class="hiddenWrap"><div class="scrollInner"></div></div></div>
		<div id="arena"><div id="arenaHiddenWrap" class="hiddenWrap"><div class="scrollInner"></div></div></div>
		<div id="event"><div id="eventHiddenWrap" class="hiddenWrap"><div class="scrollInner"></div></div></div>
		<div id="accomplish"><div id="accomplishHiddenWrap" class="hiddenWrap"><div class="scrollInner"></div></div></div>
		<div id="special"><div id="specialHiddenWrap" class="hiddenWrap"><div class="scrollInner"></div></div></div>
	</div>
</div>

<!-- ストーリー -->
<script type="text/template" id="ChapterTemp">
		<div class='chapterTitleWrap commonFrame4 se_tabs' data-chapter='<%="<%= model.chapterId %\>"%>'>
		<%="<% if (model.chapterNoForView) { %\>"%>
			<h3 class="chapterNumber"><%="<%= model.chapterNoForView %\>"%></h3>
		<%="<% } else if(model.cardId) { %\>"%>
			<div class="faceImg">
				<img data-nativeimgkey='card_<%="<%= model.displayCardId %\>"%>_f' data-src='resource/image_native/card/image/card_<%="<%= model.displayCardId %\>"%>_f.png' alt="">
			</div>
		<%="<% } %\>"%>
			<div class="chapterTitle"><%="<%= model.title %\>"%></div>
			<div class='panArrow chapterIdPan<%="<%= model.chapterId %\>"%>'></div>
		</div>
		<%="<% if (model.isStillBtn) { %\>"%>
		<div class="popupGalleryBtn chapterGallery<%='<%= model.chapterId %\>'%> sb_gold_01 se_decide TE">ギャラリーを鑑賞する</div>
		<%="<% } %\>"%>
		<div class='sectionListWrap chapterId<%="<%= model.chapterId %\>"%><%="<% if (model.isStillBtn) { %\>"%> gallery<%="<% } %\>"%>'></div>
</script>

<script type="text/template" id="SectionTemp">
		<span class="sectionTitle"><%="<%= model.title %\>"%></span>
	<%="<% if(model.chapterNoForView) { %\>"%>
		<h2 class="sectionNumber"><%="<%= model.chapterNoForView %\>"%> <%="<%= model.sectionNo %\>"%>話</h2>
		<p class="sb_gold_01 se_decide TE outline"><span class="b_screen"></span>あらすじ</p>
	<%="<% } else if(model.sectionNo) { %\>"%>
		<h2 class="sectionNumber"><%="<%= model.sectionNo %\>"%></h2>
	<%="<% } %\>"%>
	<p class="sb_gold_01 se_decide TE storyStart"><span class="b_screen"></span><span class="buttonUpper c_gold">CLEAR</span><br>再生</p>
	<p class="sb_gold_01 se_decide TE nextQuest"><span class="b_screen"></span><span class="buttonUpper c_gold">NEXT</span><br>クエスト</p>
	<p class="sb_gold_01 TE lockQuest"><span class="b_screen"></span><span class="buttonUpper c_gold">LOCK</span><br>クエスト</p>
</script>

<script type="text/template" id="MirrorBattleSectionTemp">
	<span class="sectionTitle">奇跡の始まり</span>
	<h2 class="sectionNumber">第12章</h2>
	<p class="sb_gold_01 se_decide TE storyStart">
		<span class="b_screen"></span>再生
	</p>
</script>

<!-- ピュエラヒストリアチャプターのtemp -->
<script type="text/template" id="PuellaHistoriaChapterTemp">
	<!-- memo: 各チャプターのタイトルと背景画像 -->
	<div class="chapterTitleWrap commonFrame4 se_tabs" data-chapter='Event<%="<%= model.eventId %\>"%>'>
		<div class="chapterTitle">
		<%="<% if(model.eventId == 0) { %\>"%>
		<img src="/magica/resource/image_web/page/quest/puellaHistoria/archives/story_collection_commontitle.png" class="titleWrapper">
		<%="<% } else if(model.eventId == 99) { %\>"%><!-- ラストバトル用 -->
		<img src="/magica/resource/image_web/page/quest/puellaHistoria_lastBattle/event/1198/story_collection_title.png" class="titleWrapper">
		<%="<% } else { %\>"%>
		<img src="/magica/resource/image_web/event/<%='<%= model.questType.toLowerCase() %\>'%>/<%='<%= model.eventId %\>'%>/story_collection_title.png" class="titleWrapper">
		<%="<% } %\>"%>
		</div>
		<div class='panArrow chapterIdPanEvent<%="<%= model.eventId %\>"%>'></div>
	</div>
	<div class='sectionListWrap chapterIdEvent<%="<%= model.eventId %\>"%>'>
		<div class="eventMultiStory"></div>
	</div>
</script>

<!-- ピュエラヒストリアセクションのtemp -->
<script type="text/template" id="PuellaHistoriaSectionTemp">
	<!-- memo: セクションのボタン -->
	<div class="btnWrap <%='<% if (list.isOpen === false) { %\>'%>lock<%='<% } %\>'%>">
		<span 
			class="mb_white TE se_decide puellaHistoriaStoryStart"
			data-ids="<%='<%= list.storyIds %\>'%>"
		>
			<span class="b_screen"></span>
			<%="<%= list.storyTitle %\>"%>
		</span>
	</div>
</script>

<script type="text/template" id="OpenConditionPopupTemp">
	<div class="popupInner">
		<span class="closeDefault se_cancel popupCloseBtn TE"></span>
		<p id="popupInfoDetailTitle" class="popupTitle common_title">ストーリー解放条件</p>

		<div class="popupTextArea">
			<%="<% _.forEach(list.conditionList,function(txt,index){ %\>"%>
				<dl class="openConditionDl">
					<dt><%="<%= index+1 %\>"%></dt>
					<dd><%="<%= txt %\>"%></dd>
				</dl>
			<%="<% }) %\>"%>
		</div>
		<!-- <table class="popupBtnArea" width="400" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><span class="cancelBtn se_cancel popupCloseBtn btn b_pink TE"><span class='b_screen'></span>OK</span></td>
			</tr>
		</table> -->
	</div>
</script>

<script type="text/template" id="EventStoryTempCommon">
	<%="<% var eventId = model.eventId; var eventType = model.eventType; var eventKind = 'event'; %\>"%>
	<%="<% if (!eventId) { eventId = model.regularEventId; eventType = model.regularEventType; eventKind = 'regularEvent' } %\>"%>
	<div class="chapterTitleWrap commonFrame4 se_tabs" data-chapter='Event<%="<%= eventId %\>"%>'>
		<div class="chapterTitle">
			<%="<% var eventDirArr = {}; %\>"%>
			<%="<% eventDirArr.ARENAMISSION = 'arenaMission'; %\>"%>
			<%="<% eventDirArr.GROUPBATTLE = 'groupBattle'; %\>"%>
			<%="<% var eventDir = (!eventDirArr[eventType]) ? eventType.toLowerCase() : eventDirArr[eventType]; %\>"%>

			<img src="/magica/resource/image_web/<%='<%= eventKind %\>'%>/<%='<%= eventDir %\>'%>/<%='<%= eventId %\>'%>/story_collection_title.png" class="titleWrapper">
		</div>
		<div class='panArrow chapterIdPanEvent<%="<%= eventId %\>"%>'></div>
	</div>
	<div class='sectionListWrap chapterIdEvent<%="<%= eventId %\>"%>'>
		<div class="eventMultiStory">
			<%="<% _.forEach(model.storyList,function(txt,index){ %\>"%>
			<div class="btnWrap <%='<% if (txt.isOpen === false) { %\>'%>lock<%='<% } %\>'%>">
				<span class="mb_white TE se_decide eventStoryStart" data-ids="<%='<%= txt.storyIds %\>'%>"><span class="b_screen"></span><%="<%= txt.storyTitle %\>"%></span>
			</div>
			<%="<% }) %\>"%>
		</div>
	</div>
</script>

<script type="text/template" id="EventStoryTempBranch">
	<div class="chapterTitleWrap commonFrame4 se_tabs" data-chapter='Event<%="<%= model.eventId %\>"%>'>
		<div class="chapterTitle">
			<img src="/magica/resource/image_web/event/<%='<%= model.eventType.toLowerCase() %\>'%>/<%='<%= model.eventId %\>'%>/story_collection_title.png" class="titleWrapper">
		</div>
		<div class='panArrow chapterIdPanEvent<%="<%= model.eventId %\>"%>'></div>
	</div>
	<div class='sectionListWrap chapterIdEvent<%="<%= model.eventId %\>"%>'>
			<%="<% _.forEach(model.storyList,function(txt,index){ %\>"%>
			<div class="commonFrame3 storyWrap">
				<%="<% if(txt.charaId !== 9900){ %\>"%>
					<div class="branchStoryChara">
						<p class="charaTxt"><%="<%= txt.pointTitle %\>"%></p>
						<img src="/magica/resource/image_web/event/<%='<%= model.eventType.toLowerCase() %\>'%>/<%='<%= model.eventId %\>'%>/quest_header_<%='<%= txt.charaId %\>'%>.png">
					</div>
					<span class="branchStoryTitle"><%="<%= txt.storyTitle %\>"%></span>
				<%="<% } else { %\>"%>
					<div class="branchStoryChara">
						<p class="charaTxt"><%="<%= txt.pointTitle %\>"%></p>
						<img src="/magica/resource/image_web/event/branch/common/quest_header_9900.png">
					</div>
				<%="<% } %\>"%>
				<div class="btnWrap <%='<% if (txt.isOpen === false) { %\>'%>lock<%='<% } %\>'%>">
					<p class="sb_gold_01 TE se_decide eventStoryStart" data-ids="<%='<%= txt.storyIds %\>'%>"><span class="b_screen"></span>再生</p>
				</div>
			</div>
			<%="<% }) %\>"%>
	</div>
</script>

<script type="text/template" id="SpecialStoryTemp">
	<div class='chapterTitleWrap commonFrame4 se_tabs' data-chapter='Special<%="<%= model.campaignId %\>"%>'>
		<div class="chapterTitle">
			<img src="/magica/resource/image_web/campaign/story/<%='<%= model.campaignId %\>'%>/story_collection_title.png" class="titleWrapper">
		</div>
		<div class='panArrow chapterIdPanSpecial<%="<%= model.campaignId %\>"%>'></div>
	</div>
	<div class='sectionListWrap chapterIdSpecial<%="<%= model.campaignId %\>"%>'>
		<div class="eventMultiStory">
			<%="<% _.forEach(model.storyList,function(txt,index){ %\>"%>
			<div class="btnWrap <%='<% if (txt.isOpen === false) { %\>'%>lock<%='<% } %\>'%>">
				<span class="mb_white TE se_decide eventStoryStart" data-ids="<%='<%= txt.storyIds %\>'%>"><span class="b_screen"></span><%="<%= txt.storyTitle %\>"%></span>
			</div>
			<%="<% }) %\>"%>
		</div>
	</div>
</script>


<script type="text/template" id="openStoryPopTemp">
	<div class="popupInner">
			<span class="closeDefault popupCloseBtn se_cancel TE"></span>
			<p id="popupInfoDetailTitle" class="popupTitle common_title"><%="<%= model.title %\>"%></p>

		<div class="popupTextArea">
			<%="<%= model.content %\>"%>
			<br>
			<%="<% if(model.eventName){ %\>"%>
			<span class="c_pink"><%="<%= model.eventName %\>"%></span>
			<%="<% } %\>"%>
		</div>

		<%="<% if(model.itemNum != null){ %\>"%>
		<div class="costHasNum">
			<img src="/magica/resource/image_web/page/collection/storyCollection/icon_eventstory_open_key_f.png" class="costIcon">
			<span class="pointFrame" id="totalCost"><%="<%= model.itemNum %\>"%></span>
		</div>
		<%="<% } %\>"%>

		<%="<% if(model.closeBtnText || model.decideBtnText){ %\>"%>
		<table class="popupBtnArea" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<%="<% if(model.closeBtnText){ %\>"%>
				<td>
					<span class="TE cancelBtn popupCloseBtn btn b_white se_cancel">
						<span class='b_screen'></span><%="<%= model.closeBtnText %\>"%>
					</span>
				</td>
				<%="<% } %\>"%>
				<%="<% if(model.decideBtnText){ %\>"%>
				<td>
					<span class="TE decideBtn btn b_pink <%="<%= (model.decideLink) ? 'linkBtn se_kettei02' : 'se_decide' %\>"%>"<%="<%= (model.decideLink) ? ' data-href=' + model.decideLink : '' %\>"%>>
						<span class='b_screen'></span>
						<%="<%= model.decideBtnText %\>"%>
					</span></td>
				<%="<% } %\>"%>
			</tr>
		</table>
		<%="<% } %\>"%>
	</div>
</script>

<!-- ピュエラヒストリア用ストーリー解放ポップアップ -->
<script type="text/template" id="puellaHistoriaOpenStoryPopTemp">
	<div class="popupInner">
			<span class="closeDefault popupCloseBtn se_cancel TE"></span>
			<p id="popupInfoDetailTitle" class="popupTitle common_title"><%="<%= model.title %\>"%></p>

		<div class="popupTextArea">
			<%="<%= model.content %\>"%>
			<br>
			<%="<% if(model.eventName){ %\>"%>
			<span class="c_pink"><%="<%= model.eventName %\>"%></span>
			<%="<% } %\>"%>
		</div>

		<%="<% if(model.itemNum != null){ %\>"%>
		<div class="costHasNum">
			<img src="/magica/resource/image_web/page/collection/storyCollection/icon_eventstory_open_key_f.png" class="costIcon">
			<span class="pointFrame" id="totalCost"><%="<%= model.itemNum %\>"%></span>
		</div>
		<%="<% } %\>"%>

		<%="<% if(model.closeBtnText || model.decideBtnText){ %\>"%>
		<table class="popupBtnArea" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<%="<% if(model.closeBtnText){ %\>"%>
				<td>
					<span class="TE cancelBtn popupCloseBtn btn b_white se_cancel">
						<span class='b_screen'></span><%="<%= model.closeBtnText %\>"%>
					</span>
				</td>
				<%="<% } %\>"%>
				<%="<% if(model.decideBtnText){ %\>"%>
				<td>
					<span class="TE decideBtn btn b_pink <%="<%= (model.decideLink) ? 'linkBtn se_kettei02' : 'se_decide' %\>"%>"<%="<%= (model.decideLink) ? ' data-href=' + model.decideLink : '' %\>"%>>
						<span class='b_screen'></span>
						<%="<%= model.decideBtnText %\>"%>
					</span></td>
				<%="<% } %\>"%>
			</tr>
		</table>
		<%="<% } %\>"%>
	</div>
</script>

<script type="text/template" id="StillPopupTemp">
	<div id="stillListWrap" class="imageList">
		<div class="scrollInner">
				<%="<% var cnt=0; %\>"%>
				<%="<% _.each(stillModelList.stillList,function(img,index) { %\>"%>
					<%="<% if (img) { %\>"%>
						<%="<% var _img = img.replace(/.jpg/g, '.png'); %\>"%>
						<div class="imageWrap" data-index="<%='<%= index %\>'%>">
							<img class="thumbnail" src="/magica/resource/image_web/thumbnail/<%='<%= _img %\>'%>">
						</div>
					<%="<% } else { %\>"%>
						<div class="imageWrap"></div>
					<%="<% } %\>"%>
				<%="<% cnt++; }) %\>"%>
				<%="<% var noImageCnt = cnt < 24 ? 24-cnt : 6-(cnt%6); %\>"%>
				<%="<% for(var i=0;i<noImageCnt;i++){ %\>"%>
					<div class="noImage"></div>
				<%="<% } %\>"%>
		</div>
	</div>
	<%="<% if (isNeedArrow) { %\>"%>
	<div class="arrowLeft arrow se_tabs TE"></div>
	<div class="arrowRight arrow se_tabs TE"></div>
	<%="<% } %\>"%>
</script>
