@charset "UTF-8";
@-webkit-keyframes statusFadeout {
  0% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-70px);
    opacity: 0;
  }
}

@-webkit-keyframes statusFadein {
  0% {
    -webkit-transform: translateY(-70px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

#globalMenuContainer.hide {
  display: none;
}

#globalMenu {
  width: 1024px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* 滑らかに動かすために */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  pointer-events: none;
  z-index: 1001;
}
#globalMenu #title {
  display: none;
  position: absolute;
  top: 10px;
  right: 100px;
}
#globalMenu .noneDisp {
  display: none !important;
  pointer-events: none !important;
}
#globalMenu .user, #globalMenu #globalBack, #globalMenu #globalBackBtn, #globalMenu .itemStatus {
  pointer-events: auto;
}
#globalMenu #globalBackBtn {
  width: 96px;
  height: 65px;
  background-image: url("/magica/resource/image_web/common/global/global_back.png");
  background-repeat: no-repeat;
  background-position: right 9px;
  background-size: 89px 43px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 101;
  -webkit-filter: brightness(100%);
}
#globalMenu #globalBackBtn span {
  width: 100%;
  height: 100%;
  display: block;
}
#globalMenu #globalBackBtn.off {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  pointer-events: none;
  -webkit-filter: brightness(80%);
}
#globalMenu .user {
  padding-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
#globalMenu .user #status {
  width: 158px;
  position: absolute;
  top: 20px;
  left: 90px;
}
#globalMenu .user #status.myPageHide {
  -webkit-animation: statusFadeout .45s ease 0s 1 alternate;
  pointer-events: none;
  -webkit-animation-fill-mode: forwards;
}
#globalMenu .user #status.myPageShow {
  -webkit-animation: statusFadein .45s ease 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}
#globalMenu .user #status #exp {
  width: 210px;
  height: 36px;
  margin: 0 0 7px;
  background-image: url("/magica/resource/image_web/common/global/global_expframe.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -8px;
  left: 16px;
  font-size: 12px;
}
#globalMenu .user #status #exp .userRank {
  height: 14px;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 11px;
  right: 130px;
}
#globalMenu .user #status #exp .userRank img {
  width: 12px;
  height: 14px;
  margin-left: -1px;
  display: block;
}
#globalMenu .user #status #exp .pointWrap {
  position: absolute;
  top: -8px;
  right: 18px;
  color: #ffe38f;
  font-size: 14px;
  text-shadow: -1px -1px 2px #8e2e24, 1px -1px 2px #8e2e24, -1px 1px 2px #8e2e24, 1px 1px 2px #8e2e24, -1px -1px #8e2e24, 1px -1px #8e2e24, -1px 1px #8e2e24, 1px 1px #8e2e24;
  z-index: 10;
}
#globalMenu .user #status #exp .gaugeWrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
#globalMenu .user #status #exp .gaugeWrap span {
  display: block;
}
#globalMenu .user #status #exp .gaugeWrap .gauge {
  width: 106px;
  height: 6px;
  position: absolute;
  top: 15px;
  left: 87px;
  z-index: 10;
}
#globalMenu .user #status #exp .gaugeWrap .gauge .gaugeInner {
  width: 0;
  height: 6px;
  background-color: #24c6c9;
  border-radius: 3px;
}
#globalMenu .user #status #money {
  width: 124px;
  height: 60px;
  background-image: url("/magica/resource/image_web/common/global/global_money_wrap.png");
  background-position: 0 12px;
  background-size: contain;
  position: absolute;
  top: -20px;
  left: 242px;
}
#globalMenu .user #status #money .pointWrap {
  top: 21px;
  right: 35px;
  line-height: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8) !important;
}
#globalMenu .user #status #money .plusBtn {
  top: 0px;
  right: -25px;
}
#globalMenu .user #status #ap {
  width: 150px;
  height: 60px;
  background-image: url("/magica/resource/image_web/common/global/global_ap_wrap.png");
  background-position: 0 12px;
  background-size: contain;
  position: absolute;
  top: -20px;
  left: 390px;
}
#globalMenu .user #status #ap .pointWrap {
  top: 21px;
  right: 35px;
  line-height: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8) !important;
}
#globalMenu .user #status #ap .pointWrap .ACP, #globalMenu .user #status #ap .pointWrap .MAX_ACP {
  color: #ffe38f;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8) !important;
}
#globalMenu .user #status #ap .plusBtn {
  top: 0;
  right: -25px;
}
#globalMenu .user #status #ap, #globalMenu .user #status #money {
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 14px;
}
#globalMenu .user #status #ap .plusBtn, #globalMenu .user #status #money .plusBtn {
  width: 60px;
  height: 52px;
  background-image: url("/magica/resource/image_web/common/global/plus_btn.png");
  background-repeat: no-repeat;
  background-position: 3px 11px;
  background-size: 38px 38px;
  display: block;
  position: absolute;
  pointer-events: auto;
  z-index: 20;
}
#globalMenu .user #status #ap .pointWrap, #globalMenu .user #status #money .pointWrap {
  display: block;
  position: absolute;
  color: #ffe38f;
  text-align: right;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 1px rgba(0, 0, 0, 0.4), -1px 1px 1px rgba(0, 0, 0, 0.4), 1px -1px 1px rgba(0, 0, 0, 0.4);
}
#globalMenu #globalBack {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* APPopup ----------------------------------------------- */
.apPopup #popupInfoDetailTitle {
  margin-top: 8px;
}
.apPopup .APPopWrap #apPointWrap {
  display: block;
  position: absolute;
  top: 75px;
  left: 392px;
}
.apPopup .APPopWrap #apPointWrap.timeShow {
  top: 61px;
}
.apPopup .APPopWrap .message {
  position: absolute;
  top: 67px;
  left: 567px;
  font-size: 20px;
}
.apPopup .APPopWrap .maxTime {
  width: 100%;
  text-align: center;
  display: block;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 103px;
  left: 0px;
  font-size: 18px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.apPopup .APPopWrap .maxTime #apFullTime {
  width: 50px;
  display: inline-block;
}
.apPopup .APPopWrap .maxTime #apFullTime2 {
  min-width: 50px;
  display: inline-block;
}
.apPopup .APPopWrap .maxTime.none .timer {
  display: none;
}
.apPopup .APPopWrap .confirmText, .apPopup .APPopWrap .confirmSP {
  font-size: 18px;
  text-shadow: 0 0;
}
.apPopup .APPopWrap .confirmText {
  height: 60px;
}
.apPopup .APPopWrap .confirmSP {
  margin-bottom: 10px;
}
.apPopup .APPopWrap .confirmSP .pointFrame {
  width: 100px;
  font-size: 18px;
}
.apPopup .APPopWrap .confirmSP .rightWrap {
  width: 320px;
  padding-left: 20px;
  display: inline-block;
}
.apPopup .APPopWrap .confirmSP .rightWrap .arrow {
  position: relative;
  top: -2px;
}
.apPopup .APPopWrap .confirmSP .rightWrap .beforeWrap, .apPopup .APPopWrap .confirmSP .rightWrap .afterWrap {
  width: 130px;
  display: inline-block;
  position: relative;
  text-align: center;
}
.apPopup .APPopWrap .confirmSP .rightWrap .beforeWrap img {
  position: absolute;
  top: 0;
  left: -20px;
}
.apPopup .APPopWrap #confirmBtns {
  width: 430px;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 92.5px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.apPopup .APPopWrap #useItemWrap {
  width: 816px;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 134px;
  left: -webkit-calc(50% - 408px);
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.apPopup .APPopWrap #useItemWrap .itemBtn {
  width: 256px;
  height: 354px;
  position: relative;
}
.apPopup .APPopWrap #useItemWrap .itemBtn .itemName {
  width: 100%;
  position: absolute;
  top: 145px;
  left: 0px;
  font-size: 20px;
  text-align: center;
}
.apPopup .APPopWrap #useItemWrap .itemBtn .useNum {
  width: 100%;
  position: absolute;
  top: 180px;
  left: 0;
  font-size: 18px;
  text-align: center;
}
.apPopup .APPopWrap #useItemWrap .itemBtn:before {
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  position: absolute;
  top: 26px;
  left: -webkit-calc(50% - 50px);
  content: "";
}
.apPopup .APPopWrap #useItemWrap .itemBtn.sp10:before {
  background-image: url("/magica/resource/image_web/item/main/cure_ap_10.png");
}
.apPopup .APPopWrap #useItemWrap .itemBtn.sp30:before {
  background-image: url("/magica/resource/image_web/item/main/cure_ap_30.png");
}
.apPopup .APPopWrap #useItemWrap .itemBtn.sp50:before {
  background-image: url("/magica/resource/image_web/item/main/cure_ap_50.png");
}
.apPopup .APPopWrap #useItemWrap .itemBtn.spmax:before {
  background-image: url("/magica/resource/image_web/item/main/cure_ap.png");
}
.apPopup .APPopWrap #useItemWrap .itemBtn.spstone:before {
  background-image: url("/magica/resource/image_web/item/main/money.png");
}
.apPopup .APPopWrap #useItemWrap .itemBtn .cureBtn {
  width: 132px;
  height: 49px;
  position: absolute;
  bottom: 18px;
  left: -webkit-calc(50% - 66px);
  font-size: 16px;
  line-height: 24px;
}
.apPopup .APPopWrap #useItemWrap .itemBtn .itemRemain {
  width: 100%;
  position: absolute;
  top: 220px;
  left: 0px;
  font-size: 18px;
  text-align: center;
  z-index: 1;
}
.apPopup .APPopWrap #useItemWrap .itemBtn .itemRemain .pointFrame {
  width: 138px;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 24px;
}
.apPopup .APPopWrap .ap {
  width: 163px;
  height: 38px;
  margin: 0 0 7px;
  background-image: url("/magica/resource/image_web/common/global/ap_base.png");
  background-repeat: no-repeat;
  display: block;
  position: relative;
  font-size: 12px;
}
.apPopup .APPopWrap .ap .pointWrap {
  position: absolute;
  top: 9px;
  right: 28px;
  color: #ffe38f;
  font-size: 15px;
  line-height: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6) !important;
  z-index: 10;
}
.apPopup .APPopWrap .ap .pointWrap .popACP, .apPopup .APPopWrap .ap .pointWrap .popMAX_ACP {
  color: #ffe38f;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6) !important;
}
.apPopup .APPopWrap .ap .gaugeWrap {
  width: 150px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.apPopup .APPopWrap .ap .gaugeWrap span {
  display: block;
}
.apPopup .APPopWrap .ap .gaugeWrap .outline {
  z-index: 10;
}
.apPopup .APPopWrap .ap .gaugeWrap .gauge {
  width: 98px;
  height: 15px;
  display: none;
  position: absolute;
  top: 13px;
  right: -7px;
  z-index: 10;
}
.apPopup .APPopWrap .ap .gaugeWrap .gauge .gaugeInner {
  width: 0;
  height: 15px;
}
