#MainQuestSingleRaid {
  width: 1024px;
  height: 100%;
  position: relative;
}

#MainQuestSingleRaid .allClear {
  width: 378px;
  height: 48px;
  background: url("/magica/resource/image_web/page/quest/main/singleraid/section_newest.png");
  display: none;
  position: absolute;
  bottom: 0;
  left: -webkit-calc(50% - 189px);
}

#MainQuestSingleRaid .allClear.show {
  display: block;
}

#MainQuestSingleRaid #mapWrap {
  width: 1024px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

#MainQuestSingleRaid #scaleChangePlus {
  width: 70px;
  height: 62px;
  background: url("/magica/resource/image_web/page/chara/tree/btn_big_on.png") center center no-repeat;
  position: absolute;
  right: 70px;
  bottom: 4px;
  z-index: 10000;
  background-size: 80%;
}

#MainQuestSingleRaid #scaleChangePlus.off {
  background: url("/magica/resource/image_web/page/chara/tree/btn_big_off.png") center center no-repeat;
  background-size: 80%;
}

#MainQuestSingleRaid #scaleChangeMinus {
  width: 70px;
  height: 62px;
  background: url("/magica/resource/image_web/page/chara/tree/btn_small_on.png") center center no-repeat;
  position: absolute;
  right: 140px;
  bottom: 4px;
  z-index: 10000;
  background-size: 80%;
}

#MainQuestSingleRaid #scaleChangeMinus.off {
  background: url("/magica/resource/image_web/page/chara/tree/btn_small_off.png") center center no-repeat;
  background-size: 80%;
}

#MainQuestSingleRaid #resetPosition {
  width: 70px;
  height: 62px;
  background: url("/magica/resource/image_web/page/chara/tree/btn_navi.png") center center no-repeat;
  position: absolute;
  right: 210px;
  bottom: 4px;
  z-index: 10000;
  background-size: 80%;
}

#MainQuestSingleRaid #bg {
  width: 1024px;
  height: 100%;
  pointer-events: none;
}

#MainQuestSingleRaid #bg.challengeMode:before {
  content: "";
  width: 122px;
  height: 34px;
  background: url("/magica/resource/image_web/page/quest/main/icon_challenge.png") left top no-repeat;
  position: absolute;
  top: 67px;
  left: 118px;
}

#MainQuestSingleRaid #title {
  width: 390px;
  height: 272px;
  position: absolute;
  top: 68px;
  left: 0;
  pointer-events: none;
}
