.EventArenaMission .typeA {
  color: #1a6e0e;
}
.EventArenaMission .typeB {
  color: #8c118c;
}
.EventArenaMission .typeC {
  color: #00447c;
}
.EventArenaMission .colorA {
  color: #ffc800;
}
.EventArenaMission .colorB {
  color: #dbaeff;
}
.EventArenaMission .colorC {
  color: #5e3580;
}
.EventArenaMission .colorD {
  color: #ffffff;
  text-shadow: -1px -1px 1px #e44a00, 1px -1px 1px #e44a00, -1px 1px 1px #e44a00, 1px 1px 1px #e44a00, -1px -1px #e44a00, 1px -1px #e44a00, -1px 1px #e44a00, 1px 1px #e44a00, -1px -1px 2px #e44a00, 1px -1px 2px #e44a00, -1px 1px 2px #e44a00, 1px 1px 2px #e44a00, -1px -1px 2px #e44a00, 1px -1px 2px #e44a00, -1px 1px 2px #e44a00, 1px 1px 2px #e44a00, -1px -1px 3px #e44a00, 1px -1px 3px #e44a00, -1px 1px 3px #e44a00, 1px 1px 3px #e44a00;
}
.EventArenaMission .colorE {
  color: #ffffff;
  text-shadow: -1px -1px 1px #5e3580, 1px -1px 1px #5e3580, -1px 1px 1px #5e3580, 1px 1px 1px #5e3580, -1px -1px #5e3580, 1px -1px #5e3580, -1px 1px #5e3580, 1px 1px #5e3580, -1px -1px 2px #5e3580, 1px -1px 2px #5e3580, -1px 1px 2px #5e3580, 1px 1px 2px #5e3580, -1px -1px 2px #5e3580, 1px -1px 2px #5e3580, -1px 1px 2px #5e3580, 1px 1px 2px #5e3580, -1px -1px 3px #5e3580, 1px -1px 3px #5e3580, -1px 1px 3px #5e3580, 1px 1px 3px #5e3580;
}
.EventArenaMission .colorF {
  color: #ffffff;
  text-shadow: -1px -1px 1px #8f3eb8, 1px -1px 1px #8f3eb8, -1px 1px 1px #8f3eb8, 1px 1px 1px #8f3eb8, -1px -1px #8f3eb8, 1px -1px #8f3eb8, -1px 1px #8f3eb8, 1px 1px #8f3eb8, -1px -1px 2px #8f3eb8, 1px -1px 2px #8f3eb8, -1px 1px 2px #8f3eb8, 1px 1px 2px #8f3eb8, -1px -1px 2px #8f3eb8, 1px -1px 2px #8f3eb8, -1px 1px 2px #8f3eb8, 1px 1px 2px #8f3eb8, -1px -1px 3px #8f3eb8, 1px -1px 3px #8f3eb8, -1px 1px 3px #8f3eb8, 1px 1px 3px #8f3eb8;
}
