#CampaignStoryMission {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }
  #CampaignStoryMission .periodWrap {
    width: 442px;
    height: 32px;
    position: absolute;
    top: 56px;
    left: 19px; }
    #CampaignStoryMission .periodWrap span.period {
      width: 100%;
      height: 100%;
      text-align: center;
      color: #ff4053;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      line-height: 32px; }
    #CampaignStoryMission .periodWrap img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
  #CampaignStoryMission .campaignLogo {
    width: 606px;
    height: 298px;
    position: absolute;
    left: 205px;
    bottom: 83px;
    z-index: 1; }
  #CampaignStoryMission .campaignBtn {
    width: 307px;
    height: 87px;
    position: absolute;
    left: 361px;
    bottom: 61px;
    z-index: 2; }
    #CampaignStoryMission .campaignBtn .b_screen {
      border-radius: 45px; }
  #CampaignStoryMission .rewardPop {
    width: 114px;
    height: 120px;
    position: absolute;
    right: 41px;
    bottom: 69px; }
    #CampaignStoryMission .rewardPop .b_screen {
      border-radius: 60px; }
  #CampaignStoryMission .btnTxt {
    width: 714px;
    height: 40px;
    position: absolute;
    left: 155px;
    bottom: 15px; }
