<div id="EventQuest">

	<div class='weekTitle'><img src="/magica/resource/image_web/page/quest/week/week_title_a.png" alt=""></div>

	<div class='missionBtnWrap'>
		<p class="sb_gold_01 missionBtn se_tabs TE"><span class="b_screen"></span>ミッション</p>
	</div>

	<div id="questLinkListWrap" class="first">
		<div class='scrollInner'>
			<% if (specialQuestObj) { %>
			<ul id='enhanceWrapSPECIAL' class="questLinkList">
				<li class="questTitle chapter">
					<div class="bg">
						<div class="header">
							<div class="text c_white"><%= specialQuestObj.headerText %></div>
						</div>
						<div class="title">覚醒強化結界&nbsp;&nbsp;期間限定</div>
						<div class="questItemNumWrap">
							<img class="apItemImg" src="<%= specialQuestObj.useItemImagePath %>">
							×<span class="num"><%= specialQuestObj.useItemQuantity %></span>
						</div>
						<span class="toggleBtn"></span>
					</div>
				</li>

				<li class="enhanceListWrap enhanceQuestSPECIAL"></li>
			</ul>
			<% } %>

			<ul id='enhanceWrapFIRE' class="questLinkList">
				<li class="questTitle chapter">
					<div class="bg">
						<div class="header">
							<div class="text"><div class="attribute"><div class="FIRE"></div></div></div>
						</div>
						<div class="title">覚醒強化結界&nbsp;&nbsp;火属性</div>
						<span class="toggleBtn"></span>
					</div>
				</li>

				<li class="enhanceListWrap enhanceQuestFIRE"></li>
			</ul>

			<ul id='enhanceWrapWATER' class="questLinkList">
				<li class="questTitle chapter">
					<div class="bg">
						<div class="header">
							<div class="text"><div class="attribute"><div class="WATER"></div></div></div>
						</div>
						<div class="title">覚醒強化結界&nbsp;&nbsp;水属性</div>
						<span class="toggleBtn"></span>
					</div>
				</li>

				<li class="enhanceListWrap enhanceQuestWATER"></li>
			</ul>

			<ul id='enhanceWrapTIMBER' class="questLinkList">
				<li class="questTitle chapter">
					<div class="bg">
						<div class="header">
							<div class="text"><div class="attribute"><div class="TIMBER"></div></div></div>
						</div>
						<div class="title">覚醒強化結界&nbsp;&nbsp;木属性</div>
						<span class="toggleBtn"></span>
					</div>
				</li>

				<li class="enhanceListWrap enhanceQuestTIMBER"></li>
			</ul>

			<ul id='enhanceWrapLIGHT' class="questLinkList">
				<li class="questTitle chapter">
					<div class="bg">
						<div class="header">
							<div class="text"><div class="attribute"><div class="LIGHT"></div></div></div>
						</div>
						<div class="title">覚醒強化結界&nbsp;&nbsp;光属性</div>
						<span class="toggleBtn"></span>
					</div>
				</li>

				<li class="enhanceListWrap enhanceQuestLIGHT"></li>
			</ul>

			<ul id='enhanceWrapDARK' class="questLinkList">
				<li class="questTitle chapter">
					<div class="bg">
						<div class="header">
							<div class="text"><div class="attribute"><div class="DARK"></div></div></div>
						</div>
						<div class="title">覚醒強化結界&nbsp;&nbsp;闇属性</div>
						<span class="toggleBtn"></span>
					</div>
				</li>

				<li class="enhanceListWrap enhanceQuestDARK"></li>
			</ul>

			<ul id='enhanceWrapALL' class="questLinkList">
				<li class="questTitle chapter">
					<div class="bg">
						<div class="header">
							<div class="text"><div class="attribute"><div class="ALL"></div></div></div>
						</div>
						<div class="title">覚醒強化結界&nbsp;&nbsp;全属性</div>
						<span class="toggleBtn"></span>
					</div>
				</li>

				<li class="enhanceListWrap enhanceQuestALL"></li>
			</ul>
		</div>
	</div>

	<%
		var subClose = false;
		if(gameUser){
			if(gameUser.closeFunctions && gameUser.closeFunctions.indexOf("ARENA") > -1) subClose = true;
		}
	%>
	<div id="questLinkBtnWrap">
		<ul class="btns">
			<li class="main linkBtn se_decide" data-href="#/MainQuest"><span></span><div class='bg'></div></li>
			<li class="side linkBtn se_decide<% if(subClose){ %> limited<% } %>" data-href="#/SubQuest"><span></span><div class='bg'></div></li>
			<li class="chara linkBtn se_decide" data-href="#/CharaQuest"><span></span><div class='bg'></div></li>
			<li class="event current"><span></span><div class='bg'></div></li>
		</ul>
	</div>
</div>

<!-- eventShopWrap -->
<script type="text/template" id="EventShopTemp">
	<div class='itemNumWrap'>
		<img class='shopItemImg' src='/magica/resource/image_web/item/event/<%="<%= model.itemId %\>"%>.png' >
		<p class='numWrap'>×<%="<%= model.quantity %\>"%></p>
	</div>

	<div class='shopLinkBtn se_decide TE linkBtn' data-href='#/ShopTop/<%="<%= model.shopId %\>"%>'></div>
</script>

<script type="text/template" id="EventQuestListTitle">
	<li id="composeTitle" class="questTitle chapter open">
		<div class="bg">
			<div class="header">
				<div class="text"><span class="week1">期間限定</span></div>
			</div>
			<div class="title"><%="<%= model.section.title %\>"%></div>
			<div class="subTitle"><%="<%= model.section.parameter %\>"%></div>
			<div class="charaImg">
				<img src='/magica/resource/image_web/event/training/<%="<%= model.eventObj.event.eventId %\>"%>/quest_title_chara.png' >
			</div>
			<div class="endAt pointFrame type_b"><%="<%= model.eventObj.event.endAtText %\>"%>まで</div>
			<span class="toggleBtn"></span>
		</div>
	</li>
	<li class='questWrap'></li>
</script>

<script type="text/template" id='WeeklySchedule'>
	<div class="popupInner">
		<span class="closeDefault popupCloseBtn se_cancel TE"></span>
		<p id="popupInfoDetailTitle" class="popupTitle common_title">結界スケジュール</p>

		<div class="scheduleWrap">
			<div class='header flexBox'>
				<div>月曜日</div>
				<div>火曜日</div>
				<div>水曜日</div>
				<div>木曜日</div>
				<div>金曜日</div>
				<div>週末</div>
			</div>

			<div class='contents flexBox'>
				<div class='wrap'>
					<div class='title'>
						強化結界
						<p>強化ジェム</p>
					</div>
					<div class='title'>
						覚醒結界
						<p>ブック・覚醒素材</p>
					</div>
				</div>
				<!-- 月曜 -->
				<div class='wrap'>
					<div class='attWrap attribute'>
						<span class='FIRE type_f'></span>
						<span class='TIMBER type_f'></span>
					</div>
					<div class='attWrap attribute'>
						<span class='DARK type_f'></span>
					</div>
				</div>
				<!-- 火曜 -->
				<div class='wrap'>
					<div class='attWrap attribute'>
						<span class='WATER type_f'></span>
						<span class='LIGHT type_f'></span>
					</div>
					<div class='attWrap attribute'>
						<span class='FIRE type_f'></span>
					</div>
				</div>
				<!-- 水曜 -->
				<div class='wrap'>
					<div class='attWrap attribute'>
						<span class='TIMBER type_f'></span>
						<span class='DARK type_f'></span>
					</div>
					<div class='attWrap attribute'>
						<span class='WATER type_f'></span>
					</div>
				</div>
				<!-- 木曜 -->
				<div class='wrap'>
					<div class='attWrap attribute'>
						<span class='LIGHT type_f'></span>
						<span class='FIRE type_f'></span>
					</div>
					<div class='attWrap attribute'>
						<span class='TIMBER type_f'></span>
					</div>
				</div>
				<!-- 金曜 -->
				<div class='wrap'>
					<div class='attWrap attribute'>
						<span class='DARK type_f'></span>
						<span class='WATER type_f'></span>
					</div>
					<div class='attWrap attribute'>
						<span class='LIGHT type_f'></span>
					</div>
				</div>
				<!-- 週末 -->
				<div class='wrap'>
					<div class='attWrap attribute weekend'>
						<span class='FIRE type_f'></span>
						<span class='WATER type_f'></span>
						<span class='TIMBER type_f'></span>
						<span class='LIGHT type_f'></span>
						<span class='DARK type_f'></span>
						<span class='CC type_f'></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

<!-- クエストパーツ -->
<script type="text/template" id="QuestListParts">
	<%="<% var mission1 = (model.missionStatus1 === 'CLEARED') ? 'cleared' : null %\>"%>
	<%="<% var mission2 = (model.missionStatus2 === 'CLEARED') ? 'cleared' : null %\>"%>
	<%="<% var mission3 = (model.missionStatus3 === 'CLEARED') ? 'cleared' : null %\>"%>

	<%="<% var questState = (model.cleared) ? 'clear' : 'new' %\>"%>
	<%="<%     questState = (mission1 && mission2 && mission3) ? 'comp' : questState %\>"%>
	<%="<% var classTxt   = (model.campaignFreeAtNotClear || model.halfAp) ? 'ts_pink' : '' %\>"%>

	<%="<% if(model.questBattle.consumeType == 'NORMAL') { %\>"%>
	<p class="pointFrame type_b apFrame">消費AP <span class='<%="<%= classTxt %\>"%>'><%="<%= (model.campaignFreeAtNotClear) ? 0 : (model.halfAp) ? model.halfAp : model.questBattle.ap %\>"%></span></p>
	<%="<% } else { %\>"%>
	<p class="pointFrame type_b apItemFrame">
		<img class="apItemImg" src="/magica/resource/image_web/common/icon/campaign/icon_<%='<%= model.questBattle.useItemId.toLowerCase() %\>'%>_f.png">
		消費<span><%="<%= model.questBattle.needItemNum %\>"%></span>
	</p>
	<%="<% } %\>"%>
	<p class="pointFrame type_b difficultyFrame">難易度 <span><%="<%= model.questBattle.difficulty %\>"%></span></p>

	<span class='questState <%="<%= questState %\>"%>'></span>
	<div class="firstView">
		<span class="questTitle c_white"><%="<%= model.questTitle %\>"%></span>
		<ul class="mission">
			<li class='<%="<%= mission1 %\>"%>'></li>
			<li class='<%="<%= mission2 %\>"%>'></li>
			<li class='<%="<%= mission3 %\>"%>'></li>
		</ul>
	</div>

	<ul class="secondView">
		<li class='<%="<%= mission1 %\>"%>'><%="<%= model.questBattle.missionMaster1.description %\>"%></li>
		<li class='<%="<%= mission2 %\>"%>'><%="<%= model.questBattle.missionMaster2.description %\>"%></li>
		<li class='<%="<%= mission3 %\>"%>'><%="<%= model.questBattle.missionMaster3.description %\>"%></li>
	</ul>

	<span class="treasure">
		<%="<% if(questState === 'comp') { %\>"%>
			<%="<% var itemCode = model.missionRewardCode.itemCode.toLowerCase(); %\>"%>
			<div class="title clear"></div>
			<%="<% if(itemCode.indexOf('gift') !== -1) { %\>"%>
				<img data-nativeimgkey='<%="<%= itemCode %\>"%>' data-src='resource/image_native/gift/<%="<%= itemCode %\>"%>.png' class="itemImg">

			<%="<% } else { %\>"%>
				<img class="itemImg" src='/magica/resource/image_web/item/main/<%="<%= itemCode %\>"%>.png' alt=''>

			<%="<% } %\>"%>
		<%="<% } else { %\>"%>
			<div class="title"></div>
			<img class="treasureImg" src='/magica/resource/image_web/common/treasure/<%="<%= model.chestColor.toLowerCase() %\>"%>.png' alt=''>
		<%="<% } %\>"%>
	</span>

	<span class="touchObj"></span>

	<span class="params">
		<span class="questType" data-questtype='<%="<%= model.questType %\>"%>'></span>
		<span class="questParam" data-questprm='<%="<%= model.parameter %\>"%>'></span>
		<span class="questIndex" data-questindex='<%="<%= model.questBattle.sectionIndex %\>"%>'></span>
	</span>
</script>
