<div id="ArenaHistory">
	<div id="arenaHistoryWrap">
		<div class="historyTitle"></div>
		<ul id="historyTab">
			<li class="<% if(!isDefence){ %>current <% } %>se_decide historyChange attack" data-screen="attack" data-name="対戦履歴"></li>
			<li class="<% if(isDefence){ %>current <% } %>se_decide  historyChange defence" data-screen="defence" data-name="防衛履歴"></li>
		</ul>
		<div id="historyScroll">
			<div class="listScrollInner">
				<% if(history.length > 0){
					_.each(history,function(_model,index){
						if(_model.arenaBattleStatus !== "CREATED"){
							var detail = _model.opponentUserArenaBattleInfo;
							%>

				<div class="historyList<% if(_model.arenaBattleType === "RANKING"){ %> ranking<% }else if(_model.arenaBattleType === "CODE_MATCH"){%> simulate<% } %>">
					<% console.log("oppIds:",_model); %>
					<% var cardIds    = (!isDefence) ? _model.arenaDeckCardIds.split(",") : _model.oppCardIds.split(","); %>
					<% var oppCardIds = (!isDefence) ? _model.oppCardIds.split(",") : _model.arenaDeckCardIds.split(","); %>
					<% var formation  = (!isDefence) ? _model.oppFormationSheet : _model.arenaDeckFormationSheet; %>
					<div class="oppDeckCards">
						<% _.each(oppCardIds,function(cardid,index){ %>
							<% var card = (!isDefence) ? _.findWhere(_model.oppCardList,{cardId:(cardid | 0)}) : _.findWhere(_model.arenaDeckCardList,{cardId:(cardid | 0)}); %>
							<div class="userCharaIcon <%=card.rank %> <%=card.attributeId %>">
							<% att = "att_" +card.attributeId.toLowerCase() %>
							<% star = "star_" +card.rank.toLowerCase() %>
							<% frame = "frame_" +card.rank.toLowerCase() %>
							<% bg = "bg_" +card.attributeId.toLowerCase() %>
							<span class="att" data-nativebgkey="<%= att %>" data-src="resource/image_native/card/frame/<%= att %>.png"></span>
							<span class="star" data-nativebgkey="<%= star %>" data-src="resource/image_native/card/frame/<%= star %>.png"></span>
							<span class="rank" data-nativebgkey="<%= frame %>" data-src="resource/image_native/card/frame/<%= frame %>.png"></span>
							<img data-nativeimgkey="card_<%= card.cardId %>_f" data-src='resource/image_native/card/image/card_<%= card.cardId %>_f.png'>

							<span class="bg" data-nativebgkey="<%= bg %>" data-src="resource/image_native/card/frame/<%= bg %>.png"></span>
						</div>
						<% }) %>
					</div>

					<div class="infoWrap">
						<span class="userLevel">Rank<%= detail.userRank %></span>
						<span class="userName"><%= _.escape(detail.userName) %></span><br>
					</div>
					<div class="battleType"></div>
					<div class="resultMark<% if(_model.arenaBattleStatus !== "WIN"){%> lose<% } %>"></div>
					<div class="rightWrap">
						<div class="formationMiniMap">
							<% console.log("formation",formation) %>
							<% for(var i=0;i<10;i++){ %>
								<% if(formation["placeSkillId"+i]){ %>
									<span class="pos_<%= i %>"></span>
								<% } %>
							<% } %>
						</div>
						<div class="formationName arenaColor"><%= formation.name %></div>
						<div class="battleTime arenaColor"><%= _model.createdAt.substr(5,11) %></div>
						<div class="pointWrap arenaColor">＋ <%= _model.point %> Pt</div>
					</div>

					<div class="userDecks">
						<% _.each(cardIds,function(cardid,index){ %>
							<% var card = (isDefence) ? _.findWhere(_model.oppCardList,{cardId:(cardid | 0)}) : _.findWhere(_model.arenaDeckCardList,{cardId:(cardid | 0)}); %>
							<div class="userCharaIcon <%= card.rank %> <%= card.attributeId %>">
							<% att = "att_" +card.attributeId.toLowerCase() %>
							<% star = "star_" +card.rank.toLowerCase() %>
							<% frame = "frame_" +card.rank.toLowerCase() %>
							<% bg = "bg_" +card.attributeId.toLowerCase() %>
							<span class="att" data-nativebgkey="<%= att %>" data-src="resource/image_native/card/frame/<%= att %>.png"></span>
							<span class="star" data-nativebgkey="<%= star %>" data-src="resource/image_native/card/frame/<%= star %>.png"></span>
							<span class="rank" data-nativebgkey="<%= frame %>" data-src="resource/image_native/card/frame/<%= frame %>.png"></span>
							<img data-nativeimgkey="card_<%= card.cardId %>_f" data-src='resource/image_native/card/image/card_<%= card.cardId %>_f.png'>

							<span class="bg" data-nativebgkey="<%= bg %>" data-src="resource/image_native/card/frame/<%= bg %>.png"></span>
						</div>
						<% }) %>

					</div>
				</div>
				<% 	}});
				   }else{ %>
					<p class="noneHistory">対戦履歴がありません</p>
				<% } %>
			</div>
		</div>
	</div>
	<div class="arenaGradationBg"></div>
</div>
