<div id="MissionList" class="mission1">

	<!-- 一覧 -->
	<div id="listWrap" class="commonFrame2">
		<h2 id="listTitle">グループバトルミッション</h2>

		<!-- イベントミッションリスト -->
		<div id="missionScrollWrap">
			<div id="mission1List" class="mission1List"></div>
		</div>
	</div>

	<!-- 一括受け取りボタン -->
	<div class="mb_pink off se_decide" id="allReserve">一括受取</div>
</div>

<!-- ミッションリストパーツ -->
<script type="text/template" id="missionParts">
	<%='<% var rewardModel = model.challenge.rewardList[0]; %\>'%>
	<%='<% var presentType = rewardModel.presentType; %\>'%>
	<%='<% var itemId      = rewardModel.itemId; %\>'%>

	<%='<% var dir; %\>'%>
	<%='<% if(presentType !== "GIFT") { %\>'%>
		<%='<% dir = (itemId && itemId.indexOf("EVENT_") > -1) ? "event" : "main"; %\>'%>
	<%='<% } else { %\>'%>
		<%='<% dir = "gift"; %\>'%>
	<%='<% } %\>'%>

	<%='<% var itemName; %\>'%>
	<%='<% if(presentType === "RICHE") { %\>'%>
		<%='<% itemName = "riche"; %\>'%>
	<%='<% } else if(presentType === "GIFT") { %\>'%>
		<%='<% itemName = "item_gift_" + rewardModel.gift.id; %\>'%>
	<%='<% } else if(presentType === "PIECE" || presentType === "MAXPIECE"){ %\>'%>
		<%='<% itemName = "memoria_" + rewardModel.piece.pieceId + "_s"; %\>'%>
	<%='<% } else if(presentType !== "LIVE2D"){ %\>'%>
		<%='<% itemName = itemId.toLowerCase(); %\>'%>
	<%='<% } %\>'%>
	<div class="missionItemWrap">
		<%='<% if(presentType == "LIVE2D") { %\>'%>

			<div class="charaIcon">
				<div class="maskWrap">
					<img data-nativeimgkey='mini_<%="<%= rewardModel.live2d.charaId %\>00"%>_d' data-src='resource/image_native/mini/image/mini_<%="<%= rewardModel.live2d.charaId %\>00"%>_d.png'>
				</div>
			</div>
			<img src='/magica/resource/image_web/item/main/live2d.png' alt='' class="itemImage">
		<%='<% } else if(presentType === "PIECE" || presentType === "MAXPIECE"){ %\>'%>
			<img data-nativeimgkey="memoria_<%='<%=rewardModel.piece.pieceId%\>'%>_s" data-src="resource/image_native/memoria/memoria_<%='<%=rewardModel.piece.pieceId%\>'%>_s.png" class="itemImage">
		<%='<% } else if(presentType === "GIFT") { %\>'%>
			<img data-nativeimgkey='gift_<%='<%= rewardModel.gift.id %\>'%>' data-src='resource/image_native/gift/item_gift_<%='<%= rewardModel.gift.id %\>'%>.png'>
			<div class="rewardQuantity ts_gold">x<%='<%= rewardModel.quantity %\>'%></div>
		<%='<% } else { %\>'%>
			<img src="/magica/resource/image_web/item/<%='<%= dir %\>'%>/<%='<%= itemName %\>'%>.png">
			<div class="rewardQuantity ts_gold">x<%='<%= rewardModel.quantity %\>'%></div>
		<%='<% } %\>'%>

	</div>

	<span class="missionTitleWrap"><%='<%= model.challenge.displayName %\>'%></span>

	<span class="missionCompleteNum c_gold"><%='<%= model.clearedCount %\>'%>/<%='<%= model.challenge.count %\>'%></span>

	<div class="missionGuageWrap">
		<div class="missionGuageInner"><div class="missionGuage"></div></div>
	</div>

	<span class="btn b_white se_decide missionBtn TE"><span class="b_screen"></span></span>
</script>
