<div id="TermsWrap">
	<span class="linkBtn closeBtn" data-href="#/" ></span>
	<div id="mainWrap">
		<span class="termsTitle">利用規約</span>
		<div class="termsList">
		利用規約テキストが入ります。</div>
	</div>
</div>