#popupArea .selectCaution {
  display: inline-block;
  font-size: 18px;
  line-height: 1.3;
}

#EventTrainingTop {
  width: 1024px;
  height: 100%;
  position: relative;
}

#EventTrainingTop .touch {
  -webkit-transform: scale(0.95) translateZ(0);
}

#EventTrainingTop #eventLogo {
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 10000;
}

#EventTrainingTop #eventLogo img {
  display: block;
}

#EventTrainingTop #helpBtn {
  width: 100px;
  position: absolute;
  top: 13px;
  right: 276px;
  z-index: 10000;
}

#EventTrainingTop #archiveBtn {
  width: 120px;
  position: absolute;
  top: 13px;
  right: 144px;
  z-index: 10000;
}

#EventTrainingTop #eventShopWrap {
  position: absolute;
  bottom: 14px;
  left: 16px;
  z-index: 10;
}

#EventTrainingTop #eventShopWrap .itemNumWrap {
  width: 76px;
  height: 103px;
  margin: 0 auto;
  background: url("/magica/resource/image_web/event/dailytower/common/event_item_bg_w.png") left top no-repeat;
  background-size: 76px 103px;
  position: relative;
}

#EventTrainingTop #eventShopWrap .shopItemImg {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#EventTrainingTop #eventShopWrap .numWrap {
  width: 100%;
  position: absolute;
  bottom: 11px;
  left: 0;
  line-height: 25px;
  text-align: center;
}

#EventTrainingTop #eventShopWrap .shopLinkBtn {
  width: 116px;
  height: 40px;
  margin-top: -1px;
  background: url("/magica/resource/image_web/page/quest/week/btn_shop.png") left top no-repeat;
  position: relative;
}

#EventTrainingTop #missionLinkBtn {
  width: 90px;
  height: 94px;
  background: url("/magica/resource/image_web/event/training/common/btn_limited_mission.png") left top no-repeat;
  position: absolute;
  bottom: 167px;
  left: 29px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  z-index: 10;
}

#EventTrainingTop #charaChangeLink {
  width: 166px;
  height: 60px;
  background: url("/magica/resource/image_web/event/training/common/btn_chara_change.png") left top no-repeat;
  position: absolute;
  bottom: 14px;
  left: 185px;
  z-index: 100;
}

#EventTrainingTop #trainingCharaImg {
  position: relative;
  z-index: 1;
}

#EventTrainingTop #trainingCharaImg.imgs .mainImg, #EventTrainingTop #trainingCharaImg.imgs .subImg {
  width: 1024px;
  height: 768px;
  position: absolute;
  overflow: hidden;
}

#EventTrainingTop #trainingCharaImg.imgs .mainImg {
  width: 624px;
  top: -webkit-calc(50% + 94px);
  left: -338px;
  -webkit-transform: translateZ(0);
  z-index: 2;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(95%, black), to(rgba(0, 0, 0, 0)));
}

#EventTrainingTop #trainingCharaImg.imgs .subImg {
  width: 720px;
  top: -webkit-calc(50% + 15px);
  right: 154px;
  -webkit-transform: translateZ(0);
  z-index: 1;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(25%, black), to(black));
}

#EventTrainingTop #trainingCharaImg.imgs .subImg img {
  position: relative;
  left: -304px;
}

#EventTrainingTop #scrollOuter {
  width: 100%;
  height: -webkit-calc(100% - 23px);
  overflow: hidden;
}

#EventTrainingTop #scrollOuter .scrollInner {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-top: 25px;
  padding-bottom: 100px;
}

#EventTrainingTop #btnWrap {
  width: 542px;
  height: 60px;
  position: absolute;
  top: -webkit-calc(50% - 219px);
  right: 7px;
  z-index: 100;
}

#EventTrainingTop #btnWrap #tabBtns {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#EventTrainingTop #btnWrap #tabBtns .tabBtn {
  width: 178px;
  height: 60px;
  background: url("/magica/resource/image_web/event/training/common/tab_off.png") left top no-repeat;
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
}

#EventTrainingTop #btnWrap #tabBtns .tabBtn.current {
  background: url("/magica/resource/image_web/event/training/common/tab_on.png") left top no-repeat;
  text-shadow: 0 0 !important;
}

#EventTrainingTop #btnWrap #tabBtns .tabBtn#storyTabBtn {
  display: none;
}

#EventTrainingTop #btnWrap #tabBtns.btnS .tabBtn {
  width: 134px;
  height: 60px;
  background: url("/magica/resource/image_web/event/training/common/tab_off_s.png") left top no-repeat;
}

#EventTrainingTop #btnWrap #tabBtns.btnS .tabBtn.current {
  background: url("/magica/resource/image_web/event/training/common/tab_on_s.png") left top no-repeat;
}

#EventTrainingTop #btnWrap #tabBtns.btnS .tabBtn#storyTabBtn {
  display: block;
}

#EventTrainingTop #btnWrap #tabBtns .tabBtn {
  text-shadow: -1px -1px 2px #2946ad, 1px -1px 2px #2946ad, -1px 1px 2px #2946ad, 1px 1px 2px #2946ad, -1px -1px 2px #2946ad, 1px -1px 2px #2946ad, -1px 1px 2px #2946ad, 1px 1px 2px #2946ad;
}

#EventTrainingTop #btnWrap #tabBtns .tabBtn.current {
  color: #135bc6;
}

#EventTrainingTop #questWrap {
  width: 542px;
  height: 430px;
  padding: 46px 10px 0 26px;
  position: absolute;
  top: -webkit-calc(50% - 152px);
  right: 7px;
  z-index: 100;
}

#EventTrainingTop #questWrap h2 {
  width: 538px;
  padding: 0 20px;
  background: -webkit-linear-gradient(45deg, transparent 0, #ffffff 0), -webkit-linear-gradient(315deg, transparent 0, #ffffff 0), -webkit-linear-gradient(225deg, transparent 9px, #ffffff 10px), -webkit-linear-gradient(315deg, transparent 9px, #ffffff 10px) !important;
  background: -o-linear-gradient(45deg, transparent 0, #ffffff 0), -o-linear-gradient(315deg, transparent 0, #ffffff 0), -o-linear-gradient(225deg, transparent 9px, #ffffff 10px), -o-linear-gradient(315deg, transparent 9px, #ffffff 10px) !important;
  background: linear-gradient(45deg, transparent 0, #ffffff 0), linear-gradient(135deg, transparent 0, #ffffff 0), linear-gradient(225deg, transparent 9px, #ffffff 10px), linear-gradient(495deg, transparent 9px, #ffffff 10px) !important;
  background-repeat: no-repeat !important;
  background-position: bottom left, bottom right, top right, top left !important;
  background-size: 55% 55% !important;
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 19px;
  line-height: 44px;
  z-index: 1;
}

#EventTrainingTop #questWrap .missionBtn {
  width: 122px;
  position: absolute;
  top: 7px;
  right: 22px;
  z-index: 1000;
}

#EventTrainingTop #questWrap h2 {
  color: #135bc6;
}

#EventTrainingTop #questWrap .questTitle, #EventTrainingTop #questWrap .secondView li {
  color: #ffffff;
  text-shadow: -1px -1px 1px #2946ad, 1px -1px 1px #2946ad, -1px 1px 1px #2946ad, 1px 1px 1px #2946ad, -1px -1px #2946ad, 1px -1px #2946ad, -1px 1px #2946ad, 1px 1px #2946ad, -1px -1px 2px #2946ad, 1px -1px 2px #2946ad, -1px 1px 2px #2946ad, 1px 1px 2px #2946ad, -1px -1px 2px #2946ad, 1px -1px 2px #2946ad, -1px 1px 2px #2946ad, 1px 1px 2px #2946ad, -1px -1px 3px #2946ad, 1px -1px 3px #2946ad, -1px 1px 3px #2946ad, 1px 1px 3px #2946ad;
}

#EventTrainingTop #storyQuest, #EventTrainingTop #composeQuest, #EventTrainingTop #episodeQuest, #EventTrainingTop #extraQuest, #EventTrainingTop #extraChallengeQuest {
  display: none;
}

#EventTrainingTop #storyQuest.show, #EventTrainingTop #composeQuest.show, #EventTrainingTop #episodeQuest.show, #EventTrainingTop #extraQuest.show, #EventTrainingTop #extraChallengeQuest.show {
  display: block;
}

#EventTrainingTop #extraChallengeQuest .quest .questState.comp:before {
  width: 46px;
  height: 46px;
  background: url("/magica/resource/image_web/event/dailytower/common/quest_state_ex_comp.png");
  display: block;
  position: absolute;
  top: 9px;
  left: -27px;
  content: "";
  z-index: 1000;
}

#EventTrainingTop .firstView, #EventTrainingTop .secondView {
  display: none;
}

#EventTrainingTop .first .firstView {
  display: block;
}

#EventTrainingTop .second .secondView {
  display: block;
}

#EventTrainingTop .secondView {
  padding: 15px 0 0 45px;
}

#EventTrainingTop .secondView li {
  padding-left: 25px;
  position: relative;
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
}

#EventTrainingTop .secondView li:before {
  width: 20px;
  height: 20px;
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_s_off.png") left top no-repeat;
  background-size: 20px 20px;
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
}

#EventTrainingTop .secondView li.cleared:before {
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_s_on.png") left top no-repeat;
  background-size: 20px 20px;
}

#EventTrainingTop .quest {
  width: 434px;
  height: 88px;
  margin: 0 0 20px 0;
  background: url("/magica/resource/image_web/event/training/common/bg_quest_battle.png") left top no-repeat;
  position: relative;
}

#EventTrainingTop .quest .pointFrame {
  width: 118px;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  z-index: 100;
}

#EventTrainingTop .quest .pointFrame.apFrame, #EventTrainingTop .quest .pointFrame.apItemFrame, #EventTrainingTop .quest .pointFrame.difficultyFrame {
  position: absolute;
  bottom: -12px;
}

#EventTrainingTop .quest .pointFrame.apFrame, #EventTrainingTop .quest .pointFrame.apItemFrame {
  right: 42px;
}

#EventTrainingTop .quest .pointFrame.apItemFrame {
  padding-left: 30px;
}

#EventTrainingTop .quest .pointFrame.difficultyFrame {
  right: 160px;
}

#EventTrainingTop .quest .pointFrame span {
  width: 30px;
  display: inline-block;
  text-align: right;
}

#EventTrainingTop .quest .pointFrame .apItemImg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  left: 4px;
}

#EventTrainingTop .quest .questState {
  position: absolute;
  top: -8px;
  left: 26px;
}

#EventTrainingTop .quest .questState {
  display: block;
}

#EventTrainingTop .quest .questState.new {
  width: 84px;
  height: 21px;
  background: url("/magica/resource/image_web/page/quest/quest_state_new.png") left top no-repeat;
}

#EventTrainingTop .quest .questState.clear {
  width: 60px;
  height: 18px;
  background: url("/magica/resource/image_web/page/quest/quest_state_clear.png") left top no-repeat;
}

#EventTrainingTop .quest .questState.comp {
  width: 96px;
  height: 18px;
  background: url("/magica/resource/image_web/page/quest/quest_state_comp.png") left top no-repeat;
}

#EventTrainingTop .quest .questTitle {
  margin: 29px 0 0 60px;
  display: inline-block;
  position: relative;
  font-size: 20px;
  z-index: 100;
}

#EventTrainingTop .quest .mission {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 55px;
  bottom: 25px;
  z-index: 100;
}

#EventTrainingTop .quest .mission li {
  width: 38px;
  height: 38px;
  margin: 0 0 0 -5px;
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_l_off.png") left top no-repeat;
}

#EventTrainingTop .quest .mission li.cleared {
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_l_on.png") left top no-repeat;
}

#EventTrainingTop .quest .treasure {
  width: 96px;
  height: 96px;
  background: url("/magica/resource/image_web/page/quest/questBattle/bg_reward.png") left top no-repeat;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -48px;
  bottom: -7px;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#EventTrainingTop .quest .treasure .title {
  width: 116px;
  height: 22px;
  background: url("/magica/resource/image_web/page/quest/questBattle/mission.png") left top no-repeat;
  position: absolute;
  top: -4px;
  left: -10px;
}

#EventTrainingTop .quest .treasure .title.clear {
  background: url("/magica/resource/image_web/page/quest/questBattle/complete.png") left top no-repeat;
}

#EventTrainingTop .quest .treasure .itemImg {
  width: 47px;
  height: 47px;
}

#EventTrainingTop .quest .treasure .treasureImg {
  width: 60px;
  height: 60px;
}

#EventTrainingTop .quest .touchObj {
  position: absolute;
  left: 0;
  top: 0;
  width: 391px;
  height: 88px;
  z-index: 105;
}
