#menu {
  display: none;
}

#EventAccomplishEnemyDetail {
  width: 1024px;
  height: 100%;
  position: relative;
}
#EventAccomplishEnemyDetail .touch {
  -webkit-transform: scale(0.95) translateZ(0);
}
#EventAccomplishEnemyDetail #battleDetail {
  position: absolute;
  top: 85px;
  left: 0;
}
#EventAccomplishEnemyDetail #battleDetail .battleTitle {
  width: 202px;
  height: 42px;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, black), color-stop(100%, rgba(0, 0, 0, 0)));
  position: relative;
}
#EventAccomplishEnemyDetail #battleDetail .battleTitle .title {
  width: 174px;
  height: 30px;
  position: absolute;
  top: -23px;
  left: 0;
}
#EventAccomplishEnemyDetail #battleDetail .battleTitle .battle {
  width: 90px;
  height: 22px;
  position: absolute;
  bottom: 6px;
  left: 12px;
}
#EventAccomplishEnemyDetail #battleDetail .battleTitle .battleNum {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: 6px;
  left: 107px;
}
#EventAccomplishEnemyDetail #battleDetail .battleTitle .battleNum div {
  width: 18px;
  height: 22px;
  margin-right: -2px;
}
#EventAccomplishEnemyDetail #battleDetail .battleTitle .battleNum div.num1 {
  width: 14px;
}
#EventAccomplishEnemyDetail #battleDetail .ap, #EventAccomplishEnemyDetail #battleDetail .difficulty {
  width: 112px;
  height: 24px;
  margin-top: 6px;
  margin-left: 8px;
  background: #000000;
  display: -webkit-flex;
  display: flex;
  -webkit-border-radius: 4px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#EventAccomplishEnemyDetail #battleDetail .ap p, #EventAccomplishEnemyDetail #battleDetail .difficulty p {
  padding: 0 9px;
  color: #ffea9a;
  line-height: 24px;
}
#EventAccomplishEnemyDetail .unknownBoss {
  width: 568px;
  height: 384px;
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_unknown.png") left top no-repeat;
  position: absolute;
  top: -webkit-calc(50% - 192px);
  left: -webkit-calc(50% - 284px);
}
#EventAccomplishEnemyDetail .bossHpWrap {
  width: 460px;
  height: 26px;
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/bg_gauge_boss.png") left top no-repeat;
  position: absolute;
  bottom: 122px;
  left: -webkit-calc(50% - 230px);
}
#EventAccomplishEnemyDetail .bossHpWrap .gauge {
  width: 340px;
  height: 14px;
  position: absolute;
  top: 6px;
  left: 108px;
}
#EventAccomplishEnemyDetail .bossHpWrap .gauge .gaugeInner {
  width: 100%;
  height: 14px;
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_gauge_l.png") left top no-repeat, url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_gauge_r.png") right top no-repeat, url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_gauge_c.png") left top repeat-x;
  position: absolute;
  top: 0;
  left: 0;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  right: 12px;
  bottom: 18px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div {
  width: 17px;
  height: 24px;
  margin-left: -2px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num0 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_0.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num1 {
  width: 11px;
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_1.png") left top no-repeat;
  background-size: 11px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num2 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_2.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num3 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_3.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num4 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_4.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num5 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_5.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num6 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_6.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num7 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_7.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num8 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_8.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.num9 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_9.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .bossHpWrap .numWrap div.sla {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/boss_num_diagonal.png") left top no-repeat;
  background-size: 17px 24px;
}
#EventAccomplishEnemyDetail .wave {
  width: 188px;
  height: 20px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(70%, black), color-stop(100%, black));
  position: absolute;
  top: 107px;
  right: 0;
}
#EventAccomplishEnemyDetail .wave .title {
  width: 78px;
  height: 26px;
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/header_wave.png") left top no-repeat;
  position: absolute;
  bottom: 4px;
  left: 45px;
}
#EventAccomplishEnemyDetail .wave .numWrap {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: 4px;
  left: 128px;
}
#EventAccomplishEnemyDetail .wave .numWrap div {
  width: 20px;
  height: 26px;
  margin-right: -2px;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num0 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_0.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num1 {
  width: 16px;
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_1.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num2 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_2.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num3 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_3.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num4 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_4.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num5 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_5.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num6 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_6.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num7 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_7.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num8 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_8.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.num9 {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_9.png") left top no-repeat;
}
#EventAccomplishEnemyDetail .wave .numWrap div.sla {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/wave_num_diagonal.png") left top no-repeat;
}
#EventAccomplishEnemyDetail #arrowR {
  width: 64px;
  height: 78px;
  background: url("/magica/resource/image_web/page/formation_2/arrow_r.png") left top no-repeat;
  position: absolute;
  top: -webkit-calc(50% - 40px);
  right: 20px;
}
#EventAccomplishEnemyDetail #arrowR.hide {
  display: none;
}
#EventAccomplishEnemyDetail #arrowL {
  width: 64px;
  height: 78px;
  background: url("/magica/resource/image_web/page/formation_2/arrow_l.png") left top no-repeat;
  position: absolute;
  top: -webkit-calc(50% - 40px);
  left: 20px;
}
#EventAccomplishEnemyDetail #arrowL.hide {
  display: none;
}
#EventAccomplishEnemyDetail #questDetail {
  width: 752px;
  height: 98px;
  padding: 16px;
  background: #000000;
  position: absolute;
  bottom: 13px;
  left: 36px;
  border: #b28850 2px solid;
  -webkit-border-radius: 12px;
}
#EventAccomplishEnemyDetail #questDetail .wrap {
  display: -webkit-flex;
  display: flex;
}
#EventAccomplishEnemyDetail #questDetail .wrap .title {
  width: 136px;
  height: 26px;
  margin-bottom: 10px;
  background: #b28850;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  -webkit-border-radius: 4px;
}
#EventAccomplishEnemyDetail #questDetail .wrap .text {
  padding-left: 22px;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}
#EventAccomplishEnemyDetail #deckFormationLinkBtn {
  width: 190px;
  height: 64px;
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/btn_challenge.png") left top no-repeat;
  position: absolute;
  right: 23px;
  bottom: 29px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
#EventAccomplishEnemyDetail #deckFormationLinkBtn.lock {
  background: url("/magica/resource/image_web/event/accomplish/common/enemyDetail/btn_challenge_gray.png") left top no-repeat;
}
