.rewardPopup .popupInner .text {
  font-size: 21px;
  line-height: 21px;
  margin: 18px 0 0;
}

.rewardPopup .popupInner .text2 {
  font-size: 14px;
  line-height: 14px;
  margin: 10px 0 14px;
}

.rewardPopup #popScrollOuter {
  width: 883px;
  height: 344px;
  overflow: hidden;
  margin-left: 40px;
}

.rewardPopup #popScrollOuter .popScrollInner {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 10px;
  padding-top: 4px;
}

.rewardPopup #popScrollOuter .popScrollInner img {
  display: block;
}

#EventAccomplishTop {
  width: 1024px;
  height: 100%;
  position: relative;
}

#EventAccomplishTop .touch {
  -webkit-transform: scale(0.95) translateZ(0) !important;
}

#EventAccomplishTop #schedulePopBtn {
  width: 116px;
  height: 40px;
  position: absolute;
  bottom: 138px;
  left: 16px;
  z-index: 1000;
  background: url("/magica/resource/image_web/event/accomplish/common/btn_reward.png") left top no-repeat;
}

#EventAccomplishTop #eventLogo {
  position: absolute;
  top: 52px;
  left: 0;
}

#EventAccomplishTop #eventLogo img {
  display: block;
}

#EventAccomplishTop #helpBtn {
  width: 100px;
  position: absolute;
  top: 13px;
  right: 276px;
  z-index: 10000;
}

#EventAccomplishTop #archiveBtn {
  width: 120px;
  position: absolute;
  top: 13px;
  right: 144px;
  z-index: 10000;
}

#EventAccomplishTop #eventShopWrap {
  position: absolute;
  bottom: 192px;
  left: 16px;
  z-index: 10;
}

#EventAccomplishTop #eventShopWrap .itemNumWrap {
  width: 86px;
  height: 116px;
  margin: 0 0 0 15px;
  background: url("/magica/resource/image_web/event/accomplish/common/event_item_bg_w.png") left top no-repeat;
  position: relative;
}

#EventAccomplishTop #eventShopWrap .shopItemImg {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 11px;
  left: 11px;
}

#EventAccomplishTop #eventShopWrap .numWrap {
  width: 100%;
  position: absolute;
  bottom: 13px;
  left: 0;
  line-height: 28px;
  text-align: center;
}

#EventAccomplishTop #eventShopWrap .shopLinkBtn {
  width: 116px;
  height: 40px;
  margin-top: -1px;
  background: url("/magica/resource/image_web/page/quest/week/btn_shop.png") left top no-repeat;
  position: relative;
}

#EventAccomplishTop .charaSerif {
  width: 448px;
  height: 160px;
  padding: 45px 40px 0 50px;
  background: url("/magica/resource/image_web/page/quest/questBattle/bg_serif.png") left top no-repeat;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: 7px;
  left: -3px;
  font-size: 22px;
  line-height: 1.3;
  -webkit-border-radius: 10px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

#EventAccomplishTop .charaSerif .charaName {
  width: 208px;
  height: 20px;
  position: absolute;
  top: 29px;
  left: 190px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

#EventAccomplishTop .charaSerif .serifFont {
  width: 358px;
  display: block;
  color: #5a5a5a;
  font-size: 20px;
  line-height: 1.3;
  white-space: normal;
  word-wrap: break-word;
  text-shadow: 0 0 0;
}

#EventAccomplishTop #recoveryLinkBtn {
  width: 102px;
  height: 106px;
  padding-top: 45px;
  background: url("/magica/resource/image_web/event/accomplish/common/btn_cure.png") left top no-repeat;
  position: absolute;
  bottom: 140px;
  left: 335px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  z-index: 10;
}

#EventAccomplishTop #gaugeWrap {
  width: 22px;
  height: 410px;
  background: url("/magica/resource/image_web/event/accomplish/common/bg_progress_gauge_a.png") left top no-repeat;
  position: absolute;
  bottom: 18px;
  left: 464px;
  z-index: 100;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#EventAccomplishTop #gaugeWrap:before {
  width: 72px;
  height: 58px;
  display: block;
  content: "";
  position: absolute;
  top: -47px;
  left: -webkit-calc(50% - 36px);
}

#EventAccomplishTop #gaugeWrap .gaugeInner {
  width: 12px;
  height: 388px;
  position: absolute;
  bottom: 11px;
  left: 5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#EventAccomplishTop #gaugeWrap .gaugeInner .gauge {
  width: 12px;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#EventAccomplishTop #gaugeWrap .gaugeInner .gauge .cnt {
  padding-left: 12px;
  width: 56px;
  height: 46px;
  position: absolute;
  top: -23px;
  left: 5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#EventAccomplishTop #gaugeWrap .gaugeInner .gauge .cnt span {
  width: 18px;
  height: 22px;
  display: block;
  margin-left: -2px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#EventAccomplishTop #gaugeWrap .gaugeInner .gauge .cnt span.cnt1 {
  width: 14px;
}

#EventAccomplishTop .missionBtn {
  width: 122px;
  position: absolute;
  top: 87px;
  right: 22px;
  z-index: 1000;
}

#EventAccomplishTop #questWrap {
  width: 510px;
  height: -webkit-calc(100% - 65px);
  padding: 46px 10px 0 26px;
  position: absolute;
  top: 80px;
  right: 8px;
}

#EventAccomplishTop #questWrap #questWrapTitle {
  width: 506px;
  height: 44px;
  padding: 0 20px;
  background: linear-gradient(45deg, transparent 0, #ffffff 0), linear-gradient(135deg, transparent 0, #ffffff 0), linear-gradient(225deg, transparent 9px, #ffffff 10px), linear-gradient(495deg, transparent 9px, #ffffff 10px) !important;
  background-repeat: no-repeat !important;
  background-position: bottom left, bottom right, top right, top left !important;
  background-size: 52% 52% !important;
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 19px;
  line-height: 44px;
  z-index: 1;
}

#EventAccomplishTop #questWrap #questWrapTitle:before {
  width: 354px;
  height: 70px;
  content: "";
  position: absolute;
  top: -27px;
  left: -38px;
}

#EventAccomplishTop #scrollOuter {
  width: 100%;
  height: -webkit-calc(100% - 15px);
  overflow: hidden;
}

#EventAccomplishTop #scrollOuter .scrollInner {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-top: 14px;
  padding-bottom: 100px;
}

#EventAccomplishTop #scrollOuter .allClear {
  width: 426px;
  height: 236px;
  background: url("/magica/resource/image_web/event/accomplish/common/quest_complete.png") left top no-repeat;
  position: absolute;
  top: -webkit-calc(50% - 118px);
  left: -webkit-calc(50% - 213px);
  display: none;
}

#EventAccomplishTop #scrollOuter .allClear.show {
  display: block;
}

#EventAccomplishTop .firstView, #EventAccomplishTop .secondView {
  display: none;
}

#EventAccomplishTop .first .firstView {
  display: block;
}

#EventAccomplishTop .second .secondView {
  display: block;
}

#EventAccomplishTop .secondView {
  padding: 15px 0 0 50px;
}

#EventAccomplishTop .secondView li {
  padding-left: 25px;
  position: relative;
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
}

#EventAccomplishTop .secondView li:before {
  width: 20px;
  height: 20px;
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_s_off.png") left top no-repeat;
  background-size: 20px 20px;
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
}

#EventAccomplishTop .secondView li.cleared:before {
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_s_on.png") left top no-repeat;
  background-size: 20px 20px;
}

#EventAccomplishTop .normal .quest .questTitle, #EventAccomplishTop .normal .quest .secondView {
  text-shadow: -1px -1px 2px #dd5300, 1px -1px 2px #dd5300, -1px 1px 2px #dd5300, 1px 1px 2px #dd5300, -1px -1px 2px #dd5300, 1px -1px 2px #dd5300, -1px 1px 2px #dd5300, 1px 1px 2px #dd5300;
}

#EventAccomplishTop .challenge .quest .questTitle, #EventAccomplishTop .challenge .quest .secondView {
  text-shadow: -1px -1px 2px #8b2295, 1px -1px 2px #8b2295, -1px 1px 2px #8b2295, 1px 1px 2px #8b2295, -1px -1px 2px #8b2295, 1px -1px 2px #8b2295, -1px 1px 2px #8b2295, 1px 1px 2px #8b2295;
}

#EventAccomplishTop .normal .quest.typeBoss .questTitle, #EventAccomplishTop .normal .quest.typeBoss .secondView,
#EventAccomplishTop .challenge .quest.typeBoss .questTitle,
#EventAccomplishTop .challenge .quest.typeBoss .secondView {
  text-shadow: -1px -1px 2px #de3965, 1px -1px 2px #de3965, -1px 1px 2px #de3965, 1px 1px 2px #de3965, -1px -1px 2px #de3965, 1px -1px 2px #de3965, -1px 1px 2px #de3965, 1px 1px 2px #de3965;
}

#EventAccomplishTop .quest {
  width: 408px;
  height: 88px;
  margin: 0 0 30px 0;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-filter: saturate(35%) brightness(60%);
  filter: saturate(35%) brightness(60%);
}

#EventAccomplishTop .quest.typeBoss:before {
  width: 94px;
  height: 34px;
  content: "";
  position: absolute;
  top: -14px;
  left: 18px;
  z-index: 1000;
  display: block;
}

#EventAccomplishTop .quest.canPlay {
  -webkit-filter: none;
  filter: none;
  pointer-events: auto;
}

#EventAccomplishTop .quest .pointFrame {
  width: 118px;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  z-index: 100;
}

#EventAccomplishTop .quest .pointFrame.apFrame, #EventAccomplishTop .quest .pointFrame.apItemFrame, #EventAccomplishTop .quest .pointFrame.difficultyFrame {
  position: absolute;
  bottom: -12px;
}

#EventAccomplishTop .quest .pointFrame.apFrame, #EventAccomplishTop .quest .pointFrame.apItemFrame {
  right: 54px;
}

#EventAccomplishTop .quest .pointFrame.apItemFrame {
  padding-left: 30px;
}

#EventAccomplishTop .quest .pointFrame.difficultyFrame {
  right: 172px;
}

#EventAccomplishTop .quest .pointFrame span {
  width: 30px;
  display: inline-block;
  text-align: right;
}

#EventAccomplishTop .quest .pointFrame .apItemImg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  left: 4px;
}

#EventAccomplishTop .quest .questState {
  position: absolute;
  top: -8px;
  left: 26px;
}

#EventAccomplishTop .quest .questTitle {
  margin: 29px 0 0 65px;
  display: inline-block;
  font-size: 20px;
  position: relative;
  z-index: 100;
}

#EventAccomplishTop .quest .mission {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  right: 65px;
  bottom: 25px;
  z-index: 100;
}

#EventAccomplishTop .quest .mission li {
  width: 38px;
  height: 38px;
  margin: 0 0 0 -5px;
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_l_off.png") left top no-repeat;
}

#EventAccomplishTop .quest .mission li.cleared {
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_l_on.png") left top no-repeat;
}

#EventAccomplishTop .quest .treasure {
  width: 96px;
  height: 96px;
  background: url("/magica/resource/image_web/page/quest/questBattle/bg_reward.png") left top no-repeat;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  right: -40px;
  bottom: -7px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#EventAccomplishTop .quest .treasure .title {
  width: 116px;
  height: 22px;
  background: url("/magica/resource/image_web/page/quest/questBattle/mission.png") left top no-repeat;
  position: absolute;
  top: -4px;
  left: -10px;
}

#EventAccomplishTop .quest .treasure .title.clear {
  background: url("/magica/resource/image_web/page/quest/questBattle/complete.png") left top no-repeat;
}

#EventAccomplishTop .quest .treasure .itemImg {
  width: 47px;
  height: 47px;
}

#EventAccomplishTop .quest .treasure .treasureImg {
  width: 60px;
  height: 60px;
}

#EventAccomplishTop .quest .touchObj {
  position: absolute;
  left: 0;
  top: 0;
  width: 356px;
  height: 88px;
  z-index: 105;
}
