#charaListScrollWrap #charaListElms .userCharaIcon.death:before {
  width: 74px;
  height: 74px;
  background: -webkit-radial-gradient(50% 50%, cover, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  -webkit-border-radius: 39px;
  z-index: 8; }

#charaListScrollWrap #charaListElms .userCharaIcon.death .att:before {
  width: 80px;
  height: 24px;
  background: url("/magica/resource/image_web/event/accomplish/common/deck/icon_chara_list_die.png") left top no-repeat;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  z-index: 100; }

#charaListScrollWrap #charaListElms .userCharaIcon .gauge {
  display: block;
  width: 60px;
  height: 16px;
  position: absolute;
  top: -16px;
  left: -webkit-calc(50% - 30px); }
  #charaListScrollWrap #charaListElms .userCharaIcon .gauge .hpGauge, #charaListScrollWrap #charaListElms .userCharaIcon .gauge .mpGauge {
    width: 60px;
    height: 8px;
    background: url("/magica/resource/image_web/event/accomplish/common/deck/bg_gauge.png") left top no-repeat;
    position: relative; }
    #charaListScrollWrap #charaListElms .userCharaIcon .gauge .hpGauge .gaugeInner01, #charaListScrollWrap #charaListElms .userCharaIcon .gauge .hpGauge .gaugeInner02, #charaListScrollWrap #charaListElms .userCharaIcon .gauge .mpGauge .gaugeInner01, #charaListScrollWrap #charaListElms .userCharaIcon .gauge .mpGauge .gaugeInner02 {
      width: 48px;
      height: 4px;
      position: absolute;
      top: 2px;
      left: 6px; }
      #charaListScrollWrap #charaListElms .userCharaIcon .gauge .hpGauge .gaugeInner01 .gaugeBg, #charaListScrollWrap #charaListElms .userCharaIcon .gauge .hpGauge .gaugeInner02 .gaugeBg, #charaListScrollWrap #charaListElms .userCharaIcon .gauge .mpGauge .gaugeInner01 .gaugeBg, #charaListScrollWrap #charaListElms .userCharaIcon .gauge .mpGauge .gaugeInner02 .gaugeBg {
        width: 0%;
        height: 100%; }
  #charaListScrollWrap #charaListElms .userCharaIcon .gauge .hpGauge .gaugeInner01 {
    z-index: 2; }
    #charaListScrollWrap #charaListElms .userCharaIcon .gauge .hpGauge .gaugeInner01 .gaugeBg {
      background: url("/magica/resource/image_web/event/accomplish/common/deck/gauge_hp.png") left bottom repeat-x; }
  #charaListScrollWrap #charaListElms .userCharaIcon .gauge .hpGauge .gaugeInner02 {
    z-index: 1; }
    #charaListScrollWrap #charaListElms .userCharaIcon .gauge .hpGauge .gaugeInner02 .gaugeBg {
      background: url("/magica/resource/image_web/event/accomplish/common/deck/gauge_hp_memoria.png") left bottom repeat-x; }
  #charaListScrollWrap #charaListElms .userCharaIcon .gauge .mpGauge .gaugeInner01 {
    z-index: 2; }
    #charaListScrollWrap #charaListElms .userCharaIcon .gauge .mpGauge .gaugeInner01 .gaugeBg {
      background: url("/magica/resource/image_web/event/accomplish/common/deck/gauge_doppel.png") left bottom repeat-x; }
  #charaListScrollWrap #charaListElms .userCharaIcon .gauge .mpGauge .gaugeInner02 {
    z-index: 1; }
    #charaListScrollWrap #charaListElms .userCharaIcon .gauge .mpGauge .gaugeInner02 .gaugeBg {
      background: url("/magica/resource/image_web/event/accomplish/common/deck/gauge_magia.png") left bottom repeat-x; }

#DeckFormation.EventAccomplish .recoveryLink {
  width: 144px;
  height: 46px;
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 10000;
  background: url("/magica/resource/image_web/event/accomplish/common/deck/btn_cure.png") left top no-repeat; }
  #DeckFormation.EventAccomplish .recoveryLink.hide {
    display: none; }

#DeckFormation.EventAccomplish .deckViewWrap.memoriaEquipMode .recoveryWrap {
  display: none; }

#DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .recoveryWrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-border-radius: 5px 5px 15px 15px;
  z-index: 1000; }
  #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .recoveryWrap:before {
    content: "";
    width: 132px;
    height: 28px;
    display: block;
    position: absolute;
    top: -webkit-calc(50% - 47px);
    left: 5px;
    background: url("/magica/resource/image_web/event/accomplish/common/deck/icon_die.png") left top no-repeat; }
  #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .recoveryWrap .revivedAtWrap {
    width: 108px;
    height: 48px;
    background: url("/magica/resource/image_web/event/accomplish/common/deck/bg_cure_time.png") left top no-repeat;
    line-height: 30px;
    padding-top: 18px;
    text-align: center;
    position: absolute;
    top: -webkit-calc(50% - 11px);
    left: -webkit-calc(50% - 54px); }
    #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .recoveryWrap .revivedAtWrap .textBox {
      font-size: 14px;
      line-height: 30px;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .recoveryWrap .revivedAtWrap .textBox .revivedAtDisp {
        width: 68px;
        text-align: center;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        font-size: 18px;
        line-height: 30px; }

#DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .memoriaSkillWrap {
  z-index: 999; }

#DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status {
  padding: 39px 3px 0; }
  #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .mb {
      margin-bottom: 3px; }
    #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .small {
      font-size: 12px; }
    #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus dt {
      width: 36px; }
    #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus dd {
      width: 56px; }
    #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge {
      width: 132px;
      height: 14px;
      position: relative;
      top: 0;
      font-size: 12px;
      padding-right: 5px; }
      #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.hpGauge {
        background: url("/magica/resource/image_web/event/accomplish/common/deck/bg_gauge_hp.png") left bottom repeat-x; }
        #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.hpGauge .gaugeInner01 {
          z-index: 2; }
          #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.hpGauge .gaugeInner01 .gaugeBg {
            background: url("/magica/resource/image_web/event/accomplish/common/deck/gauge_hp.png") left bottom repeat-x; }
        #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.hpGauge .gaugeInner02 {
          z-index: 1; }
          #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.hpGauge .gaugeInner02 .gaugeBg {
            background: url("/magica/resource/image_web/event/accomplish/common/deck/gauge_hp_memoria.png") left bottom repeat-x; }
      #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.mpGauge {
        background: url("/magica/resource/image_web/event/accomplish/common/deck/bg_gauge_mp.png") left bottom repeat-x; }
        #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.mpGauge .gaugeInner01 {
          z-index: 2; }
          #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.mpGauge .gaugeInner01 .gaugeBg {
            background: url("/magica/resource/image_web/event/accomplish/common/deck/gauge_doppel.png") left bottom repeat-x; }
        #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.mpGauge .gaugeInner02 {
          z-index: 1; }
          #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge.mpGauge .gaugeInner02 .gaugeBg {
            background: url("/magica/resource/image_web/event/accomplish/common/deck/gauge_magia.png") left bottom repeat-x; }
      #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge .gaugeInner01, #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge .gaugeInner02 {
        width: 48px;
        height: 4px;
        position: absolute;
        top: 8px;
        left: 30px; }
        #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge .gaugeInner01 .gaugeBg, #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status .charaStatus .gauge .gaugeInner02 .gaugeBg {
          width: 0%;
          height: 100%; }
  #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status #rare {
    margin: 0 0 0; }
  #DeckFormation.EventAccomplish .deckViewWrap .deckPartsWrap .deckParts .status #level {
    font-size: 15px; }

#DeckFormation.EventAccomplish .formationHead .head {
  background: url("/magica/resource/image_web/event/accomplish/common/deck/bg_deck_formation_accomplish.png") left bottom no-repeat; }

#DeckFormation.EventAccomplish .formationHead .formationMiniMap {
  background: url("/magica/resource/image_web/event/accomplish/common/deck/bg_formation_accomplish_s_02.png") left bottom no-repeat; }

#DeckFormation.EventAccomplish .formationSheet {
  background: url("/magica/resource/image_web/event/accomplish/common/deck/bg_formation_accomplish_l.png") left bottom no-repeat;
  background-size: 236px 220px; }

#DeckFormation.EventAccomplish.formation .formationMiniMap {
  background: url("/magica/resource/image_web/event/accomplish/common/deck/bg_formation_accomplish_s.png") left bottom no-repeat; }

#DeckFormation.EventAccomplish.formation .formationSheet {
  background-size: 440px 410px; }

#DeckFormation.EventAccomplish.formation .recoveryLink {
  display: none; }

#DeckFormation.EventAccomplish.deckChange .deckSelectDetail .formationMiniMap {
  background: url("/magica/resource/image_web/event/accomplish/common/deck/bg_formation_accomplish_s.png") left bottom no-repeat; }

#DeckFormation.EventAccomplish.deckChange .recoveryLink {
  display: none; }

#DeckFormation.EventAccomplish.deckChange .deckSelectInner {
  -webkit-justify-content: flex-start !important;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  -webkit-align-content: start !important;
  -ms-flex-line-pack: start !important;
  align-content: start !important; }
  #DeckFormation.EventAccomplish.deckChange .deckSelectInner .deckSelectDetail {
    margin-bottom: 20px;
    margin-right: 10px; }
    #DeckFormation.EventAccomplish.deckChange .deckSelectInner .deckSelectDetail:nth-child(3n) {
      margin-right: 0px !important; }

#DeckFormation.EventAccomplish.preview .recoveryLink {
  display: none; }

#DeckFormation.EventAccomplish .formationMiniMap {
  width: 50px;
  height: 50px;
  background: url("/magica/resource/image_web/page/formation/bg_formation_s.png") left bottom no-repeat;
  position: relative; }
  #DeckFormation.EventAccomplish .formationMiniMap span {
    width: 10px;
    height: 10px;
    background: url("/magica/resource/image_web/page/formation/bg_formation_s_off.png") left bottom no-repeat;
    display: block;
    position: absolute; }
    #DeckFormation.EventAccomplish .formationMiniMap span.on {
      background: url("/magica/resource/image_web/page/formation/bg_formation_s_on.png") left bottom no-repeat; }
  #DeckFormation.EventAccomplish .formationMiniMap .pos_1 {
    top: 32px;
    left: 8px; }
  #DeckFormation.EventAccomplish .formationMiniMap .pos_2 {
    top: 20px;
    left: 8px; }
  #DeckFormation.EventAccomplish .formationMiniMap .pos_3 {
    top: 8px;
    left: 8px; }
  #DeckFormation.EventAccomplish .formationMiniMap .pos_4 {
    top: 32px;
    left: 20px; }
  #DeckFormation.EventAccomplish .formationMiniMap .pos_5 {
    top: 20px;
    left: 20px; }
  #DeckFormation.EventAccomplish .formationMiniMap .pos_6 {
    top: 8px;
    left: 20px; }
  #DeckFormation.EventAccomplish .formationMiniMap .pos_7 {
    top: 32px;
    left: 32px; }
  #DeckFormation.EventAccomplish .formationMiniMap .pos_8 {
    top: 20px;
    left: 32px; }
  #DeckFormation.EventAccomplish .formationMiniMap .pos_9 {
    top: 8px;
    left: 32px; }

#DeckFormation.EventAccomplish .deckSelectDetail.deck31:before, #DeckFormation.EventAccomplish .deckName.deck31:before {
  background: url("/magica/resource/image_web/page/formation_2/icon_team_1.png") right top no-repeat; }

#DeckFormation.EventAccomplish .deckSelectDetail.deck32:before, #DeckFormation.EventAccomplish .deckName.deck32:before {
  background: url("/magica/resource/image_web/page/formation_2/icon_team_2.png") right top no-repeat; }

#DeckFormation.EventAccomplish .deckSelectDetail.deck33:before, #DeckFormation.EventAccomplish .deckName.deck33:before {
  background: url("/magica/resource/image_web/page/formation_2/icon_team_3.png") right top no-repeat; }

#DeckFormation.EventAccomplish .deckSelectDetail.deck34:before, #DeckFormation.EventAccomplish .deckName.deck34:before {
  background: url("/magica/resource/image_web/page/formation_2/icon_team_4.png") right top no-repeat; }

#DeckFormation.EventAccomplish .deckSelectDetail.deck35:before, #DeckFormation.EventAccomplish .deckName.deck35:before {
  background: url("/magica/resource/image_web/page/formation_2/icon_team_5.png") right top no-repeat; }
