.infoPartsWrap .cpInfoArea {
  position: absolute;
  width: 284px;
  height: 54px;
  background: url("/magica/resource/image_web/event/dungeon/common/top/cp_base_a.png") center bottom; }
  .infoPartsWrap .cpInfoArea ul.cpPointWrap {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -4px;
    left: 52px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .infoPartsWrap .cpInfoArea ul.cpPointWrap li {
      width: 40px;
      height: 40px;
      margin-right: -2px;
      background: url("/magica/resource/image_web/event/dungeon/common/top/cp_icon_null.png") left top no-repeat;
      display: block; }
      .infoPartsWrap .cpInfoArea ul.cpPointWrap li.on {
        background: url("/magica/resource/image_web/event/dungeon/common/top/cp_icon.png") left top no-repeat; }
  .infoPartsWrap .cpInfoArea .cpRemainTime {
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 84px;
    font-size: 14px;
    text-align: left; }
    .infoPartsWrap .cpInfoArea .cpRemainTime.off {
      opacity: 0; }
  .infoPartsWrap .cpInfoArea .cpPlusBtn {
    width: 52px;
    height: 52px;
    background: url("/magica/resource/image_web/event/dungeon/common/top/btn_cp_add.png") left top no-repeat;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 1px;
    left: 245px; }
    .infoPartsWrap .cpInfoArea .cpPlusBtn .b_screen {
      width: 34px;
      height: 34px;
      top: 10px;
      left: 10px;
      -webkit-transform: rotate(-45deg);
      border-radius: 0; }

.infoPartsWrap .cureInfoArea {
  position: absolute;
  width: 258px;
  height: 54px;
  background: url("/magica/resource/image_web/event/dungeon/common/top/cure_base.png") center bottom; }
  .infoPartsWrap .cureInfoArea ul.curePointWrap {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -4px;
    left: 52px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .infoPartsWrap .cureInfoArea ul.curePointWrap li {
      width: 40px;
      height: 40px;
      margin-right: -2px;
      background: url("/magica/resource/image_web/event/dungeon/common/top/cure_icon_null.png") left top no-repeat;
      display: block; }
      .infoPartsWrap .cureInfoArea ul.curePointWrap li.on {
        background: url("/magica/resource/image_web/event/dungeon/common/top/cure_icon.png") left top no-repeat; }

.infoPartsWrap.on {
  display: block; }
