<div id="MemoriaComposeAnimation">
	<h1>MemoriaComposeAnimation</h1>
	<span class="linkBtn btn" data-href="#/MyPage">
		マイページへ
	</span>
	<span class="linkBtn btn" data-href="<%= href %>">
		強化トップに戻る
	</span>

	<p>アニメーション中…</p>
</div>