<div id="CharaComposeMagia">
	<div id="giftWrap" class="commonFrame3">
		<div class="topWrap"><img src="/magica/resource/image_web/page/chara/text_magia.png" alt=""></div>
		<div id="giftWrapInner">
			<p class="magiaCaution hide ts_white c_purple"></p>
		</div>
		<div class="bottomWrap">
			<p class="episodeCaution hide ts_white c_purple"></p>

			<div id="mainBtn" class="se_decide TE">
				<p class="ts_pink">マギア強化</p>
			</div>
		</div>
	</div>

	<div id="btnArea" class="customize offLink">
		<ul>
			<li class="TE compose linkBtn se_decide" data-href="#/CharaListCompose"><span></span></li>
			<li class="TE composeMagia linkBtn se_decide current" data-href="#/CharaListTop"><span></span></li>
			<li class="TE customize linkBtn se_decide" data-href="#/CharaListCustomize"><span></span></li>
			<li class="TE equip linkBtn se_decide" data-href="#/CharaListEquip"><span></span></li>
			<li class="TE enhance se_decide"><span></span></li>
		</ul>
	</div>
</div>