<div id="CharaCompose">
	<div class="bonusResultWrap">
		<p class="text"></p>
		<div class="bg"></div>
	</div>

	<ul id="itemTab" class="common_tab t_gold">
		<li class="se_decide current" data-type="exp">魔力強化</li>
		<li class="se_decide" data-type="episode">エピソード</li>
	</ul>
	<div id="itemWrap" class="commonFrame3">
		<div id="topWrap"></div>

		<div id="itemViewWrap">
			<div class="itemWrapInner"></div>
			<div class="episodeWrapInner hide"></div>
		</div>
		<div class="bottomWrap">
			<div id="previewWrap">
			</div>

			<div id="resetBtn" class="sb_gold_02 se_cancel TE"><span class="b_screen"></span>選択全解除</div>
			<div id="mainBtn" class="TE se_decide off">
				<span class="b_screen"></span>
				強化
			</div>
		</div>
	</div>

	<div id="btnArea" class="compose offLink">
		<ul>
			<li class="TE compose current linkBtn se_decide" data-href="#/CharaListTop"><span></span></li>
			<li class="TE composeMagia linkBtn se_decide" data-href="#/CharaListComposeMagia"><span></span></li>
			<li class="TE customize linkBtn se_decide" data-href="#/CharaListCustomize"><span></span></li>
			<li class="TE equip linkBtn se_decide" data-href="#/CharaListEquip"><span></span></li>
			<li class="TE enhance se_decide"><span></span></li>
		</ul>
	</div>
</div>

<script type="text/template" id="useItemConfirm">
	<div id="useItemScrollOuter">
		<div class="useItemScrollInner">
			<%="<% _.each(useItemObj,function(value,key){ %\>"%>
				<div class='useItem'>
					<p class="selectNum"><%="<%= value %\>"%></p>
					<img src='/magica/resource/image_web/item/main/<%="<%= key.toLowerCase() %\>"%>.png' alt=''>
				</div>
			<%="<% }) %\>"%>
		</div>
	</div>
</script>

<script type="text/template" id="useItemControllerTemp">
	<div id='useItemControllerWrap'>
		<input id='useItemSlider' class="slider" type="range" value="0">

		<div data-type='plus'  class='plusBtn TE se_decide'></div>
		<div data-type='minus' class='minusBtn off TE se_decide'></div>
		<div data-type='max'   class='maxBtn TE se_decide'></div>
	</div>
</script>

<script type="text/template" id="PreviewPartsTemp">
	<%="<% if(model.itemId) { %\>"%>
		<img src='/magica/resource/image_web/item/main/<%="<%= model.itemId.toLowerCase() %\>"%>.png' alt=''>
	<%="<% } %\>"%>
</script>

<script type="text/template" id="ItemTemp">
	<%="<% if(model.itemAtt !== 'EPISODE') { %\>"%>
	<p class="title"></p>
	<%="<% } %\>"%>
</script>

<script type="text/template" id="ItemPartsTemp">
	<%="<% if(model.itemId.indexOf('EPISODE_COMPOSE') > -1) { %\>"%>

	<img src='/magica/resource/image_web/page/chara/icon_<%="<%= model.itemId.toLowerCase() %\>"%>.png' alt=''>
	<div class='itemControllerWrap'>
		<div data-type='plus'  class='plusBtn TE se_decide'></div>
		<div class='itemNum flexBox'><div class='selectNum'>0</div>/<div class='hasNum'><span><%="<%= model.quantity %\>"%></div></div>
		<div data-type='minus' class='minusBtn off TE se_decide'></div>
		<div data-type='max'   class='maxBtn sb_gold_02 TE se_decide'>MAX</div>
	</div>

	<%="<% } else { %\>"%>

	<p class="selectNum">0</p>
	<img src='/magica/resource/image_web/item/main/<%="<%= model.itemId.toLowerCase() %\>"%>.png' alt=''>
	<p class="hasNum">× <span><%="<%= model.quantity %\>"%></span></p>

	<%="<% } %\>"%>
</script>
