<div id="CharaTop">
	<div class='miniCharaWrap'></div>

	<p id="leaderChangeBtn" class="c_white se_decide" data-type="changeLeader"></p>

	<div id='poseChangeBtn'></div>

	<div id="btnArea" class="top">
		<ul>
			<li class="TE compose"><span class="linkBtn se_decide" data-href="#/CharaListCompose"></span></li>
			<li class="TE composeMagia"><span class="linkBtn se_decide" data-href="#/CharaListComposeMagia"></span></li>
			<li class="TE customize"><span class="linkBtn se_decide" data-href="#/CharaListCustomize"></span></li>
			<li class="TE enhance"><span class="enhanceLink se_decide"></span></li>
			<li class="TE equip"><span class="linkBtn se_decide" data-href="#/CharaListEquip"></span></li>
			<li class="TE composeAttribute"><span class="linkBtn se_decide" data-href="#/CharaListComposeAttribute"></span></li>
		</ul>
	</div>

</div>