<ul>
	<li class="compose" data-href="#/CharaListCompose"><span></span></li>
	<li class="composeMagia" data-href="#/composeMagia"><span></span></li>
	<li class="customize" data-href="#/CharaListCustomize"><span></span></li>
	<li class="equip" data-href="#/CharaListEquip"><span></span></li>
</ul>
