#Scene0Top {
  position: relative;
  width: 100%;
  height: 100%;
}

#Scene0Top .mainSec {
  width: 100%;
  height: 100%;
}

#Scene0Top .mainSec .mainStoryBtn,
#Scene0Top .mainSec .battleBtn,
#Scene0Top .mainSec .sideStoryBtn,
#Scene0Top .mainSec .missionBtn {
  position: absolute;
}

#Scene0Top .mainSec .mainStoryBtn {
  right: 70px;
  top: 90px;
  background: url("/magica/resource/image_web/page/quest/scene0/top/btn_story.png") left top repeat;
  width: 150px;
  height: 150px;
}

#Scene0Top .mainSec .battleBtn {
  display: none;
  right: 100px;
  top: 280px;
  background: url("/magica/resource/image_web/page/quest/scene0/top/btn_battle.png") left top repeat;
  width: 126px;
  height: 126px;
}

#Scene0Top .mainSec .sideStoryBtn {
  display: none;
  right: 110px;
  bottom: 90px;
  background: url("/magica/resource/image_web/page/quest/scene0/top/btn_sidestory.png") left top repeat;
  width: 124px;
  height: 30px;
}

#Scene0Top .mainSec .missionBtn {
  display: none;
  right: 110px;
  bottom: 30px;
  background: url("/magica/resource/image_web/page/quest/scene0/top/btn_mission.png") left top repeat;
  width: 124px;
  height: 30px;
}

#Scene0Top .mainSec .missionBtn .balloonSec {
  position: absolute;
  background: url("/magica/resource/image_web/page/quest/scene0/top/bg_info_mission.png") left top repeat;
  top: -55px;
  right: -98px;
  width: 100px;
  height: 94px;
}

#Scene0Top .mainSec .missionBtn .balloonSec .textSec {
  position: absolute;
  top: 18px;
  left: 25px;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
  color: #7e1b26;
  line-height: 110%;
  font-size: 80%;
}

#Scene0Top .mainSec .missionBtn .balloonSec .textSec .textDate {
  color: #372103;
}

#Scene0Top .mainSec .missionBtn .balloonSec .textSec .textDate span {
  color: #372103;
  font-size: 60%;
}

#Scene0Top .mainSec .missionBtn .balloonSec .textSec .textOp {
  color: #7e1b26;
  line-height: 120%;
  font-size: 110%;
}

#Scene0Top .mainSec #helpBtn {
  width: 100px;
  position: absolute;
  top: 13px;
  right: 148px;
}

#Scene0Top.AfterFilm1 .battleBtn,
#Scene0Top.AfterFilm1 .sideStoryBtn,
#Scene0Top.AfterFilm1 .missionBtn {
  display: block;
}

#Scene0Top.iPhoneXOrMore .sideStoryBtn {
  bottom: 80px;
}

#Scene0Top.iPhoneXOrMore .missionBtn {
  bottom: 10px;
}

#Scene0Top.iPad .mainStoryBtn {
  top: 144px;
}

#Scene0Top.iPad .battleBtn {
  top: 340px;
}

#Scene0Top.iPad .sideStoryBtn {
  bottom: 140px;
}

#Scene0Top.iPad .missionBtn {
  bottom: 70px;
}
