.infoPartsWrap .rpInfoArea {
  position: absolute;
  width: 264px;
  height: 54px;
  background: url("/magica/resource/image_web/event/raid/common/top/rp_base.png") center bottom; }
  .infoPartsWrap .rpInfoArea ul.rpPointWrap {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -7px;
    left: 56px;
    width: 170px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .infoPartsWrap .rpInfoArea ul.rpPointWrap li {
      width: 28px;
      height: 28px;
      margin-right: 2px;
      margin-bottom: -10px;
      background: url("/magica/resource/image_web/event/raid/common/top/rp_icon_null.png") left top no-repeat;
      background-size: 28px 28px;
      display: block; }
      .infoPartsWrap .rpInfoArea ul.rpPointWrap li.on {
        background: url("/magica/resource/image_web/event/raid/common/top/rp_icon.png") left top no-repeat;
        background-size: 28px 28px; }
      .infoPartsWrap .rpInfoArea ul.rpPointWrap li:nth-child(6) {
        margin-left: 15px; }
  .infoPartsWrap .rpInfoArea .rpRemainTime {
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 76px;
    font-size: 14px;
    text-align: left; }
    .infoPartsWrap .rpInfoArea .rpRemainTime.off {
      opacity: 0; }
  .infoPartsWrap .rpInfoArea .rpPlusBtn {
    width: 52px;
    height: 52px;
    background: url("/magica/resource/image_web/event/raid/common/top/btn_rp_add.png") left top no-repeat;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 1px;
    left: 226px; }
    .infoPartsWrap .rpInfoArea .rpPlusBtn .b_screen {
      width: 34px;
      height: 34px;
      top: 10px;
      left: 10px;
      -webkit-transform: rotate(-45deg);
      border-radius: 0; }
