<div class="mainImg">
  <img src="/magica/resource/image_web/page/quest/scene0/storySelect/recollectionPopup/popup_base_recollection.png">
</div>
<div class="mainTextSec">
  <div class="textTitle">
    <div id="titleImg" class="<%= model.titleClass %>"></div>
  </div>
  <div id="recollectionPopupScrollWrap" class="textWrap">
    <div id="textSec" class="scrollInner">
      <%= model.mainText %>
    </div>
  </div>
</div>
<div class="filmBtnListSec">
  <ul class="filmBtnList"></ul>
</div>