<div id="<%= model.btnId %>" class="storyBtn <%= model.btnClass %>">
  <%= model.btnText %>
  <span class="effectWrap">
    <span class="effect"></span>
    <span class="effect2"></span>
  </span>
</div>