<div id="Scene0Top" class="<%= model.templateClass %> <%= model.terminalClass %>">
	<div id="mainSec" class="mainSec">
		<div id="mainStoryBtn" class="mainStoryBtn se_decide TE"></div>
		<div id="battleBtn" class="battleBtn se_decide TE"></div>
		<div id="sideStoryBtn" class="sideStoryBtn se_decide TE"></div>
		<div id="missionBtn" class="missionBtn se_decide TE">
			<div class="balloonSec">
				<div class="textSec">
					<span class="textDate">10/16<span>まで</span></span><br>
					期間限定<br>
					ミッション<br>
					<span class="textOp">開催中</span>
				</div>
			</div>
		</div>
		<div id="helpBtn" class="se_decide TE sb_gold_02">遊び方</div>
	</div>
</div>
