.partChange #EventBranch.EventBranchTop #sideWrap .overWrap {
  -webkit-animation: common_fade_in .375s ease-in 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

.partChange #EventBranch.EventBranchTop #sideWrap .bgWrap {
  -webkit-animation: common_fade_out .375s ease-in 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

.partChangeComp #EventBranch.EventBranchTop #sideWrap .overWrap {
  opacity: 1;
  -webkit-animation: common_fade_out .375s ease-out 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

.partChangeComp #EventBranch.EventBranchTop #sideWrap .bgWrap {
  opacity: 0;
  -webkit-animation: common_fade_in .375s ease-out 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

.partChangeComp #EventBranch.EventBranchTop #sideWrap #eventLogo:before {
  opacity: 0;
  -webkit-animation: top-slide-fade-in .18s ease-in-out 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

.partChangeComp #EventBranch.EventBranchTop #bottomWrap {
  -webkit-animation: bottom-slide-fade-in .25s ease-in-out 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#EventBranch.EventBranchTop {
  width: 1024px;
  height: 100%;
  position: relative;
}

#EventBranch.EventBranchTop .touch {
  -webkit-transform: scale(0.95) translateZ(0);
}

#EventBranch.EventBranchTop #helpBtn {
  width: 100px;
  position: absolute;
  top: 13px;
  right: 276px;
  z-index: 10000;
}

#EventBranch.EventBranchTop #archiveBtn {
  width: 120px;
  position: absolute;
  top: 13px;
  right: 144px;
  z-index: 10000;
}

#EventBranch.EventBranchTop #sideWrap {
  pointer-events: none;
  width: 146px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#EventBranch.EventBranchTop #sideWrap .overWrap,
#EventBranch.EventBranchTop #sideWrap .bgWrap {
  width: 146px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#EventBranch.EventBranchTop #sideWrap .overWrap {
  opacity: 0;
}

#EventBranch.EventBranchTop #sideWrap .bgWrap {
  opacity: 1;
}

#EventBranch.EventBranchTop #sideWrap.part1 .bgWrap {
  z-index: 1;
}

#EventBranch.EventBranchTop #sideWrap.part2 .bgWrap {
  z-index: 1;
}

#EventBranch.EventBranchTop #sideWrap #eventLogo {
  width: 194px;
  height: 154px;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 100;
}

#EventBranch.EventBranchTop #sideWrap #eventLogo img {
  width: 194px;
}

#EventBranch.EventBranchTop #sideWrap #eventLogo:before {
  width: 194px;
  height: 47px;
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 101;
  content: '';
}

#EventBranch.EventBranchTop #infoWrap {
  position: absolute;
  width: 196px;
  left: -25px;
  bottom: 0;
  background: url("/magica/resource/image_web/event/branch/common/bg_info_c.png") top center no-repeat;
  background-size: 196px -webkit-calc(100% - 47px);
  padding: 0px 20px;
}

#EventBranch.EventBranchTop #infoWrap:before {
  content: "";
  position: absolute;
  width: 196px;
  height: 46px;
  left: 0;
  top: -46px;
  background: url("/magica/resource/image_web/event/branch/common/bg_info_t.png") left top no-repeat;
}

#EventBranch.EventBranchTop #infoWrap:after {
  content: "";
  position: absolute;
  width: 196px;
  height: 48px;
  left: 0;
  bottom: 0;
  background: url("/magica/resource/image_web/event/branch/common/bg_info_b.png") left top no-repeat;
}

#EventBranch.EventBranchTop #infoWrap #flgmntWrap {
  position: relative;
  top: -35px;
  left: 5px;
  z-index: 100;
}

#EventBranch.EventBranchTop #infoWrap #flgmntWrap .flgmnt {
  width: 146px;
  height: 40px;
  margin-bottom: 4px;
  position: relative;
}

#EventBranch.EventBranchTop #infoWrap #flgmntWrap .flgmnt .count {
  position: absolute;
  top: 11px;
  right: 14px;
  font-size: 16px;
  line-height: 22px;
}

#EventBranch.EventBranchTop #infoWrap #partLinkBtn {
  width: 168px;
  height: 60px;
  position: relative;
  bottom: 22px;
  left: -6px;
  z-index: 100;
}

#EventBranch.EventBranchTop #infoWrap #partLinkBtn.close {
  display: none;
}

#EventBranch.EventBranchTop #infoWrap #partLinkBtn.off {
  -webkit-filter: grayscale(100%) brightness(70%);
}

#EventBranch.EventBranchTop #bottomWrap {
  width: 738px;
  height: 36px;
  background: url("/magica/resource/image_web/event/branch/common/bg_footer_a.png") left top no-repeat;
  position: absolute;
  right: -200px;
  bottom: 0;
  z-index: 10;
}

#EventBranch.EventBranchTop #bottomWrap .questClearCount {
  font-size: 16px;
  line-height: 1;
}

#EventBranch.EventBranchTop #bottomWrap .questClearCount .title {
  position: absolute;
  right: 570px;
  bottom: 10px;
}

#EventBranch.EventBranchTop #bottomWrap .questClearCount .count {
  position: absolute;
  right: 494px;
  bottom: 10px;
}

#EventBranch.EventBranchTop #bottomWrap #eventShopWrap .itemNumWrap {
  width: 146px;
  height: 58px;
  background: url("/magica/resource/image_web/event/branch/common/bg_item_exchange.png") left top no-repeat;
  position: absolute;
  right: 318px;
  bottom: 6px;
}

#EventBranch.EventBranchTop #bottomWrap #eventShopWrap .itemNumWrap img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 9px;
  left: 9px;
}

#EventBranch.EventBranchTop #bottomWrap #eventShopWrap .itemNumWrap .numWrap,
#EventBranch.EventBranchTop #bottomWrap #eventShopWrap .itemNumWrap .numWrap .num {
  font-size: 18px;
  line-height: 30px;
}

#EventBranch.EventBranchTop #bottomWrap #eventShopWrap .itemNumWrap .numWrap {
  position: absolute;
  top: 14px;
  right: 26px;
}

#EventBranch.EventBranchTop #bottomWrap #eventShopWrap .shopLinkBtn {
  width: 116px;
  height: 40px;
  background: url("/magica/resource/image_web/page/quest/week/btn_shop.png") left top no-repeat;
  position: absolute;
  right: 212px;
  bottom: 16px;
}

#EventBranch.EventBranchTop #questDetail {
  width: 336px;
  height: 392px;
  background: url("/magica/resource/image_web/event/branch/common/bg_quest_detail_a.png") left top no-repeat;
  position: absolute;
  top: -webkit-calc(50% - 196px);
  right: 0;
  -webkit-transform: translate3d(336px, 0, 0);
  transform: translate3d(336px, 0, 0);
  opacity: 0;
  z-index: 100;
}

#EventBranch.EventBranchTop #questDetail.open {
  -webkit-animation: slide-fade-in .2s ease-out 0s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#EventBranch.EventBranchTop #questDetail.open .sectionTitle {
  -webkit-animation: slide-fade-in .2s ease-out .05s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#EventBranch.EventBranchTop #questDetail.open .difficulty,
#EventBranch.EventBranchTop #questDetail.open .needAp {
  -webkit-animation: slide-fade-in .2s ease-out .1s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#EventBranch.EventBranchTop #questDetail.open .questMissionTitle {
  -webkit-animation: slide-fade-in .2s ease-out .15s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#EventBranch.EventBranchTop #questDetail.open .questMissionList li:nth-child(1) {
  -webkit-animation: slide-fade-in .2s ease-out .2s 1 alternate;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
}

#EventBranch.EventBranchTop #questDetail.open .questMissionList li:nth-child(2) {
  -webkit-animation: slide-fade-in .2s ease-out .23s 1 alternate;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
}

#EventBranch.EventBranchTop #questDetail.open .questMissionList li:nth-child(3) {
  -webkit-animation: slide-fade-in .2s ease-out .26s 1 alternate;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
}

#EventBranch.EventBranchTop #questDetail .charaTitle {
  width: 166px;
  height: 28px;
  padding-right: 15px;
  background: url("/magica/resource/image_web/event/branch/common/quest_header_condition.png") left top no-repeat;
  display: block;
  position: absolute;
  top: 30px;
  left: 12px;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

#EventBranch.EventBranchTop #questDetail #scrollOuter {
  width: 306px;
  height: 298px;
  position: absolute;
  top: 74px;
  left: 22px;
  overflow: hidden;
}

#EventBranch.EventBranchTop #questDetail #scrollOuter .scrollInner {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 10px;
  padding-top: 5px;
}

#EventBranch.EventBranchTop #questDetail #scrollOuter .conditionText {
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 30px;
  padding-left: 12px;
  font-size: 18px;
  line-height: 1.3;
  border-left: solid 6px #b28750;
}

#EventBranch.EventBranchTop #questDetail #scrollOuter .conditionText .clear {
  position: relative;
}

#EventBranch.EventBranchTop #questDetail #scrollOuter .conditionText .clear:before {
  width: 50px;
  height: 14px;
  content: "";
  background: url("/magica/resource/image_web/event/branch/common/icon_clear_condition.png") left top no-repeat;
  position: absolute;
  top: -14px;
  left: -7px;
}

#EventBranch.EventBranchTop #questDetail #scrollOuter .conditionText span {
  width: 50px;
  margin: 16px 0 18px 20px;
  height: 18px;
  background: #b28750;
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  -webkit-border-radius: 3px;
}

#EventBranch.EventBranchTop #questDetail .sectionTitle {
  width: 200px;
  padding-left: 16px;
  position: absolute;
  top: 58px;
  left: 15px;
  z-index: 10000;
  font-size: 24px;
  line-height: 52px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0;
}

#EventBranch.EventBranchTop #questDetail .difficulty,
#EventBranch.EventBranchTop #questDetail .needAp {
  position: absolute;
  left: 15px;
  font-size: 16px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0;
}

#EventBranch.EventBranchTop #questDetail .difficulty .title,
#EventBranch.EventBranchTop #questDetail .needAp .title {
  width: 88px;
  height: 24px;
  padding-left: 15px;
  background: #b28750;
  display: block;
  color: #fff;
  line-height: 24px;
  -webkit-border-radius: 5px 0 0 5px;
}

#EventBranch.EventBranchTop #questDetail .difficulty .num,
#EventBranch.EventBranchTop #questDetail .needAp .num {
  width: 100px;
  padding-left: 12px;
}

#EventBranch.EventBranchTop #questDetail .difficulty {
  top: 110px;
}

#EventBranch.EventBranchTop #questDetail .needAp {
  top: 138px;
}

#EventBranch.EventBranchTop #questDetail .questMissionTitle {
  width: 321px;
  height: 24px;
  padding-left: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#b28750), color-stop(65%, #b28750), color-stop(100%, rgba(178, 135, 80, 0)));
  display: block;
  position: absolute;
  top: 174px;
  left: 15px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0;
  -webkit-border-radius: 5px 0 0 5px;
  z-index: 10;
}

#EventBranch.EventBranchTop #questDetail .questMissionList {
  position: absolute;
  top: 210px;
  left: 15px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#EventBranch.EventBranchTop #questDetail .questMissionList li {
  padding-left: 30px;
  position: relative;
  font-size: 16px;
  line-height: 30px;
}

#EventBranch.EventBranchTop #questDetail .questMissionList li:before {
  width: 30px;
  height: 30px;
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_s_off.png") left top no-repeat;
  background-size: 30px 30px;
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  content: '';
}

#EventBranch.EventBranchTop #questDetail .questMissionList li.cleared:before {
  background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_s_on.png") left top no-repeat;
  background-size: 30px 30px;
}

#EventBranch.EventBranchTop #questDetail .treasure {
  width: 96px;
  height: 96px;
  background: url("/magica/resource/image_web/page/quest/questBattle/bg_reward.png") left top no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 14px;
  bottom: 186px;
  z-index: 20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#EventBranch.EventBranchTop #questDetail .treasure .title {
  width: 116px;
  height: 22px;
  background: url("/magica/resource/image_web/page/quest/questBattle/mission.png") left top no-repeat;
  position: absolute;
  top: -4px;
  left: -10px;
}

#EventBranch.EventBranchTop #questDetail .treasure .title.clear {
  background: url("/magica/resource/image_web/page/quest/questBattle/complete.png") left top no-repeat;
}

#EventBranch.EventBranchTop #questDetail .treasure .itemImg {
  width: 47px;
  height: 47px;
}

#EventBranch.EventBranchTop #questDetail .treasure .treasureImg {
  width: 60px;
  height: 60px;
}

#EventBranch.EventBranchTop #questDetail .closeBtn {
  width: 52px;
  height: 51px;
  background: url("/magica/resource/image_web/common/popup/popup_close.png") left top no-repeat;
  display: inline-block;
  position: absolute;
  top: -26px;
  right: 4px;
  z-index: 20;
}

#EventBranch.EventBranchTop #questDetail .questDetailBg {
  width: 210px;
  height: 238px;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}

#EventBranch.EventBranchTop #questDetail #mainBtn {
  width: 150px;
  height: 56px;
  background: url("/magica/resource/image_web/page/chara/btn_pink.png") left top no-repeat;
  position: absolute;
  right: 93px;
  bottom: 22px;
  color: #fff;
  font-size: 18px;
  line-height: 56px;
  text-align: center;
  text-shadow: -1px -1px 2px #ff5e7c, 1px -1px 2px #ff5e7c, -1px 1px 2px #ff5e7c, 1px 1px 2px #ff5e7c, -1px -1px 2px #ff5e7c, 1px -1px 2px #ff5e7c, -1px 1px 2px #ff5e7c, 1px 1px 2px #ff5e7c;
}

#EventBranch.EventBranchTop #questDetail #mainBtn.off {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-filter: grayscale(100%);
}

#EventBranch.EventBranchTop #chartWrap {
  width: 1030px;
  height: -webkit-calc(100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#EventBranch.EventBranchTop #chartWrap .chartCautionText {
  width: 336px;
  height: 24px;
  display: none;
  position: absolute;
  top: -webkit-calc(50% + 200px);
  right: 0;
  opacity: 0;
}

#EventBranch.EventBranchTop #chartWrap .chartCautionText.show {
  display: block;
  -webkit-animation: common_fade_in .3s ease .25s 1 alternate;
  -webkit-animation-fill-mode: forwards;
}

#EventBranch.EventBranchTop #chartWrap .chartCautionText .text,
#EventBranch.EventBranchTop #chartWrap .chartCautionText .bg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

#EventBranch.EventBranchTop #chartWrap .chartCautionText .text {
  line-height: 24px;
  z-index: 2;
}

#EventBranch.EventBranchTop #chartWrap .chartCautionText .bg {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 15%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.4) 85%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

@-webkit-keyframes slide-fade-in {
  0% {
    -webkit-transform: translate3d(8px, 0, 0);
    transform: translate3d(8px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes top-slide-fade-in {
  0% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes bottom-slide-fade-in {
  0% {
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#SectionClearAnimation #sectionClear_b {
  background: url("/magica/resource/image_web/event/branch/common/story_clear_b.png") center center no-repeat !important;
}

#SectionClearAnimation #sectionClear_b2 {
  background: url("/magica/resource/image_web/event/branch/common/story_clear_b.png") center center no-repeat !important;
}

#SectionClearAnimation #sectionClear_s {
  background: url("/magica/resource/image_web/event/branch/common/story_clear_s.png") center center no-repeat !important;
}
