<% var nowCp = _.findWhere(model,{statusId:"CP"}); %>
<% var maxCp = _.findWhere(model,{statusId:"MAX_CP"}); %>

<div class="cpInfoArea">
	<ul class="cpPointWrap">
		<% for(var i=0;i<maxCp.point;i++){ %>
			<li<% if(nowCp.point>i){ %> class="on"<% } %>></li>
		<% } %>
	</ul>
	<div class="cpRemainTime c_white<% if(nowCp.point >= maxCp.point){ %> off<% } %>">次の回復まで&nbsp;<span id="cureRemain" class="c_white"></span></div>
	<span class="cpPlusBtn se_decide TE">
		<span class="b_screen"></span>
	</span>
</div>

<% var cureRemain = userEventDungeon.cureRemain; %>

<div class="cureInfoArea">
	<ul class="curePointWrap">
		<% for(var i=0;i<5;i++){ %>
			<li<% if(cureRemain>i){ %> class="on"<% } %>></li>
			<% } %>
	</ul>
</div>
