<div id="popupCp">
	<% var nowCp = _.findWhere(model,{statusId:"CP"}); %>
	<% var maxCp = _.findWhere(model,{statusId:"MAX_CP"}); %>
	<ul class="cpPointWrap">
		<% for(var i=0;i<maxCp.point;i++){ %>
		<li<% if(nowCp.point>i){ %> class="on"<% } %>></li>
		<% } %>
	</ul>
</div>
<p id="cpTextWrap" class="c_red">
	<% if(nowCp.point >= maxCp.point){ %>
		CPは最大です。
	<% }else if(quantity < 1){ %>
		CP回復薬がありません。
	<% }else{ %>
		<span class="cureCheck">CP回復薬を使用して全回復しますか？</span>
	<% } %>
</p>
<div id="cpImageWrap" class="commonFrame4">
	<img src="/magica/resource/image_web/item/event/event_dungeon_cure_cp.png" />
	<span class="nameWrap">CP回復薬</span>
	<p class="itemRemain"><span class="pointFrame">所持数</span><br><%= quantity %></p>
	<span id="decideUse" class="mb_pink cureBtn se_decide TE popupCloseBtn<% if(quantity < 1 || nowCp.point === maxCp.point){ %> off<% } %>"><span class="b_screen"></span>回復</span>
</div>
