#RegularEventTop {
  width: 1024px;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#RegularEventTop .textWrap {
  position: absolute;
  z-index: 2;
  text-align: center;
}

#RegularEventTop #groupBattleWrap #groupBattleInfoWrap p {
  color: #ffffff;
  text-shadow: 0 0 8px #3355b6, 0 0 8px #3355b6, 0 0 8px #3355b6, 0 0 8px #3355b6;
}

#RegularEventTop #groupBattleWrap {
  position: absolute;
  left: 322px;
  top: -webkit-calc(50% - 248px);
  width: 379px;
  height: 494px;
  z-index: 4;
}

#RegularEventTop #groupBattleWrap #groupBattleBtn {
  position: absolute;
  left: 58px;
  top: 50px;
  width: 268px;
  height: 430px;
  z-index: 5;
}

#RegularEventTop #groupBattleWrap #groupBattleBtn #jewelIcon {
  position: absolute;
  left: 40px;
  top: 110px;
  z-index: 1;
}

#RegularEventTop #groupBattleWrap #groupBattleBtn #jewelIcon.open {
  top: 222px;
  -webkit-animation: 2.5s regularEventTopJewel linear 0s infinite normal;
}

#RegularEventTop #groupBattleWrap #groupBattleBtn.touch {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#RegularEventTop #groupBattleWrap #groupBattleBtn.touch #jewelIcon.open {
  -webkit-animation: 0.5s regularEventTopJewelTouch linear 0s infinite normal;
}

#RegularEventTop #groupBattleWrap #logoImg {
  position: absolute;
  left: 12px;
  top: 334px;
  z-index: 10;
  pointer-events: none;
}

#RegularEventTop #groupBattleWrap #logoImg.open {
  left: 34px;
  top: 364px;
}

#RegularEventTop #groupBattleWrap #groupBattleInfoWrap {
  left: 10px;
  top: 394px;
  width: 355px;
  font-size: 14px;
  padding-top: 5px;
  z-index: 10;
}

#RegularEventTop #groupBattleWrap #groupBattleInfoWrap.open {
  background: url("/magica/resource/image_web/regularEvent/common/top/top_title_on.png") left top no-repeat;
  left: 35px;
  top: 454px;
  width: 309px;
  height: 67px;
  font-size: 16px;
  padding-top: 4px;
}

#RegularEventTop #groupBattleWrap #groupBattleInfoWrap #groupBattleRemainIconList {
  position: relative;
  left: -44px;
  top: 7px;
  width: 100%;
  height: 26px;
  text-align: right;
  padding-right: 18px;
}

#RegularEventTop #groupBattleWrap #groupBattleInfoWrap #groupBattleRemainIconList li {
  background: url("/magica/resource/image_web/regularEvent/common/icon/icon_battle_off.png") left top no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0px -2px;
}

#RegularEventTop #groupBattleWrap #groupBattleInfoWrap #groupBattleRemainIconList li.on {
  background: url("/magica/resource/image_web/regularEvent/common/icon/icon_battle_on.png") left top no-repeat;
}

#RegularEventTop #towerBattleWrap {
  background: url("/magica/resource/image_web/regularEvent/common/top/tower_off_title.png") left top no-repeat;
  position: absolute;
  left: 610px;
  top: -webkit-calc(50% - 248px);
  width: 379px;
  height: 494px;
  z-index: 4;
}

#RegularEventTop #towerBattleWrap #towerBattleBtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#RegularEventTop #towerBattleWrap #towerBattleTextWrap {
  left: 0;
  bottom: 0;
  width: 300px;
  height: 50px;
}

@-webkit-keyframes regularEventTopJewel {
  0% {
    -webkit-transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
  }
  75% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes regularEventTopJewelTouch {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
