#sortfilter #filterAttList .FIRE:after, #sortfilter #filterAttList .WATER:after, #sortfilter #filterAttList .TIMBER:after, #sortfilter #filterAttList .LIGHT:after, #sortfilter #filterAttList .DARK:after, #sortfilter #filterAttList .VOID:after {
  width: 40px;
  height: 40px;
  display: inline-block;
  content: "";
  pointer-events: none;
}
#sortfilter #filterAttList .FIRE:after {
  background: url("/magica/resource/image_web/common/chara/att_fire_f.png") left top no-repeat;
  background-size: 40px 40px;
}
#sortfilter #filterAttList .WATER:after {
  background: url("/magica/resource/image_web/common/chara/att_water_f.png") left top no-repeat;
  background-size: 40px 40px;
}
#sortfilter #filterAttList .TIMBER:after {
  background: url("/magica/resource/image_web/common/chara/att_timber_f.png") left top no-repeat;
  background-size: 40px 40px;
}
#sortfilter #filterAttList .LIGHT:after {
  background: url("/magica/resource/image_web/common/chara/att_light_f.png") left top no-repeat;
  background-size: 40px 40px;
}
#sortfilter #filterAttList .DARK:after {
  background: url("/magica/resource/image_web/common/chara/att_dark_f.png") left top no-repeat;
  background-size: 40px 40px;
}
#sortfilter #filterAttList .VOID:after {
  background: url("/magica/resource/image_web/common/chara/att_void_f.png") left top no-repeat;
  background-size: 40px 40px;
}
#sortfilter .filterText {
  margin-top: 8px;
}
#sortfilter .filterText, #sortfilter #filterAttList, #sortfilter #filterLockList, #sortfilter #filterRankList, #sortfilter #filterEffectList {
  font-size: 24px;
}
#sortfilter .filterText .flexBox, #sortfilter #filterAttList .flexBox, #sortfilter #filterLockList .flexBox, #sortfilter #filterRankList .flexBox, #sortfilter #filterEffectList .flexBox {
  width: 690px;
  margin: 0 0 0 87px;
  -webkit-align-items: center;
  align-items: center;
}
#sortfilter.chara #filterAttList .flexBox {
  width: 670px;
}
#sortfilter #filterAttList {
  margin: 23px 0 39px;
}
#sortfilter.chara #filterRankList .flexBox {
  width: 700px;
}
#sortfilter.chara #filterRankList .flexBox .filterRank {
  width: 140px;
}
#sortfilter #filterRankList {
  margin: 0 0 28px;
}
#sortfilter .filterAtt, #sortfilter .filterLock, #sortfilter .filterRank, #sortfilter .filterEffect {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
#sortfilter .filterBar {
  width: 726px;
  height: 48px;
  margin: 0 auto 16px;
  padding-right: 23px;
  padding-left: 76px;
  background: url("/magica/resource/image_web/common/filter/filter_header_l.png") left top no-repeat;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#sortfilter .filterBar .filterAtt, #sortfilter .filterBar .filterRank, #sortfilter .filterBar .filterEffect {
  width: auto;
}
#sortfilter .filterBar .filterAtt, #sortfilter .filterBar .filterLock, #sortfilter .filterBar .filterRank, #sortfilter .filterBar .filterEffect {
  font-size: 20px;
}
#sortfilter .filterBar .checkBox {
  margin-right: 11px;
}
#sortfilter .filterBar p {
  color: #ffffff;
}
#sortfilter.chara .filterBar p:before {
  width: 50px;
  height: 54px;
  background: url("/magica/resource/image_web/common/filter/filter_icon_chara.png") left top no-repeat;
  display: block;
  position: absolute;
  top: -9px;
  left: 18px;
  content: "";
}
#sortfilter .filterAtt, #sortfilter .filterRank {
  width: 136px;
}
#sortfilter .filterAtt .checkBox, #sortfilter .filterRank .checkBox {
  margin-right: 12px;
}
#sortfilter .filterAtt .star, #sortfilter .filterRank .star {
  width: 30px;
  height: 30px;
  background: url("/magica/resource/image_web/common/icon/icon_rarity_chara.png") left top no-repeat;
  background-size: 30px 30px;
  display: inline-block;
  margin-right: 5px;
}
#sortfilter .checkBox {
  width: 40px;
  height: 40px;
  background-image: url("/magica/resource/image_web/common/icon/icon_checkbox.png");
  display: block;
  position: relative;
}
#sortfilter .current .checkBox:before {
  width: 27px;
  height: 21px;
  background-image: url("/magica/resource/image_web/common/icon/icon_checkbox_check.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 9px;
  left: 6px;
  content: "";
}
#sortfilter.memoria {
  width: 882px;
  height: 480px;
  margin-left: 32px;
  position: relative;
}
#sortfilter.memoria #filterAttList, #sortfilter.memoria #filterLockList, #sortfilter.memoria #filterRankList, #sortfilter.memoria #filterEffectList {
  width: 436px;
  height: 110px;
  margin: 23px 0 18px;
  position: relative;
}
#sortfilter.memoria #filterLockList {
  position: absolute;
  top: 32px;
  right: 0px;
}
#sortfilter.memoria #filterRankList {
  height: 164px;
  margin-top: 18px;
}
#sortfilter.memoria #filterEffectList {
  height: 216px;
  position: absolute;
  top: 159px;
  right: 0px;
}
#sortfilter.memoria .filterBar {
  padding-left: 75px;
}
#sortfilter.memoria .filterBar p {
  font-size: 22px;
}
#sortfilter.memoria .filterBar p:before {
  width: 48px;
  height: 52px;
  background: url("/magica/resource/image_web/common/filter/filter_icon_memoria.png") left top no-repeat;
  background-size: 48px 52px;
  display: block;
  position: absolute;
  top: -10px;
  left: 18px;
  content: "";
}
#sortfilter.memoria .filterBar .checkBox {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  margin-right: 10px;
}
#sortfilter.memoria .filterBar .current .checkBox:before {
  width: 22px;
  height: 17px;
  background-size: 22px 17px;
  top: 8px;
  left: 5px;
}
#sortfilter.memoria #filterAttList .filterBar,
#sortfilter.memoria #filterLockList .filterBar,
#sortfilter.memoria #filterRankList .filterBar,
#sortfilter.memoria #filterEffectList .filterBar {
  width: 436px;
  height: 44px;
  background: url("/magica/resource/image_web/common/filter/filter_header_s_a.png") left top no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}
#sortfilter.memoria #filterAttList .filterBar .ALL,
#sortfilter.memoria #filterLockList .filterBar .ALL,
#sortfilter.memoria #filterRankList .filterBar .ALL,
#sortfilter.memoria #filterEffectList .filterBar .ALL {
  font-size: 18px;
  padding-right: 5px;
}
#sortfilter.memoria #filterAttList .flexBox,
#sortfilter.memoria #filterLockList .flexBox,
#sortfilter.memoria #filterRankList .flexBox,
#sortfilter.memoria #filterEffectList .flexBox {
  width: 419px;
  margin-left: 17px;
  position: absolute;
  top: 60px;
  left: 0px;
  padding-left: 31px;
}
#sortfilter.memoria #filterAttList .flexBox .filterAtt, #sortfilter.memoria #filterAttList .flexBox .filterLock, #sortfilter.memoria #filterAttList .flexBox .filterRank, #sortfilter.memoria #filterAttList .flexBox .filterEffect,
#sortfilter.memoria #filterLockList .flexBox .filterAtt,
#sortfilter.memoria #filterLockList .flexBox .filterLock,
#sortfilter.memoria #filterLockList .flexBox .filterRank,
#sortfilter.memoria #filterLockList .flexBox .filterEffect,
#sortfilter.memoria #filterRankList .flexBox .filterAtt,
#sortfilter.memoria #filterRankList .flexBox .filterLock,
#sortfilter.memoria #filterRankList .flexBox .filterRank,
#sortfilter.memoria #filterRankList .flexBox .filterEffect,
#sortfilter.memoria #filterEffectList .flexBox .filterAtt,
#sortfilter.memoria #filterEffectList .flexBox .filterLock,
#sortfilter.memoria #filterEffectList .flexBox .filterRank,
#sortfilter.memoria #filterEffectList .flexBox .filterEffect {
  width: 178px;
  font-size: 20px;
}
#sortfilter.memoria #filterAttList .flexBox .filterAtt .checkBox, #sortfilter.memoria #filterAttList .flexBox .filterLock .checkBox, #sortfilter.memoria #filterAttList .flexBox .filterRank .checkBox, #sortfilter.memoria #filterAttList .flexBox .filterEffect .checkBox,
#sortfilter.memoria #filterLockList .flexBox .filterAtt .checkBox,
#sortfilter.memoria #filterLockList .flexBox .filterLock .checkBox,
#sortfilter.memoria #filterLockList .flexBox .filterRank .checkBox,
#sortfilter.memoria #filterLockList .flexBox .filterEffect .checkBox,
#sortfilter.memoria #filterRankList .flexBox .filterAtt .checkBox,
#sortfilter.memoria #filterRankList .flexBox .filterLock .checkBox,
#sortfilter.memoria #filterRankList .flexBox .filterRank .checkBox,
#sortfilter.memoria #filterRankList .flexBox .filterEffect .checkBox,
#sortfilter.memoria #filterEffectList .flexBox .filterAtt .checkBox,
#sortfilter.memoria #filterEffectList .flexBox .filterLock .checkBox,
#sortfilter.memoria #filterEffectList .flexBox .filterRank .checkBox,
#sortfilter.memoria #filterEffectList .flexBox .filterEffect .checkBox {
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  margin-right: 12px;
}
#sortfilter.memoria #filterAttList .flexBox .filterAtt .checkBox:before, #sortfilter.memoria #filterAttList .flexBox .filterLock .checkBox:before, #sortfilter.memoria #filterAttList .flexBox .filterRank .checkBox:before, #sortfilter.memoria #filterAttList .flexBox .filterEffect .checkBox:before,
#sortfilter.memoria #filterLockList .flexBox .filterAtt .checkBox:before,
#sortfilter.memoria #filterLockList .flexBox .filterLock .checkBox:before,
#sortfilter.memoria #filterLockList .flexBox .filterRank .checkBox:before,
#sortfilter.memoria #filterLockList .flexBox .filterEffect .checkBox:before,
#sortfilter.memoria #filterRankList .flexBox .filterAtt .checkBox:before,
#sortfilter.memoria #filterRankList .flexBox .filterLock .checkBox:before,
#sortfilter.memoria #filterRankList .flexBox .filterRank .checkBox:before,
#sortfilter.memoria #filterRankList .flexBox .filterEffect .checkBox:before,
#sortfilter.memoria #filterEffectList .flexBox .filterAtt .checkBox:before,
#sortfilter.memoria #filterEffectList .flexBox .filterLock .checkBox:before,
#sortfilter.memoria #filterEffectList .flexBox .filterRank .checkBox:before,
#sortfilter.memoria #filterEffectList .flexBox .filterEffect .checkBox:before {
  width: 24px;
  height: 19px;
  background-size: 24px 19px;
}
#sortfilter.memoria #filterRankList .flexBox, #sortfilter.memoria #filterEffectList .flexBox {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#sortfilter.memoria #filterRankList .flexBox .filterRank, #sortfilter.memoria #filterRankList .flexBox .filterEffect, #sortfilter.memoria #filterEffectList .flexBox .filterRank, #sortfilter.memoria #filterEffectList .flexBox .filterEffect {
  margin-bottom: 16px;
}
#sortfilter.memoria #filterRankList .filterRank .star, #sortfilter.memoria #filterEffectList .filterRank .star {
  background: url("/magica/resource/image_web/common/icon/icon_rarity_memoria.png") left top no-repeat;
  background-size: 28px 28px;
}
#sortfilter.memoria #cardSortBtnsArea {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
