<%
	var subClose = false;
	if(model.pageJson.gameUser){
		if(model.pageJson.gameUser.closeFunctions && model.pageJson.gameUser.closeFunctions.indexOf("ARENA") > -1) subClose = true;
	}
%>
<div id="PuellaHistoriaTop" class="<%= model.terminalClass %>">
	<div class="mainSec">
		<div class="mirrorSec" id="mirrorSec">
		</div>
		<div id="questLinkBtnWrap">
			<ul class="btns">
				<li class="current linkBtn main se_decide" data-href="#/MainQuest"><span></span><div class='bg'></div></li>
				<li class="side linkBtn se_decide<% if(subClose){ %> limited<% } %>" data-href="#/SubQuest"><span></span><div class='bg'></div></li>
				<li class="chara linkBtn se_decide" data-href="#/CharaQuest"><span></span><div class='bg'></div></li>
				<li class="event linkBtn se_decide" data-href="#/EventQuest"><span></span><div class='bg'></div></li>
			</ul>
		</div>
	</div>
</div>

<script type="text/template" id="rippleAnimationParts">
	<div class="wrap">
		<ul>
			<%="<% for(i=0;i<=rippleNum;i++){ %\>"%>
			<li class="ripple<%='<%= i %\>'%>"">
			</li>
			<%="<% } %\>"%>
		</ul>
	</div>
</script>