<div id="CameraTop" class="CameraTop">
	<div id="CameraPageBackLinkBtn" class="se_cancel"></div>

	<div id="touchArea"></div>
	<div class="live2dArea"></div>

	<div id="posToggle" class="se_decide"></div>
	<div id="charaChange" class="charaToggle se_decide TE"><span class="b_screen"></span></div>
	<div id="changeDecide" class="btn b_pink popupBtn TE charaToggle se_decide">
		<span class="b_screen"></span>
		決定
	</div>
	<div id="wearChange" class="wearToggle se_decide TE"><span class="b_screen"></span></div>

	<div id="startTimer" class="se_decide TE"><span class="b_screen"></span></div>
	<div id="cameraRun" class="se_decide TE"><span class="b_screen"></span></div>
	<div id="shutter" class="se_decide TE"><span class="b_screen"></span></div>
	<div id="uiBg"></div>

	<div id="chara" class="forceOff off"></div>

	<div id="wearWrap" class="commonFrame2 off">
		<div id="listTitle" class="ts_pink">衣装一覧</div>
		<div id="scrollOuter" class="hiddenWrap">
			<div class="scrollInner"></div>
		</div>
		<div id="mainBtn" class="btn b_pink TE se_decide wearToggle">
			<span class="b_screen"></span>
			決定
		</div>
		<div class="bg"></div>
	</div>
</div>

<script type="template/text" id="l2dList">

</script>