@-webkit-keyframes chara_fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes forcus_ef {
  0% {
    -webkit-filter: brightness(100%);
    opacity: .3; }
  100% {
    -webkit-filter: brightness(200%);
    opacity: .6; } }

#CampaignGachaLineUp {
  width: 1024px;
  height: 100%;
  position: relative; }
  #CampaignGachaLineUp .charaImageWrap {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -webkit-calc(50% - 334px);
    left: 0;
    z-index: 1; }
    #CampaignGachaLineUp .charaImageWrap img {
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
      #CampaignGachaLineUp .charaImageWrap img.show {
        display: block;
        -webkit-animation: chara_fadein 0.76s ease-in-out 0s 1 normal;
        -webkit-animation-fill-mode: both; }
  #CampaignGachaLineUp .sideFrame {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -webkit-calc(50% - 384px);
    left: 0;
    z-index: 2; }
  #CampaignGachaLineUp .titleWrap {
    width: 870px;
    height: 353px;
    position: absolute;
    top: -webkit-calc(50% - 141px);
    left: 77px;
    z-index: 3; }
  #CampaignGachaLineUp .charaSelectWrap {
    width: 1024px;
    height: 137px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: -webkit-calc(50% + 125px);
    left: 0;
    z-index: 4; }
    #CampaignGachaLineUp .charaSelectWrap #leftArrow {
      width: 70px;
      height: 84px;
      background: url("/magica/resource/image_web/page/gacha/gacha_arrow_left_a.png") left top no-repeat;
      display: block;
      position: absolute;
      top: 26px;
      left: 60px;
      z-index: 10000; }
    #CampaignGachaLineUp .charaSelectWrap #rightArrow {
      width: 70px;
      height: 84px;
      background: url("/magica/resource/image_web/page/gacha/gacha_arrow_right_a.png") left top no-repeat;
      display: block;
      position: absolute;
      top: 26px;
      right: 60px;
      z-index: 10000; }
    #CampaignGachaLineUp .charaSelectWrap #btnWrap {
      width: 716px;
      height: 180px;
      position: absolute;
      top: -21px;
      left: 154px;
      overflow: hidden; }
      #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner {
        width: auto;
        min-width: 716px;
        height: auto;
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn {
          width: 134px;
          height: 134px;
          background: url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_icon_bg.png") left top no-repeat;
          position: relative;
          top: 23px;
          -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0; }
          #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn .iconLine {
            width: 134px;
            height: 134px;
            position: absolute;
            top: 0px;
            left: 0px;
            background: url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_icon_line.png") left top no-repeat;
            z-index: 20; }
          #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn .iconWrap {
            width: 134px;
            height: 134px;
            -webkit-mask-image: url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_icon_mask.png");
            mask-image: url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_icon_mask.png");
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10; }
            #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn .iconWrap img {
              width: 200px;
              height: 200px;
              position: absolute;
              top: 0px;
              left: -33px; }
          #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn.forcus {
            width: 164px;
            height: 164px;
            background: url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_icon_line.png") left top no-repeat, url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_icon_bg.png") left top no-repeat;
            background-size: 164px 164px;
            margin: 0px 10px;
            top: 8px; }
            #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn.forcus .iconWrap, #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn.forcus .iconLine {
              width: 164px;
              height: 164px;
              top: 0px;
              left: 0px;
              background-size: 100% 100%; }
            #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn.forcus .iconWrap {
              -webkit-mask-image: url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_icon_mask_l.png");
              mask-image: url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_icon_mask_l.png"); }
              #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn.forcus .iconWrap img {
                width: 244px;
                height: 244px;
                top: 0;
                left: -40px; }
            #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn.forcus .effect, #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn.forcus .redFrame {
              width: 180px;
              height: 180px;
              position: absolute;
              top: -8px;
              left: -8px; }
            #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn.forcus .effect {
              background: url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_icon_ef.png") left top no-repeat;
              z-index: 2;
              -webkit-animation: forcus_ef 1.5s ease-in-out 0s infinite alternate; }
            #CampaignGachaLineUp .charaSelectWrap #btnWrap .btnWrapInner .cardBtn.forcus .redFrame {
              background: url("/magica/resource/image_web/campaign/gacha_lineup/common/chara_center_line.png") left top no-repeat;
              z-index: 21; }
  #CampaignGachaLineUp #listPopupBtn {
    width: 132px;
    height: 34px;
    position: absolute;
    right: 24px;
    bottom: 10px;
    z-index: 6;
    background: url("/magica/resource/image_web/campaign/gacha_lineup/common/btn_serect.png"); }

.gachaLineupPop #scrollOuter {
  width: 100%;
  height: 440px;
  position: relative;
  margin-top: 10px;
  overflow: hidden; }
  .gachaLineupPop #scrollOuter .scrollInner {
    width: 860px;
    margin: 0px auto;
    padding-top: 25px;
    height: auto;
    min-height: 440px;
    display: webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .gachaLineupPop #scrollOuter .scrollInner .banners {
      width: 408px;
      height: 108px;
      margin: 0 11px 15px;
      margin-bottom: 15px; }
      .gachaLineupPop #scrollOuter .scrollInner .banners img {
        width: 408px;
        height: 108px; }
