#globalMenu #status {
  display: none;
}

#CampaignSumoCharaSelect {
  width: 100%;
  height: 100%;
  position: relative;
}
#CampaignSumoCharaSelect #helpBtn {
  width: 100px;
  position: absolute;
  top: 13px;
  right: 276px;
  z-index: 10000;
}
#CampaignSumoCharaSelect #helpBtn.hide {
  display: none;
}
#CampaignSumoCharaSelect .charaList {
  position: absolute;
  left: -webkit-calc(50% - 469px);
  top: -webkit-calc(50% - 261px + 14px);
  padding: 74px 0 0 70px;
  width: 938px;
  height: 522px;
  background: url("/magica/resource/image_web/campaign/sumo/bg_charalist.png") center center no-repeat;
}
#CampaignSumoCharaSelect .charaList .chara {
  position: relative;
  width: 80px;
  height: 85px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
#CampaignSumoCharaSelect .charaList .chara .bg {
  background: url("/magica/resource/image_web/campaign/sumo/chara_base.png") center center no-repeat;
  background-size: contain;
  position: absolute;
  left: 5px;
  bottom: -15px;
  width: 80px;
  height: 64px;
}
#CampaignSumoCharaSelect .charaList .chara .name {
  position: absolute;
  left: 4px;
  bottom: -9px;
  width: 80px;
  height: 18px;
  text-align: center;
}
#CampaignSumoCharaSelect .charaList .chara .icon {
  position: absolute;
  left: 18px;
  top: 0px;
  width: 45px;
  height: 72px;
}
#CampaignSumoCharaSelect .charaList .chara .selectedIcon {
  display: none;
  background: url("/magica/resource/image_web/campaign/sumo/frame_select.png") center center no-repeat;
  background-size: contain;
  position: absolute;
  left: 0px;
  top: -20px;
  width: 90px;
  height: 140px;
  -webkit-animation: CampaignSumoSelectedIcon2 0.8s linear 0s infinite alternate, CampaignSumoSelectedIcon1 infinite steps(2, jump-none) 0.8s;
}
#CampaignSumoCharaSelect .charaList .chara.selected .selectedIcon {
  display: block;
}
#CampaignSumoCharaSelect .charaList .chara.no35 .icon {
  width: 80px;
}
#CampaignSumoCharaSelect .decideBtn {
  background: url("/magica/resource/image_web/campaign/sumo/btn_set.png") center center no-repeat;
  position: absolute;
  right: 90px;
  bottom: 30px;
  width: 164px;
  height: 75px;
}
#CampaignSumoCharaSelect .decideBtn.anim {
  -webkit-animation: CampaignSumoDecideBtn 0.5s linear 0s 1 both;
}
#CampaignSumoCharaSelect .arrow {
  width: 72px;
  height: 88px;
  position: absolute;
  top: 240px;
  z-index: 100;
}
#CampaignSumoCharaSelect .arrow.left {
  left: -25px;
  background: url("/magica/resource/image_web/campaign/sumo/sumo_arrow_l.png") left top no-repeat;
}
#CampaignSumoCharaSelect .arrow.left.hide {
  display: none;
}
#CampaignSumoCharaSelect .arrow.right {
  right: -35px;
  background: url("/magica/resource/image_web/campaign/sumo/sumo_arrow_r.png") left top no-repeat;
}
#CampaignSumoCharaSelect .arrow.right.hide {
  display: none;
}

@-webkit-keyframes CampaignSumoDecideBtn {
  0% {
    -webkit-transform: scale(0.985);
  }
  40% {
    -webkit-transform: scale(0.8);
  }
  60% {
    -webkit-transform: scale(1.171);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes CampaignSumoSelectedIcon1 {
  0% {
    -webkit-transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(-1, 1);
  }
}
@-webkit-keyframes CampaignSumoSelectedIcon2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}