#mainBtn.touch, #questMainBtn.touch, #deckChangeBtn.touch {
  -webkit-filter: brightness(120%) !important; }

#baseContainer #charaListElms .formationCurrent {
  -webkit-order: -1;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

#baseContainer #charaListElms .formationRemove {
  -webkit-order: -2;
  -webkit-box-ordinal-group: -1;
  -ms-flex-order: -2;
  order: -2; }

#charaListWrap {
  -webkit-transform: translate3d(0, 120px, 0);
  z-index: 100000; }
  #charaListWrap.open {
    -webkit-animation: card_list_open .1s linear 0s 1 alternate;
    z-index: 100000;
    -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes card_list_open {
  0% {
    -webkit-transform: translate3d(0, 4px, 0);
    opacity: .6; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1; } }

.profileChange #commentInput {
  width: 512px;
  height: 64px;
  margin-bottom: 30px;
  padding: 0 10px;
  background: #ffffff;
  line-height: 64px;
  line-height: 1.8;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 0 2px #dccab3, 0 0 0 2px #ffffff inset, 3px 3px 3px 3px #f3f1f0 inset;
  box-shadow: 0 0 0 2px #dccab3, 0 0 0 2px #ffffff inset, 3px 3px 3px 3px #f3f1f0 inset; }

.profileChange #commentDecide {
  position: absolute;
  bottom: 5px;
  left: -webkit-calc(50% - 95px); }

.profileChange .textCount {
  position: absolute;
  top: 0;
  left: 0; }

.profileChange .textCount {
  position: absolute;
  top: 153px;
  left: 364px; }

#quest #FormationQuest #bonusTextWrap {
  right: -24px; }

#quest #FormationQuest #mainBtn {
  display: none; }

#quest #FormationQuest #questMainBtn {
  display: block; }

#arena #bonusTextWrap {
  display: none !important; }

#arena .cardWrap .bonusIcon {
  display: none !important; }

#arena #FormationQuest #deckChangeBtn {
  display: none; }

#arena #FormationQuest .formationMiniMap {
  background: url("/magica/resource/image_web/page/formation/bg_formation_arena_s.png") left bottom no-repeat; }

#arena #FormationQuest .formationSheet {
  background: url("/magica/resource/image_web/page/formation/bg_formation_arena_l.png") left bottom no-repeat; }

#arena #FormationQuest #deckFormationWrap #deckName {
  display: none; }

#arena #FormationQuest #deckFormationWrap #deckStatus {
  display: block; }

#arena #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head {
  background: url("/magica/resource/image_web/page/formation/bg_deck_formation_arena.png") left bottom no-repeat; }

#arena.eventArena #FormationQuest .formationMiniMap {
  background: url("/magica/resource/image_web/page/formation/bg_formation_eventarena_s.png") left bottom no-repeat; }

#arena.eventArena #FormationQuest .formationSheet {
  background: url("/magica/resource/image_web/page/formation/bg_formation_eventarena_l.png") left bottom no-repeat; }

#arena.eventArena #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head {
  background: url("/magica/resource/image_web/page/formation/bg_deck_formation_eventarena.png") left bottom no-repeat; }

#support #bonusTextWrap {
  display: none !important; }

#support #FormationQuest #deckFormationWrap #deckWrap .cardWrap.off:after {
  background: url("/magica/resource/image_web/page/formation/icon_deck_wrap_support.png") left bottom no-repeat; }

#support #FormationQuest #deckFormationWrap #deckWrap .cardWrap:before {
  width: 142px;
  height: 23px;
  background: url("/magica/resource/image_web/page/formation/icon_deck_wrap_suppor2.png") left bottom no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 100; }

#support #deckDetailWrap div:nth-child(2) .cardDetailWrap.off .charaIcon {
  background: url("/magica/resource/image_web/page/formation/deck_detail_support_all.png") left bottom no-repeat; }

#support #deckDetailWrap div:nth-child(3) .cardDetailWrap.off .charaIcon {
  background: url("/magica/resource/image_web/page/formation/deck_detail_support_fire.png") left bottom no-repeat; }

#support #deckDetailWrap div:nth-child(4) .cardDetailWrap.off .charaIcon {
  background: url("/magica/resource/image_web/page/formation/deck_detail_support_water.png") left bottom no-repeat; }

#support #deckDetailWrap div:nth-child(5) .cardDetailWrap.off .charaIcon {
  background: url("/magica/resource/image_web/page/formation/deck_detail_support_timber.png") left bottom no-repeat; }

#support #deckDetailWrap div:nth-child(6) .cardDetailWrap.off .charaIcon {
  background: url("/magica/resource/image_web/page/formation/deck_detail_support_light.png") left bottom no-repeat; }

#support #deckDetailWrap div:nth-child(7) .cardDetailWrap.off .charaIcon {
  background: url("/magica/resource/image_web/page/formation/deck_detail_support_dark.png") left bottom no-repeat; }

#support .epSetBtn {
  display: none; }

#support #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead {
  width: 902px;
  left: -webkit-calc(50% - 451px); }
  #support #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead img {
    width: 55px;
    height: 55px;
    margin: 9px auto 0;
    background: #4d4462;
    display: block;
    border: 7px solid #4d4462;
    border-radius: 100%; }
  #support #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_1 {
    left: 0; }
  #support #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_2 {
    left: 152px; }
  #support #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_3 {
    left: 304px; }
  #support #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_4 {
    left: 456px; }
  #support #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_5 {
    left: 608px; }
  #support #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_6 {
    left: 760px; }

#support #FormationQuest #deckFormationWrap #deckWrap {
  width: 902px;
  left: -webkit-calc(50% - 451px); }
  #support #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_1 {
    left: 0; }
  #support #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_2 {
    left: 152px; }
  #support #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_3 {
    left: 304px; }
  #support #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_4 {
    left: 456px; }
  #support #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_5 {
    left: 608px; }
  #support #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_6 {
    left: 760px; }

#FormationQuest {
  width: 1024px;
  height: 100%;
  position: relative;
  overflow: hidden; }
  #FormationQuest .hide {
    display: none !important;
    -webkit-transform: translate3d(0, 0, 0); }
  #FormationQuest #bonusTextWrap {
    width: 252px;
    height: 50px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 3px;
    right: 72px;
    z-index: 10000;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #FormationQuest #bonusTextWrap .bonusText {
      width: 252px;
      height: 24px;
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 85%, rgba(0, 0, 0, 0) 100%);
      display: block;
      position: relative;
      line-height: 24px;
      -webkit-border-radius: 12px 0 0 12px; }
      #FormationQuest #bonusTextWrap .bonusText:nth-child(2) {
        margin-top: 2px; }
      #FormationQuest #bonusTextWrap .bonusText .bonusIcon {
        width: 26px;
        height: 26px;
        display: block;
        position: absolute;
        top: -2px;
        left: 9px; }
      #FormationQuest #bonusTextWrap .bonusText .iconText {
        position: absolute;
        top: 0px;
        left: 36px;
        font-size: 18px; }
      #FormationQuest #bonusTextWrap .bonusText .text {
        position: absolute;
        top: 0px;
        right: 28px;
        font-size: 18px; }
  #FormationQuest #questMainBtn {
    display: none; }
  #FormationQuest .charaIcon {
    width: 119px;
    height: 105px;
    position: relative; }
    #FormationQuest .charaIcon .charaImg {
      width: 90px;
      height: 90px;
      position: absolute;
      top: 7px;
      left: 15px;
      border-radius: 100%;
      z-index: 5; }
    #FormationQuest .charaIcon .frame {
      width: 100%;
      height: 100%;
      background: url("/magica/resource/image_web/page/formation/formation_team_leader_frame_on.png") right top no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10; }
    #FormationQuest .charaIcon .bg {
      width: 100%;
      height: 100%;
      background: url("/magica/resource/image_web/page/formation/formation_team_leader_frame_on_bg.png") center center no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
  #FormationQuest .formationMiniMap {
    width: 50px;
    height: 50px;
    background: url("/magica/resource/image_web/page/formation/bg_formation_s.png") left bottom no-repeat;
    position: relative; }
    #FormationQuest .formationMiniMap span {
      width: 10px;
      height: 10px;
      background: url("/magica/resource/image_web/page/formation/bg_formation_s_off.png") left bottom no-repeat;
      display: block;
      position: absolute; }
      #FormationQuest .formationMiniMap span.on {
        background: url("/magica/resource/image_web/page/formation/bg_formation_s_on.png") left bottom no-repeat; }
    #FormationQuest .formationMiniMap .pos_1 {
      top: 32px;
      left: 8px; }
    #FormationQuest .formationMiniMap .pos_2 {
      top: 20px;
      left: 8px; }
    #FormationQuest .formationMiniMap .pos_3 {
      top: 8px;
      left: 8px; }
    #FormationQuest .formationMiniMap .pos_4 {
      top: 32px;
      left: 20px; }
    #FormationQuest .formationMiniMap .pos_5 {
      top: 20px;
      left: 20px; }
    #FormationQuest .formationMiniMap .pos_6 {
      top: 8px;
      left: 20px; }
    #FormationQuest .formationMiniMap .pos_7 {
      top: 32px;
      left: 32px; }
    #FormationQuest .formationMiniMap .pos_8 {
      top: 20px;
      left: 32px; }
    #FormationQuest .formationMiniMap .pos_9 {
      top: 8px;
      left: 32px; }
  #FormationQuest .formationSheet {
    width: 440px;
    height: 410px;
    background: url("/magica/resource/image_web/page/formation/bg_formation_l.png") left bottom no-repeat;
    background-size: 440px 410px;
    position: absolute;
    top: -webkit-calc(50% - 238px);
    left: 48px; }
    #FormationQuest .formationSheet:before {
      width: 84px;
      height: 134px;
      background: url("/magica/resource/image_web/page/formation/formation_arrow_l.png") left bottom no-repeat;
      position: absolute;
      top: -webkit-calc(50% - 67px);
      left: -40px;
      content: "";
      z-index: 10000; }
    #FormationQuest .formationSheet .formationMass {
      width: 114px;
      height: 114px;
      background: url("/magica/resource/image_web/page/formation/bg_formation_l_on.png") left bottom no-repeat;
      background-size: 114px 114px;
      position: absolute; }
      #FormationQuest .formationSheet .formationMass.pos_1 {
        bottom: 29px;
        left: 43px; }
      #FormationQuest .formationSheet .formationMass.pos_2 {
        top: 148px;
        left: 43px; }
      #FormationQuest .formationSheet .formationMass.pos_3 {
        top: 28px;
        left: 43px; }
      #FormationQuest .formationSheet .formationMass.pos_4 {
        bottom: 29px;
        left: 163px; }
      #FormationQuest .formationSheet .formationMass.pos_5 {
        top: 148px;
        left: 163px; }
      #FormationQuest .formationSheet .formationMass.pos_6 {
        top: 28px;
        left: 163px; }
      #FormationQuest .formationSheet .formationMass.pos_7 {
        right: 43px;
        bottom: 29px; }
      #FormationQuest .formationSheet .formationMass.pos_8 {
        top: 148px;
        right: 43px; }
      #FormationQuest .formationSheet .formationMass.pos_9 {
        top: 28px;
        right: 43px; }
  #FormationQuest #formationSheetListWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; }
    #FormationQuest #formationSheetListWrap .formationHead {
      -webkit-transform: translateZ(0);
      pointer-events: none !important;
      opacity: 0; }
    #FormationQuest #formationSheetListWrap .formationEffect {
      height: 100%;
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      #FormationQuest #formationSheetListWrap .formationEffect .attIcon {
        height: 28px;
        position: absolute;
        top: -3px;
        right: -3px; }
      #FormationQuest #formationSheetListWrap .formationEffect img {
        margin: 1px auto;
        display: block; }
    #FormationQuest #formationSheetListWrap #formationSheetListInner {
      width: 500px;
      height: -webkit-calc(100% - 182px);
      position: absolute;
      top: 72px;
      right: 70px;
      overflow: hidden; }
      #FormationQuest #formationSheetListWrap #formationSheetListInner .scrollWrap {
        height: auto;
        min-height: 100%;
        padding: 15px 0 100px; }
      #FormationQuest #formationSheetListWrap #formationSheetListInner:not(.hide) .list.select:before {
        -webkit-animation: cursor_anim 1s ease 0s infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      #FormationQuest #formationSheetListWrap #formationSheetListInner .list {
        width: 388px;
        height: 72px;
        margin: 0 0 20px 80px;
        padding: 8px 10px;
        position: relative;
        -webkit-align-items: center;
        /* Safari */
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #FormationQuest #formationSheetListWrap #formationSheetListInner .list .formationMiniMap {
          margin: 0 10px 0 0; }
        #FormationQuest #formationSheetListWrap #formationSheetListInner .list.select {
          -webkit-box-shadow: 0 0 0 6px #ff3b81,0 0 0 2px #ffffff inset;
          box-shadow: 0 0 0 6px #ff3b81,0 0 0 2px #ffffff inset; }
          #FormationQuest #formationSheetListWrap #formationSheetListInner .list.select:before {
            width: 66px;
            height: 48px;
            background: url("/magica/resource/image_web/page/formation/cursor.png") left bottom no-repeat;
            position: absolute;
            top: -webkit-calc(50% - 24px);
            left: -57px;
            content: ""; }
  #FormationQuest #deckSelectWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; }
    #FormationQuest #deckSelectWrap .deckSelectInner {
      width: 870px;
      height: 334px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: -webkit-calc(50% - 187px);
      left: -webkit-calc(50% - 435px);
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      /* Safari */
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: space-between;
      /* Safari */
      -ms-flex-line-pack: justify;
      align-content: space-between; }
      #FormationQuest #deckSelectWrap .deckSelectInner .deckSelectDetail {
        width: 283px;
        height: 98px;
        background: url("/magica/resource/image_web/page/formation/formation_team_wrap_on.png") right top no-repeat;
        position: relative; }
        #FormationQuest #deckSelectWrap .deckSelectInner .deckSelectDetail .charaIcon {
          position: absolute;
          top: -4px;
          left: 0; }
        #FormationQuest #deckSelectWrap .deckSelectInner .deckSelectDetail .formationMiniMap {
          position: absolute;
          right: 64px;
          bottom: 10px; }
        #FormationQuest #deckSelectWrap .deckSelectInner .deckSelectDetail .deckName {
          width: 100%;
          height: 34px;
          padding: 0 10px;
          position: absolute;
          top: 0;
          right: 0;
          line-height: 38px;
          text-align: right;
          border-radius: 0 0 10px 10px; }
        #FormationQuest #deckSelectWrap .deckSelectInner .deckSelectDetail.off {
          background: url("/magica/resource/image_web/page/formation/formation_team_wrap_off.png") right top no-repeat; }
          #FormationQuest #deckSelectWrap .deckSelectInner .deckSelectDetail.off .charaIcon {
            width: 118px;
            height: 104px;
            background: url("/magica/resource/image_web/page/formation/formation_team_leader_frame_off.png") right top no-repeat; }
  #FormationQuest #deckPreviewWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; }
  #FormationQuest #deckFormationWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000; }
    #FormationQuest #deckFormationWrap.deckPreview .formationHead, #FormationQuest #deckFormationWrap.deckPreview #deckWrap, #FormationQuest #deckFormationWrap.deckPreview #deckChangeBtn, #FormationQuest #deckFormationWrap.deckPreview #bottomWrap, #FormationQuest #deckFormationWrap.deckPreview .deckChangeBg:before {
      display: none; }
    #FormationQuest #deckFormationWrap #deckChangeBtn {
      width: 186px;
      height: 57px;
      background: url("/magica/resource/image_web/page/formation/btn_team_change.png") left top no-repeat;
      position: absolute;
      top: 165px;
      left: 47px;
      color: #ffffff;
      line-height: 57px;
      text-align: center;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      text-shadow: -1px -1px 2px #ff3359, 1px -1px 2px #ff3359, -1px 1px 2px #ff3359, 1px 1px 2px #ff3359, -1px -1px 2px #ff3359, 1px -1px 2px #ff3359, -1px 1px 2px #ff3359, 1px 1px 2px #ff3359;
      z-index: 100000;
      -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25)) brightness(100%); }
      #FormationQuest #deckFormationWrap #deckChangeBtn.off, #FormationQuest #deckFormationWrap #deckChangeBtn.changeHold {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        pointer-events: none;
        -webkit-filter: brightness(70%); }
    #FormationQuest #deckFormationWrap #deckName {
      width: 260px;
      height: 82px;
      padding: 24px 0 0 38px;
      background: url("/magica/resource/image_web/page/formation/bg_deck_name.png") left bottom no-repeat;
      position: absolute;
      top: 74px;
      left: -0;
      font-size: 18px;
      line-height: 58px;
      text-shadow: 0 0;
      z-index: 10000; }
    #FormationQuest #deckFormationWrap #deckStatus {
      width: 240px;
      height: 78px;
      padding: 34px 40px 0 0;
      background: url("/magica/resource/image_web/page/formation/bg_team_pt.png") left bottom no-repeat;
      display: none;
      position: absolute;
      top: 74px;
      left: -0;
      font-size: 22px;
      line-height: 45px;
      text-align: right;
      text-shadow: 0 0; }
    #FormationQuest #deckFormationWrap #formationSheetWrap {
      width: 100%;
      height: -webkit-calc(100% - 109px);
      position: relative;
      z-index: 100; }
      #FormationQuest #deckFormationWrap #formationSheetWrap.deckChangeBg:not(.bgHide):before {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        -webkit-animation: common_fade_in .3s ease 0s 1 alternate;
        pointer-events: none;
        opacity: 0;
        z-index: 1;
        -webkit-animation-fill-mode: forwards; }
      #FormationQuest #deckFormationWrap #formationSheetWrap > div {
        width: 100%;
        height: 100%;
        position: relative; }
      #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet {
        width: 236px;
        height: 220px;
        background-size: 236px 220px;
        position: absolute;
        top: 236px;
        left: 22px;
        z-index: 2; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet:before {
          width: 48px;
          height: 76px;
          background: url("/magica/resource/image_web/page/formation/formation_arrow_l.png") left bottom no-repeat;
          background-size: 48px 76px;
          position: absolute;
          top: -webkit-calc(50% - 38px);
          left: -22px;
          content: "";
          z-index: 10000; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet.pos_1 .pos_1:before {
          -webkit-animation: common_fade_in_out 1s ease-in-out 0s infinite;
          -webkit-animation-fill-mode: forwards; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet.pos_2 .pos_2:before {
          -webkit-animation: common_fade_in_out 1s ease-in-out 0s infinite;
          -webkit-animation-fill-mode: forwards; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet.pos_3 .pos_3:before {
          -webkit-animation: common_fade_in_out 1s ease-in-out 0s infinite;
          -webkit-animation-fill-mode: forwards; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet.pos_4 .pos_4:before {
          -webkit-animation: common_fade_in_out 1s ease-in-out 0s infinite;
          -webkit-animation-fill-mode: forwards; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet.pos_5 .pos_5:before {
          -webkit-animation: common_fade_in_out 1s ease-in-out 0s infinite;
          -webkit-animation-fill-mode: forwards; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet.pos_6 .pos_6:before {
          -webkit-animation: common_fade_in_out 1s ease-in-out 0s infinite;
          -webkit-animation-fill-mode: forwards; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet.pos_7 .pos_7:before {
          -webkit-animation: common_fade_in_out 1s ease-in-out 0s infinite;
          -webkit-animation-fill-mode: forwards; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet.pos_8 .pos_8:before {
          -webkit-animation: common_fade_in_out 1s ease-in-out 0s infinite;
          -webkit-animation-fill-mode: forwards; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet.pos_9 .pos_9:before {
          -webkit-animation: common_fade_in_out 1s ease-in-out 0s infinite;
          -webkit-animation-fill-mode: forwards; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass {
          width: 60px;
          height: 60px;
          background-size: 60px 60px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass:before {
            width: 60px;
            height: 60px;
            background: url("/magica/resource/image_web/page/formation/bg_formation_flash.png") left top no-repeat;
            background-size: 60px 60px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            content: "";
            pointer-events: none;
            opacity: 0;
            z-index: 10;
            mix-blend-mode: overlay; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass.pos_1 {
            bottom: 15px;
            left: 23px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass.pos_2 {
            top: 80px;
            left: 23px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass.pos_3 {
            top: 15px;
            left: 23px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass.pos_4 {
            bottom: 15px;
            left: 88px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass.pos_5 {
            top: 80px;
            left: 88px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass.pos_6 {
            top: 15px;
            left: 88px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass.pos_7 {
            right: 23px;
            bottom: 15px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass.pos_8 {
            top: 80px;
            right: 23px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass.pos_9 {
            top: 15px;
            right: 23px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass .formationEffect {
            height: 100%;
            padding-top: 22px;
            display: -webkit-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-direction: column;
            /* Safari */
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass .formationEffect img {
              height: 18px;
              margin: 0 auto;
              display: block; }
            #FormationQuest #deckFormationWrap #formationSheetWrap .formationSheet .formationMass .formationEffect .attIcon {
              height: 20px;
              position: absolute;
              top: 2px;
              right: 2px; }
      #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead {
        width: 750px;
        height: 74px;
        position: absolute;
        top: 56px;
        left: 262px;
        z-index: 2; }
        #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head {
          width: 142px;
          height: 78px;
          background: url("/magica/resource/image_web/page/formation/bg_deck_formation.png") left bottom no-repeat;
          position: absolute;
          top: 0; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_1 {
            left: 0; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_2 {
            left: 152px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_3 {
            left: 304px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_4 {
            left: 456px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head.pos_5 {
            left: 608px; }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head .formationMiniMap {
            position: absolute;
            top: 0;
            left: -webkit-calc(50% - 25px); }
          #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head .formationEffect {
            width: 100%;
            position: absolute;
            top: 52px;
            left: 0;
            z-index: 100;
            -webkit-justify-content: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            #FormationQuest #deckFormationWrap #formationSheetWrap .formationHead .head .formationEffect img {
              height: 18px;
              margin: 0 1px;
              display: block; }
    #FormationQuest #deckFormationWrap #deckWrap {
      width: 750px;
      height: -webkit-calc(100% - 250px);
      max-height: 450px;
      position: absolute;
      top: 134px;
      left: 262px; }
      #FormationQuest #deckFormationWrap #deckWrap .tapArea {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1000; }
      #FormationQuest #deckFormationWrap #deckWrap .epSetBtn {
        width: 46px;
        height: 46px;
        background: url("/magica/resource/image_web/page/formation/icon_deck_wrap_ep_off.png") left top no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1001; }
        #FormationQuest #deckFormationWrap #deckWrap .epSetBtn.on {
          background: url("/magica/resource/image_web/page/formation/icon_deck_wrap_ep_on.png") left top no-repeat, url("/magica/resource/image_web/page/formation/icon_deck_wrap_ep_off.png") left top no-repeat; }
          #FormationQuest #deckFormationWrap #deckWrap .epSetBtn.on:before {
            width: 66px;
            height: 16px;
            background: url("/magica/resource/image_web/page/formation/icon_leader.png") left top no-repeat;
            position: absolute;
            top: 5px;
            right: 38px;
            content: ""; }
      #FormationQuest #deckFormationWrap #deckWrap.tapBlock .cardWrap:not(.select) {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        pointer-events: none;
        -webkit-filter: brightness(50%); }
      #FormationQuest #deckFormationWrap #deckWrap .cardWrap {
        width: 142px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
        -webkit-filter: brightness(100%); }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap .eventIcon {
          width: 66px;
          height: 50px;
          background: url("/magica/resource/image_web/page/formation/icon_event_formation.png") left top no-repeat;
          display: none;
          position: absolute;
          top: 21px;
          left: 0;
          z-index: 100000; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.eventChara .eventIcon {
          display: block; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap .bonusIcon {
          width: 78px;
          height: 24px;
          background: url("/magica/resource/image_web/page/formation/icon_event_bonus.png") left top no-repeat;
          background-size: 78px 24px;
          display: block;
          position: absolute;
          top: 27px;
          left: 0;
          z-index: 100000; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.select .bg {
          width: 100%;
          height: 100%;
          border-width: 48px;
          border-style: solid;
          -webkit-border-image: url("/magica/resource/image_web/page/formation/bg_deck_wrap_off.png") 52 stretch; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.select .select {
          width: 146px;
          height: -webkit-calc(100% + 4px);
          position: absolute;
          top: -2px;
          left: -2px;
          content: "";
          border-width: 40px;
          border-style: solid;
          -webkit-border-image: url("/magica/resource/image_web/page/formation/deck_wrap_select.png") 52 stretch;
          z-index: 1003;
          pointer-events: none; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.support {
          background: -webkit-linear-gradient(bottom, #e9d7c5 0%, #fffdf3 100%);
          border-radius: 7px 7px 25px 25px;
          -webkit-box-shadow: 0 0 10px 4px #a8a3b9 inset;
          box-shadow: 0 0 10px 4px #a8a3b9 inset; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap.support .bg {
            width: 100%;
            height: 100%;
            border-width: 48px;
            border-style: solid;
            -webkit-border-image: url("/magica/resource/image_web/page/formation/bg_deck_wrap_off.png") 52 stretch; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap.support:after {
            width: 75px;
            height: 79px;
            background: url("/magica/resource/image_web/page/formation/icon_deck_wrap_support.png") left bottom no-repeat;
            display: inline-block;
            position: absolute;
            top: -webkit-calc(50% - 60px);
            left: -webkit-calc(50% - 37px);
            text-align: center;
            content: ""; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap.support:before {
            width: 142px;
            height: 23px;
            background: url("/magica/resource/image_web/page/formation/icon_deck_wrap_suppor2.png") left bottom no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            z-index: 100; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.support.on:after {
          display: none; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.off {
          background: -webkit-linear-gradient(bottom, #e9d7c5 0%, #fffdf3 100%);
          border-radius: 7px 7px 25px 25px;
          -webkit-box-shadow: 0 0 10px 4px #a8a3b9 inset;
          box-shadow: 0 0 10px 4px #a8a3b9 inset; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap.off .bg {
            width: 100%;
            height: 100%;
            border-width: 48px;
            border-style: solid;
            -webkit-border-image: url("/magica/resource/image_web/page/formation/bg_deck_wrap_off.png") 52 stretch; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap.off:after {
            width: 75px;
            height: 79px;
            background: url("/magica/resource/image_web/page/formation/icon_deck_wrap_off.png") left bottom no-repeat;
            display: inline-block;
            position: absolute;
            top: -webkit-calc(50% - 60px);
            left: -webkit-calc(50% - 37px);
            text-align: center;
            pointer-events: none;
            content: "";
            z-index: 1000; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.on {
          background: -webkit-linear-gradient(bottom, #e9d7c5 0%, #fffdf3 100%);
          border-radius: 7px 7px 25px 25px; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap.on .maskWrap {
            width: 142px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-mask: url("/magica/resource/image_web/page/formation/bg_deck_wrap_mask_top.png") left top no-repeat, url("/magica/resource/image_web/page/formation/bg_deck_wrap_mask_bottom.png") left bottom no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0.04, rgba(0, 0, 0, 0)), color-stop(0.04, black), color-stop(0.96, black), color-stop(0.96, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))); }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap.on .bg {
            width: 100%;
            height: 100%;
            position: relative;
            border-width: 48px;
            border-style: solid;
            -webkit-border-image: url("/magica/resource/image_web/page/formation/bg_deck_wrap_off.png") 52 stretch;
            z-index: 10; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap .charaImg {
          width: 142px;
          position: absolute;
          top: 0;
          left: -webkit-calc(50% - 71px);
          pointer-events: none; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_1 {
          left: 0; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_2 {
          left: 152px; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_3 {
          left: 304px; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_4 {
          left: 456px; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.pos_5 {
          left: 608px; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap .memoriaSkillWrap {
          width: 136px;
          height: 50px;
          padding: 14px 0 0;
          background: url("/magica/resource/image_web/page/formation/bg_deck_memoria.png") center top no-repeat;
          display: -webkit-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          position: absolute;
          bottom: 1px;
          left: 3px;
          z-index: 1000;
          -webkit-justify-content: flex-end;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-justify-content: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap .memoriaSkillWrap span {
            width: 32px;
            height: 32px;
            padding: 2px;
            background: url("/magica/resource/image_web/page/formation/btn_memoria_equip.png") left top no-repeat;
            display: block; }
            #FormationQuest #deckFormationWrap #deckWrap .cardWrap .memoriaSkillWrap span img {
              width: 28px;
              height: 28px; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap.support .memoriaSkillWrap span {
          width: 32px;
          height: 32px;
          padding: 0;
          background: #96897b;
          display: block;
          border: 2px solid #86796b;
          -webkit-border-radius: 16px; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap.support .memoriaSkillWrap span img {
            width: 28px;
            height: 28px; }
        #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status {
          width: 138px;
          height: 140px;
          padding: 40px 20px 0;
          background: url("/magica/resource/image_web/page/formation/bg_deck_wrap_status.png") left top no-repeat;
          position: absolute;
          bottom: 42px;
          left: 2px; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status #rare {
            width: 100%;
            height: 16px;
            margin: 5px 0 6px;
            -webkit-justify-content: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status #rare span {
              width: 16px;
              height: 16px; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status #level {
            color: #ffffff;
            font-size: 18px;
            line-height: 1.1;
            text-align: center; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status dl {
            display: -webkit-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status dl dt, #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status dl dd {
              font-size: 14px;
              line-height: 1.1;
              text-shadow: 0 0; }
            #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status dl dt {
              width: 40px; }
            #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status dl dd {
              width: 58px;
              text-align: right; }
          #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status #attribute {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 4px;
            left: -webkit-calc(50% - 16px); }
            #FormationQuest #deckFormationWrap #deckWrap .cardWrap .status #attribute span {
              width: 32px;
              height: 32px;
              background-size: 32px 32px; }
  #FormationQuest.changeHold #headWrap {
    display: block; }
  #FormationQuest.changeHold #bottomWrap, #FormationQuest.changeHold #headWrap {
    background: rgba(0, 0, 0, 0.7); }
  #FormationQuest.changeHold #deckChangeBtn {
    display: none; }
  #FormationQuest #headWrap {
    width: 100%;
    height: 72px;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    position: absolute;
    top: 0;
    left: 0; }
  #FormationQuest #bottomWrap {
    width: 100%;
    height: 109px;
    background: url("/magica/resource/image_web/page/formation/formation_footer_bg_01.png") center bottom no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; }
    #FormationQuest #bottomWrap:before {
      width: 100%;
      height: 109px;
      background: url("/magica/resource/image_web/page/formation/formation_footer_bg_02.png") center bottom no-repeat;
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      -webkit-animation: bg_fade_in_out 1.8s linear 1s infinite alternate;
      pointer-events: none; }
    #FormationQuest #bottomWrap #cautionText {
      width: 100%;
      height: 33px;
      background: #664a26 url("/magica/resource/image_web/page/formation/bg_caution_text.png") center top no-repeat;
      overflow: hidden;
      color: #ffffff;
      font-size: 18px;
      line-height: 33px;
      text-align: center;
      text-shadow: 0 0; }
    #FormationQuest #bottomWrap .btnList {
      position: absolute;
      top: 40px;
      left: 90px; }
      #FormationQuest #bottomWrap .btnList li {
        width: 176px;
        margin: 0 10px 0 0;
        font-size: 18px;
        line-height: 64px; }
    #FormationQuest #bottomWrap #mainBtn, #FormationQuest #bottomWrap #questMainBtn {
      width: 98px;
      height: 102px;
      background: url("/magica/resource/image_web/page/formation/btn_main.png") left top no-repeat;
      position: absolute;
      right: 23px;
      bottom: 4px;
      color: #ffffff;
      font-size: 20px;
      line-height: 102px;
      text-align: center;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
      text-shadow: -1px -1px 2px #ff3359, 1px -1px 2px #ff3359, -1px 1px 2px #ff3359, 1px 1px 2px #ff3359, -1px -1px 2px #ff3359, 1px -1px 2px #ff3359, -1px 1px 2px #ff3359, 1px 1px 2px #ff3359;
      -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25)); }
      #FormationQuest #bottomWrap #mainBtn.off, #FormationQuest #bottomWrap #questMainBtn.off {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25)) grayscale(100%); }
  #FormationQuest #deckDetailWrap {
    padding: 80px 20px 0 50px; }
    #FormationQuest #deckDetailWrap #deckDetailMiniMapWrap {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 28px;
      left: 49px; }
    #FormationQuest #deckDetailWrap:not(.hide) {
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    #FormationQuest #deckDetailWrap #detailViewChange {
      position: absolute;
      top: 40px;
      right: 20px; }
    #FormationQuest #deckDetailWrap #detailViewCnt {
      position: absolute;
      top: 60px;
      right: 220px;
      font-size: 18px; }
    #FormationQuest #deckDetailWrap .infoWrap {
      width: 451px;
      height: 118px;
      margin-bottom: 10px;
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-end;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-align-items: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    #FormationQuest #deckDetailWrap .deckDetailFormationSheet, #FormationQuest #deckDetailWrap .deckDetailCongeniality {
      position: relative; }
      #FormationQuest #deckDetailWrap .deckDetailFormationSheet p, #FormationQuest #deckDetailWrap .deckDetailCongeniality p {
        height: 28px;
        padding: 0 10px 0 12px;
        background: #b28750;
        display: inline-block;
        position: absolute;
        top: -12px;
        left: -5px;
        color: #ffffff;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        border-radius: 4px; }
    #FormationQuest #deckDetailWrap .deckDetailFormationSheet {
      width: 148px;
      height: 100px;
      margin-right: 12px;
      background: url("/magica/resource/image_web/page/formation/bg_deck_detail1.png") left top no-repeat; }
    #FormationQuest #deckDetailWrap .deckDetailCongeniality {
      width: 236px;
      height: 100px;
      background: url("/magica/resource/image_web/page/formation/bg_deck_detail2.png") left top no-repeat; }
    #FormationQuest #deckDetailWrap.status .detail.status {
      display: block; }
    #FormationQuest #deckDetailWrap.skill .detail.skill {
      display: block; }
    #FormationQuest #deckDetailWrap.memoria1 .detail.memoria1 {
      display: block; }
    #FormationQuest #deckDetailWrap.memoria2 .detail.memoria2 {
      display: block; }
    #FormationQuest #deckDetailWrap .cardDetailWrap {
      width: 451px;
      height: 118px;
      margin-bottom: 10px;
      background: url("/magica/resource/image_web/page/formation/bg_deck_detail_off.png") left top no-repeat;
      position: relative; }
      #FormationQuest #deckDetailWrap .cardDetailWrap .detail {
        display: none; }
        #FormationQuest #deckDetailWrap .cardDetailWrap .detail.status {
          padding: 15px 0 0 90px; }
          #FormationQuest #deckDetailWrap .cardDetailWrap .detail.status .diskWrap {
            display: -webkit-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.status .diskWrap p {
              width: 62px;
              height: 17px;
              margin-right: 10px;
              padding-left: 6px;
              background: url("/magica/resource/image_web/page/formation/bg_detail_title.png") left top no-repeat;
              color: #ffffff;
              font-size: 14px;
              line-height: 18px; }
          #FormationQuest #deckDetailWrap .cardDetailWrap .detail.status .commandList li {
            width: 50px;
            height: 50px; }
          #FormationQuest #deckDetailWrap .cardDetailWrap .detail.status .flexBox {
            margin-top: 5px;
            margin-bottom: 8px;
            display: -webkit-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
          #FormationQuest #deckDetailWrap .cardDetailWrap .detail.status dl {
            width: 177px;
            height: 17px;
            display: -webkit-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 14px;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.status dl dt {
              width: 42px;
              padding: 0 0 0;
              background: #b28750;
              color: #ffffff;
              line-height: 18px;
              text-align: center;
              -webkit-border-radius: 3px 0 0 3px; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.status dl dd {
              width: 60px;
              padding: 0 0 0 4px;
              line-height: 18px; }
              #FormationQuest #deckDetailWrap .cardDetailWrap .detail.status dl dd.memoria_status {
                width: 75px; }
        #FormationQuest #deckDetailWrap .cardDetailWrap .detail.skill {
          padding: 10px 0 0 80px; }
          #FormationQuest #deckDetailWrap .cardDetailWrap .detail.skill .skillWrap {
            display: -webkit-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.skill .skillWrap:not(:last-child) {
              margin-bottom: 6px; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.skill .skillWrap .pointFrame {
              width: 110px;
              padding-left: 10px;
              position: relative;
              font-size: 14px;
              line-height: 24px;
              text-align: left;
              z-index: 10; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.skill .skillWrap .skillIcon {
              width: 46px;
              height: 46px;
              margin-right: 8px;
              margin-left: -42px;
              position: relative;
              z-index: 12; }
              #FormationQuest #deckDetailWrap .cardDetailWrap .detail.skill .skillWrap .skillIcon img {
                width: 100%;
                height: 100%;
                display: block; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.skill .skillWrap .skillName {
              font-size: 14px; }
        #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 {
          padding: 10px 0 0 100px; }
          #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap {
            background: url("/magica/resource/image_web/page/formation/bg_deck_detail_memoria_off.png") left center no-repeat;
            display: -webkit-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap:not(:last-child), #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap:not(:last-child) {
              margin-bottom: 6px; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap.type_s, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap.type_s {
              background: url("/magica/resource/image_web/page/formation/bg_deck_detail_memoria_skill.png") left center no-repeat; }
              #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap.type_s p, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap.type_s p {
                color: #c84878; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap.type_a, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap.type_a {
              background: url("/magica/resource/image_web/page/formation/bg_deck_detail_memoria_abi.png") left center no-repeat; }
              #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap.type_a p, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap.type_a p {
                color: #287b99; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap.none .memoriaImg, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap.off .memoriaImg, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap.none .memoriaImg, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap.off .memoriaImg {
              margin-right: 66px; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap.none .memoriaImg, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap.off .memoriaImg, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap.none .memoriaImg, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap.off .memoriaImg {
              background: url("/magica/resource/image_web/page/formation/icon_detail_memoria_none.png") left top no-repeat; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap .memoriaImg, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap .memoriaImg {
              width: 45px;
              height: 45px;
              margin-left: -6px; }
              #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap .memoriaImg img, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap .memoriaImg img {
                width: 100%;
                height: 100%; }
            #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap .skillIcon, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap .skillIcon {
              width: 28px;
              height: 28px;
              margin: 0 30px 0 8px; }
              #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria1 .memoriaWrap .skillIcon img, #FormationQuest #deckDetailWrap .cardDetailWrap .detail.memoria2 .memoriaWrap .skillIcon img {
                width: 100%;
                height: 100%; }
      #FormationQuest #deckDetailWrap .cardDetailWrap .charaIcon {
        background: url("/magica/resource/image_web/page/formation/deck_detail_chara_off.png") left top no-repeat;
        position: absolute;
        top: 6px;
        left: -35px; }
        #FormationQuest #deckDetailWrap .cardDetailWrap .charaIcon .lv {
          width: 100%;
          position: absolute;
          top: -5px;
          left: 0;
          font-size: 15px;
          text-align: center;
          z-index: 100; }
        #FormationQuest #deckDetailWrap .cardDetailWrap .charaIcon .attribute {
          width: 36px;
          height: 36px;
          position: absolute;
          top: -12px;
          left: -4px;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          z-index: 100;
          -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); }
        #FormationQuest #deckDetailWrap .cardDetailWrap .charaIcon .rare {
          width: 100%;
          position: absolute;
          bottom: 6px;
          left: 0;
          z-index: 100; }
          #FormationQuest #deckDetailWrap .cardDetailWrap .charaIcon .rare span {
            width: 16px;
            height: 16px; }
      #FormationQuest #deckDetailWrap .cardDetailWrap.on {
        background: url("/magica/resource/image_web/page/formation/bg_deck_detail_on.png") left top no-repeat; }
        #FormationQuest #deckDetailWrap .cardDetailWrap.on .charaIcon {
          background: none; }

@-webkit-keyframes cursor_anim {
  0% {
    -webkit-transform: translate3d(-5px, 0, 0); }
  90% {
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-5px, 0, 0); } }

@-webkit-keyframes bg_fade_in_out {
  0% {
    -webkit-transform: translateZ(0);
    opacity: .2; }
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(0);
    opacity: .2; } }
