<%
	var popupHeaderPath = '/magica/resource/image_web/event/raid/'+eventId+'/popup/title_raid_popup.png';
%>
<div id='EventRaidTop'></div>

<script type="text/template" id="missionParts">
	<style type="text/css">
		.header {
			background: url(<%= popupHeaderPath %>) left top no-repeat;
		}
	</style>

	<div class="closeBtn se_cancel TE"></div>

	<div class="header c_white">撃破ミッション</div>

	<div id="tabBtn">
		<div class="hiddenWrap" id="tabScroll">
			<ul class="common_tab t_pink ml_tab">
				<li class="btn TE se_tabs mission1" data-wrap="mission1" data-mission-name="個人撃破報酬">
					<span>個人撃破報酬</span>
					<div id="mission1Batch" class="batch"></div>
				</li>
				<li class="btn TE se_tabs mission2" data-wrap="mission2" data-mission-name="全体撃破報酬">
					<span>全体撃破報酬</span>
					<div id="mission2Batch" class="batch"></div>
				</li>
			</ul>
		</div>
	</div>

	<!-- 一覧 -->
	<div id="listWrap" class="commonFrame2" style="height: -webkit-calc(100% - 66px);">
		<h2 id="listTitle"></h2>

		<!-- イベントミッションリスト -->
		<div id="missionScrollWrap">
			<div id="mission1" class="mission1List"></div>
			<div id="mission2" class="mission2List"></div>
		</div>
	</div>

</script>

<script type="text/template" id="missionListParts">
	<%='<% var rewardModel = model.eventRaidChallenge.rewardList[0]; %\>'%>
	<%='<% var presentType = rewardModel.presentType; %\>'%>
	<%='<% var itemId      = rewardModel.itemId; %\>'%>

	<%='<% var dir; %\>'%>
	<%='<% if(presentType !== "GIFT") { %\>'%>
		<%='<% dir = (itemId && itemId.indexOf("EVENT_") > -1) ? "event" : "main"; %\>'%>
	<%='<% } else { %\>'%>
		<%='<% dir = "gift"; %\>'%>
	<%='<% } %\>'%>

	<%='<% var itemName; %\>'%>
	<%='<% if(presentType === "RICHE") { %\>'%>
		<%='<% itemName = "riche"; %\>'%>
	<%='<% } else if(presentType === "GIFT") { %\>'%>
		<%='<% itemName = "item_gift_" + rewardModel.gift.id; %\>'%>
	<%='<% } else if(presentType === "PIECE" || presentType === "MAXPIECE"){ %\>'%>
		<%='<% itemName = "memoria_" + rewardModel.piece.pieceId + "_s"; %\>'%>
	<%='<% } else if(presentType !== "LIVE2D"){ %\>'%>
		<%='<% itemName = itemId.toLowerCase(); %\>'%>
	<%='<% } %\>'%>
	<div class="missionItemWrap">
		<%='<% if(presentType == "LIVE2D") { %\>'%>

			<div class="charaIcon">
				<div class="maskWrap">
					<img data-nativeimgkey='mini_<%="<%= rewardModel.live2d.charaId %\>00"%>_d' data-src='resource/image_native/mini/image/mini_<%="<%= rewardModel.live2d.charaId %\>00"%>_d.png'>
				</div>
			</div>
			<img src='/magica/resource/image_web/item/main/live2d.png' alt='' class="itemImage">
		<%='<% } else if(presentType === "PIECE" || presentType === "MAXPIECE"){ %\>'%>
			<img data-nativeimgkey="memoria_<%='<%=rewardModel.piece.pieceId%\>'%>_s" data-src="resource/image_native/memoria/memoria_<%='<%=rewardModel.piece.pieceId%\>'%>_s.png" class="itemImage">
		<%='<% } else if(presentType === "GIFT") { %\>'%>
			<img data-nativeimgkey='gift_<%='<%= rewardModel.gift.id %\>'%>' data-src='resource/image_native/gift/item_gift_<%='<%= rewardModel.gift.id %\>'%>.png'>
			<div class="rewardQuantity ts_gold">x<%='<%= rewardModel.quantity %\>'%></div>
		<%='<% } else { %\>'%>
			<img src="/magica/resource/image_web/item/<%='<%= dir %\>'%>/<%='<%= itemName %\>'%>.png">
			<div class="rewardQuantity ts_gold">x<%='<%= rewardModel.quantity %\>'%></div>
		<%='<% } %\>'%>

	</div>

	<span class="missionTitleWrap"><%='<%= model.eventRaidChallenge.displayName %\>'%></span>
	<%='<% if(model.cleared && missionValidity) { %\>'%>
	<span class="btn b_pink se_decide missionBtn TE"><span class="b_screen"></span></span>
	<%='<% } %\>'%>
</script>
