<% var nowRp = _.findWhere(model,{statusId:"RP"}); %>
<% var maxRp = _.findWhere(model,{statusId:"MAX_RP"}); %>

<div class="rpInfoArea">
	<ul class="rpPointWrap">
		<% for(var i=0;i<maxRp.point;i++){ %>
			<li<% if(nowRp.point>i){ %> class="on"<% } %>></li>
		<% } %>
	</ul>
	<div class="rpRemainTime c_purple<% if(nowRp.point >= maxRp.point){ %> off<% } %>">次の回復まで&nbsp;<span id="cureRemain" class="c_purple"></span></div>
	<span class="rpPlusBtn se_decide TE">
		<span class="b_screen"></span>
	</span>
</div>
