@charset "UTF-8";
.schedulePopup .popupInner .text {
  font-size: 21px;
  line-height: 60px; }

.schedulePopup #popScrollOuter {
  width: 883px;
  height: 344px;
  margin-left: 40px;
  overflow: hidden; }
  .schedulePopup #popScrollOuter .popScrollInner {
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-top: 4px;
    padding-bottom: 10px; }
    .schedulePopup #popScrollOuter .popScrollInner img {
      display: block; }

#EventTower.EventTowerTop {
  width: 1024px;
  height: 100%;
  position: relative; }
  #EventTower.EventTowerTop .touch {
    -webkit-transform: scale(0.95) translateZ(0); }
  #EventTower.EventTowerTop .live2dArea {
    width: 390px;
    height: -webkit-calc(100% - 60px);
    position: absolute;
    bottom: 0px;
    left: 40px;
    z-index: 1; }
  #EventTower.EventTowerTop .charaSerif {
    width: 448px;
    height: 160px;
    padding: 45px 40px 0 50px;
    background: url("/magica/resource/image_web/page/quest/questBattle/bg_serif.png") left top no-repeat;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 7px;
    left: -3px;
    font-size: 22px;
    line-height: 1.3;
    -webkit-border-radius: 10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #EventTower.EventTowerTop .charaSerif.off {
      display: none; }
    #EventTower.EventTowerTop .charaSerif .charaName {
      width: 208px;
      height: 20px;
      position: absolute;
      top: 29px;
      left: 190px;
      color: #ffffff;
      font-size: 14px;
      line-height: 20px;
      text-align: left; }
    #EventTower.EventTowerTop .charaSerif .serifFont {
      width: 358px;
      display: block;
      color: #5a5a5a;
      font-size: 20px;
      line-height: 1.3;
      white-space: normal;
      word-wrap: break-word;
      text-shadow: 0 0 0; }
  #EventTower.EventTowerTop #scrollOuter {
    width: 100%;
    height: -webkit-calc(100% - 23px);
    overflow: hidden; }
    #EventTower.EventTowerTop #scrollOuter .scrollInner {
      width: 100%;
      height: auto;
      min-height: 100%;
      padding-top: 14px;
      padding-bottom: 100px; }
  #EventTower.EventTowerTop #eventLogo {
    position: absolute;
    top: 52px;
    left: 0; }
    #EventTower.EventTowerTop #eventLogo img {
      display: block; }
  #EventTower.EventTowerTop #missionLinkBtn {
    width: 114px;
    height: 120px;
    padding-top: 45px;
    background: url("/magica/resource/image_web/common/btn/btn_circle_pink.png") left top no-repeat;
    background-size: 114px 120px;
    position: absolute;
    bottom: 140px;
    left: 335px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    z-index: 10; }
  #EventTower.EventTowerTop #helpBtn {
    width: 100px;
    position: absolute;
    top: 13px;
    right: 276px;
    z-index: 10000; }
  #EventTower.EventTowerTop #btnWrap {
    width: 490px;
    height: 60px;
    position: absolute;
    top: 68px;
    right: 80px; }
    #EventTower.EventTowerTop #btnWrap #schedulePopBtn {
      width: 138px;
      height: 52px;
      position: absolute;
      top: 4px;
      right: 0px; }
      #EventTower.EventTowerTop #btnWrap #schedulePopBtn p {
        margin-top: -4px;
        color: #a47122;
        font-size: 16px;
        line-height: 18px; }
    #EventTower.EventTowerTop #btnWrap #tabBtns {
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #EventTower.EventTowerTop #btnWrap #tabBtns .normal, #EventTower.EventTowerTop #btnWrap #tabBtns .challenge {
        width: 168px;
        height: 60px;
        display: block;
        position: relative;
        color: #ffffff;
        font-size: 18px;
        line-height: 60px;
        text-align: center; }
        #EventTower.EventTowerTop #btnWrap #tabBtns .normal.current, #EventTower.EventTowerTop #btnWrap #tabBtns .challenge.current {
          text-shadow: 0 0 !important; }
      #EventTower.EventTowerTop #btnWrap #tabBtns .normal {
        margin-right: 4px;
        text-shadow: -1px -1px 2px #329b0e, 1px -1px 2px #329b0e, -1px 1px 2px #329b0e, 1px 1px 2px #329b0e, -1px -1px 2px #329b0e, 1px -1px 2px #329b0e, -1px 1px 2px #329b0e, 1px 1px 2px #329b0e; }
        #EventTower.EventTowerTop #btnWrap #tabBtns .normal.current {
          color: #329b0e; }
      #EventTower.EventTowerTop #btnWrap #tabBtns .challengeWrap {
        position: relative; }
        #EventTower.EventTowerTop #btnWrap #tabBtns .challengeWrap .challenge {
          margin-right: 12px;
          text-shadow: -1px -1px 2px #ff5400, 1px -1px 2px #ff5400, -1px 1px 2px #ff5400, 1px 1px 2px #ff5400, -1px -1px 2px #ff5400, 1px -1px 2px #ff5400, -1px 1px 2px #ff5400, 1px 1px 2px #ff5400; }
          #EventTower.EventTowerTop #btnWrap #tabBtns .challengeWrap .challenge.current {
            color: #ff5400; }
        #EventTower.EventTowerTop #btnWrap #tabBtns .challengeWrap.off {
          pointer-events: none; }
          #EventTower.EventTowerTop #btnWrap #tabBtns .challengeWrap.off .btnWrap {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-filter: grayscale(100%) brightness(80%);
            position: relative;
            z-index: 10; }
          #EventTower.EventTowerTop #btnWrap #tabBtns .challengeWrap.off .offIcon {
            width: 134px;
            height: 40px;
            background: url("/magica/resource/image_web/event/tower/common/icon_challenge_closed_a.png") left top no-repeat;
            position: absolute;
            bottom: 0;
            right: -89px;
            z-index: 1; }
  #EventTower.EventTowerTop #questWrap {
    width: 560px;
    height: -webkit-calc(100% - 115px);
    padding: 46px 10px 0 26px;
    position: absolute;
    top: 138px;
    right: 8px; }
    #EventTower.EventTowerTop #questWrap h2 {
      width: 556px;
      padding: 0 20px;
      background: -webkit-linear-gradient(45deg, transparent 0, #ffffff 0), -webkit-linear-gradient(315deg, transparent 0, #ffffff 0), -webkit-linear-gradient(225deg, transparent 9px, #ffffff 10px), -webkit-linear-gradient(315deg, transparent 9px, #ffffff 10px) !important;
      background: -o-linear-gradient(45deg, transparent 0, #ffffff 0), -o-linear-gradient(315deg, transparent 0, #ffffff 0), -o-linear-gradient(225deg, transparent 9px, #ffffff 10px), -o-linear-gradient(315deg, transparent 9px, #ffffff 10px) !important;
      background: linear-gradient(45deg, transparent 0, #ffffff 0), linear-gradient(135deg, transparent 0, #ffffff 0), linear-gradient(225deg, transparent 9px, #ffffff 10px), linear-gradient(495deg, transparent 9px, #ffffff 10px) !important;
      background-repeat: no-repeat !important;
      background-position: bottom left, bottom right, top right, top left !important;
      background-size: 52% 52% !important;
      position: absolute;
      top: 2px;
      left: 2px;
      font-size: 19px;
      line-height: 44px;
      z-index: 1; }
  #EventTower.EventTowerTop #normalQuest, #EventTower.EventTowerTop #challengeQuest {
    display: none; }
  #EventTower.EventTowerTop .normal h2 {
    color: #329b0e; }
  #EventTower.EventTowerTop .normal #normalQuest {
    display: block; }
    #EventTower.EventTowerTop .normal #normalQuest .questTitle, #EventTower.EventTowerTop .normal #normalQuest .secondView li {
      color: #ffffff;
      text-shadow: -1px -1px 1px #329b0e, 1px -1px 1px #329b0e, -1px 1px 1px #329b0e, 1px 1px 1px #329b0e, -1px -1px #329b0e, 1px -1px #329b0e, -1px 1px #329b0e, 1px 1px #329b0e, -1px -1px 2px #329b0e, 1px -1px 2px #329b0e, -1px 1px 2px #329b0e, 1px 1px 2px #329b0e, -1px -1px 2px #329b0e, 1px -1px 2px #329b0e, -1px 1px 2px #329b0e, 1px 1px 2px #329b0e, -1px -1px 3px #329b0e, 1px -1px 3px #329b0e, -1px 1px 3px #329b0e, 1px 1px 3px #329b0e; }
  #EventTower.EventTowerTop .challenge h2 {
    color: #ff5400; }
  #EventTower.EventTowerTop .challenge #challengeQuest {
    display: block; }
    #EventTower.EventTowerTop .challenge #challengeQuest .questTitle, #EventTower.EventTowerTop .challenge #challengeQuest .secondView li {
      color: #ffffff;
      text-shadow: -1px -1px 1px #ff5400, 1px -1px 1px #ff5400, -1px 1px 1px #ff5400, 1px 1px 1px #ff5400, -1px -1px #ff5400, 1px -1px #ff5400, -1px 1px #ff5400, 1px 1px #ff5400, -1px -1px 2px #ff5400, 1px -1px 2px #ff5400, -1px 1px 2px #ff5400, 1px 1px 2px #ff5400, -1px -1px 2px #ff5400, 1px -1px 2px #ff5400, -1px 1px 2px #ff5400, 1px 1px 2px #ff5400, -1px -1px 3px #ff5400, 1px -1px 3px #ff5400, -1px 1px 3px #ff5400, 1px 1px 3px #ff5400; }
  #EventTower.EventTowerTop .questItemNumWrap {
    position: absolute;
    top: 140px;
    right: 154px;
    z-index: 1000; }
    #EventTower.EventTowerTop .questItemNumWrap, #EventTower.EventTowerTop .questItemNumWrap .num {
      color: #a47122;
      font-size: 18px;
      line-height: 44px; }
    #EventTower.EventTowerTop .questItemNumWrap .apItemImg {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 4px;
      left: -38px; }
  #EventTower.EventTowerTop .missionBtn {
    width: 122px;
    position: absolute;
    top: 145px;
    right: 22px;
    z-index: 1000; }
  #EventTower.EventTowerTop #eventShopWrap.bottom, #EventTower.EventTowerTop #missionLinkBtn.bottom {
    bottom: 16px !important; }
  #EventTower.EventTowerTop #eventShopWrap {
    position: absolute;
    bottom: 140px;
    left: 16px;
    z-index: 10; }
    #EventTower.EventTowerTop #eventShopWrap .itemNumWrap {
      width: 86px;
      height: 116px;
      margin: 0 0 0 15px;
      background: url("/magica/resource/image_web/event/tower/common/event_item_bg_w.png") left top no-repeat;
      position: relative; }
    #EventTower.EventTowerTop #eventShopWrap .shopItemImg {
      width: 64px;
      height: 64px;
      position: absolute;
      top: 11px;
      left: 11px; }
    #EventTower.EventTowerTop #eventShopWrap .numWrap {
      width: 100%;
      position: absolute;
      bottom: 13px;
      left: 0;
      line-height: 28px;
      text-align: center; }
    #EventTower.EventTowerTop #eventShopWrap .shopLinkBtn {
      width: 116px;
      height: 40px;
      margin-top: -1px;
      background: url("/magica/resource/image_web/page/quest/week/btn_shop.png") left top no-repeat;
      position: relative; }
  #EventTower.EventTowerTop .firstView, #EventTower.EventTowerTop .secondView {
    display: none; }
  #EventTower.EventTowerTop .first .firstView {
    display: block; }
  #EventTower.EventTowerTop .second .secondView {
    display: block; }
  #EventTower.EventTowerTop .secondView {
    padding: 15px 0 0 45px; }
    #EventTower.EventTowerTop .secondView li {
      padding-left: 25px;
      position: relative;
      color: #ffffff;
      font-size: 13px;
      line-height: 20px; }
      #EventTower.EventTowerTop .secondView li:before {
        width: 20px;
        height: 20px;
        background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_s_off.png") left top no-repeat;
        background-size: 20px 20px;
        display: block;
        position: absolute;
        top: -1px;
        left: 0;
        content: ""; }
      #EventTower.EventTowerTop .secondView li.cleared:before {
        background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_s_on.png") left top no-repeat;
        background-size: 20px 20px; }
  #EventTower.EventTowerTop .allClear {
    width: 560px;
    height: 88px;
    display: none; }
    #EventTower.EventTowerTop .allClear.show {
      display: block; }
    #EventTower.EventTowerTop .allClear:before {
      width: 418px;
      height: 60px;
      margin: 14px 0 0 44px;
      padding: 6px 0 0;
      background: url("/magica/resource/image_web/page/quest/bg_section_newest.png") left top no-repeat;
      display: block;
      color: #5b3072;
      line-height: 1.4;
      text-align: center;
      content: "次のクエストは未解放です\A解放日時までお待ち下さい";
      white-space: pre; }
  #EventTower.EventTowerTop .quest {
    width: 456px;
    height: 88px;
    margin: 0 0 20px 0;
    position: relative; }
    #EventTower.EventTowerTop .quest.charaBtn .questTitle {
      margin: 29px 0 0 50px; }
    #EventTower.EventTowerTop .quest.charaBtn .mission {
      right: 45px; }
    #EventTower.EventTowerTop .quest .charaImg {
      width: 188px;
      height: 70px;
      position: absolute;
      top: 9px;
      left: 184px; }
    #EventTower.EventTowerTop .quest .pointFrame {
      width: 118px;
      position: relative;
      font-size: 15px;
      line-height: 24px;
      z-index: 100; }
      #EventTower.EventTowerTop .quest .pointFrame.apFrame, #EventTower.EventTowerTop .quest .pointFrame.apItemFrame, #EventTower.EventTowerTop .quest .pointFrame.difficultyFrame {
        position: absolute;
        bottom: -12px; }
      #EventTower.EventTowerTop .quest .pointFrame.apFrame, #EventTower.EventTowerTop .quest .pointFrame.apItemFrame {
        right: 54px; }
      #EventTower.EventTowerTop .quest .pointFrame.apItemFrame {
        padding-left: 30px; }
      #EventTower.EventTowerTop .quest .pointFrame.difficultyFrame {
        right: 172px; }
      #EventTower.EventTowerTop .quest .pointFrame span {
        width: 30px;
        display: inline-block;
        text-align: right; }
      #EventTower.EventTowerTop .quest .pointFrame .apItemImg {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -3px;
        left: 4px; }
    #EventTower.EventTowerTop .quest .questState {
      position: absolute;
      top: -8px;
      left: 26px; }
    #EventTower.EventTowerTop .quest .questTitle {
      margin: 29px 0 0 60px;
      display: inline-block;
      position: relative;
      font-size: 20px;
      z-index: 100; }
    #EventTower.EventTowerTop .quest .mission {
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      right: 55px;
      bottom: 25px;
      z-index: 100; }
      #EventTower.EventTowerTop .quest .mission li {
        width: 38px;
        height: 38px;
        margin: 0 0 0 -5px;
        background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_l_off.png") left top no-repeat; }
        #EventTower.EventTowerTop .quest .mission li.cleared {
          background: url("/magica/resource/image_web/page/quest/questBattle/mission_star_l_on.png") left top no-repeat; }
    #EventTower.EventTowerTop .quest .treasure {
      width: 96px;
      height: 96px;
      background: url("/magica/resource/image_web/page/quest/questBattle/bg_reward.png") left top no-repeat;
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      right: -39px;
      bottom: -7px;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #EventTower.EventTowerTop .quest .treasure .title {
        width: 116px;
        height: 22px;
        background: url("/magica/resource/image_web/page/quest/questBattle/mission.png") left top no-repeat;
        position: absolute;
        top: -4px;
        left: -10px; }
        #EventTower.EventTowerTop .quest .treasure .title.clear {
          background: url("/magica/resource/image_web/page/quest/questBattle/complete.png") left top no-repeat; }
      #EventTower.EventTowerTop .quest .treasure .itemImg {
        width: 47px;
        height: 47px; }
      #EventTower.EventTowerTop .quest .treasure .treasureImg {
        width: 60px;
        height: 60px; }
    #EventTower.EventTowerTop .quest .touchObj {
      position: absolute;
      left: 0;
      top: 0;
      width: 404px;
      height: 88px;
      z-index: 105; }
