<div id="rulesBase">
	<div class="popupScrollWrap rulesPop">
	この利用規約（以下「本規約」といいます。）は、株式会社アニプレックス（以下「当社」といいます。）が提供するゲームアプリケーション「マギアレコード&nbsp;魔法少女まどか☆マギカ外伝」（当該アプリケーション上で提供されるサービスを含み、以下「本アプリ」といいます。）の利用に関して、本アプリを日本国内において利用するお客様（以下「お客様」といいます。）と当社との間における基本的な条件を定めるものです。なお、本規約に同意いただけない場合には、本アプリを利用しないでください。<br>
	<br>
	第１条（利用条件）<br>
	１．&nbsp;お客様は、本規約を承諾のうえ、本規約に定める範囲で本アプリを利用するものとします。<br>
	２．&nbsp;お客様が未成年者である場合、親権者等の法定代理人（以下「親権者等」といいます。）の同意を得たうえ第２条第１項に定めるユーザー登録を行い、本アプリを利用するものとします。<br>
	<br>
	第２条（ユーザー登録）<br>
	１．&nbsp;お客様は、本アプリの利用にあたり、当社所定の方法によりお客様としての登録手続き（以下「ユーザー登録」といいます。）を行い、アカウントを取得するものとします。<br>
	２．&nbsp;お客様は、ユーザー登録の際、ユーザーネームその他当社が入力を求める情報を、正確に登録するものとします。なお、登録情報に変更が生じた場合、お客様は、当社所定の方法により遅滞なく変更手続を行うものとします。<br>
	３．&nbsp;お客様は、本アプリについて複数のアカウントを取得してはならないものとします。<br>
	<br>
	第３条（お客様端末機器等）<br>
	１．&nbsp;お客様は、本アプリの利用にあたり、本アプリをインストールしたお客様の端末機器（以下｢お客様端末機器｣といいます。）を自らの責任において管理するものと&nbsp;し、お客様端末機器を利用してなされた一切の行為について、責任を負うものとします。<br>
	２．&nbsp;お客様端末機器又はアカウント関連情報（ゲームデータ引き継ぎのためにお客様に提供される識別コード及びお客様が作成するパスワードを含み、以下同じ。）の管理不十分、使用上の過誤、第三者の使用等による損害の責任はお客様が負うものとし、当社の責めに帰すべき事由のある場合を除き、当社は一切責任を負わないものとします。<br>
	３．&nbsp;お客様がお客様端末機器又はアカウント関連情報を紛失等したことにより、お客様が保有する第６条に定めるゲーム内通貨及びゲームデータ等（本アプリ内においてお客様に提供されるテキスト、音声、音楽、画像、動画、ゲーム内アイテム、ソフトウェア及びプログラム等のデータ並びに本アプリ内におけるゲームの進行状況その他本アプリにおいて実現される一切の状態にかかるデータ・情報等をいい、以下同じ。）の喪失その他お客様に生じる不利益について、当社は一切責任を負わないものとします。<br>
	<br>
	第４条（ゲームデータ等の取扱い）<br>
	１．&nbsp;お客様は、本アプリ及びゲームデータ等について、所有権、知的財産権その他のいかなる物権的権利も有しないものとし、本規約において認められる限りにおいて利用できるものとします。なお、本規約の定めに拘わらず、当該利用が著作権法に定められた私的利用に該当する場合は、著作権法に定められた私的利用の範囲内で本アプリ及びゲームデータ等を利用できるものとします。<br>
	２．&nbsp;当社は、以下の各号のいずれかに該当する場合、お客様に対し事前に通知することなく、いつでもゲームデータ等の全部又は一部を削除し、移動その他の変更を行うことができるものとします。<br>
	（１）ゲームデータ等の内容が本規約に違反するものである場合<br>
	（２）ゲームデータ等のデータサイズが当社の別途定める制限を超過するおそれがあるなど技術的理由により当社においてゲームデータ等の維持が困難となった場合<br>
	（３）本アプリの提供及びその保守管理上必要と当社が判断した場合<br>
	（４）本アプリの円滑な提供の妨げになると当社が判断した場合<br>
	（５）ゲームデータ等の付与から当社所定の日数が経過しても受取が行われなかった場合<br>
	（６）第１２条に基づき当社がお客様のアカウントの利用制限措置を行った場合<br>
	（７）その他当社が必要と合理的に判断した場合<br>
	３．&nbsp;お客様は、お客様のアカウント及び当該アカウントに紐付けられたゲームデータ等を、異なるプラットフォーム上で稼働する本アプリにおいても使用できるものとします。ただし、第６条に定めるゲーム内通貨（当社が無償で付与したものを除く。）は異なるプラットフォームで使用できないものとします。<br>
	<br>
	第５条（権利の帰属）<br>
	１．&nbsp;本アプリ及びゲームデータ等に関する一切の著作権その他の権利は、当社又は正当な権利者に帰属します。<br>
	２．&nbsp;お客様は、本アプリ及びゲームデータ等をいかなる方法によっても複製、公衆送信、譲渡、貸与、翻案その他の利用をすることはできないものとします。<br>
	３．&nbsp;当社のお客様に対する本アプリ及びゲームデータ等の使用許諾は、非独占的なものとします。<br>
	４．&nbsp;お客様は、本アプリ及びゲームデータ等につき再使用許諾をすることはできないものとします。<br>
	<br>
	第６条（ゲーム内通貨）<br>
	１．&nbsp;お客様は、本アプリ内において使用できる専用のゲーム内通貨（以下「ゲーム内通貨」といいます。）を本アプリ又は本アプリの公式サイトにおいて購入し、本アプリ内においてのみ使用することができるものとします。また、当社からプレゼントとして、無償でゲーム内通貨を付与することがあるものとします。<br>
	２．&nbsp;お客様が未成年者である場合、ゲーム内通貨の購入及び利用の都度、親権者等の同意を得るものとし、未成年者であるお客様がゲーム内通貨の購入及び利用を行った場合、親権者等の事前の同意を得たものとみなします。また、お客様の年齢に応じ、一定期間あたりのゲーム内通貨の購入金額に上限を設けることがあります。制限の対象及び内容は、本アプリ又は本アプリの公式サイトにおいて別途定めるものとします。<br>
	３．&nbsp;お客様は、当社に対し、当社所定の決済手段及び決済単位によりゲーム内通貨の購入を申し込むことができるものとします。<br>
	４．&nbsp;当社は、お客様による前項の申し込みがあった場合、その申し込み内容に従い、ゲーム内通貨を発行し、お客様のアカウントに対して当該情報を保存及び蓄積します。ただし、お客様が選択した決済手段における決済が確認できない場合等お客様の申し込みに応じないことがあるものとします。<br>
	５．&nbsp;お客様は、当社が指定する決済手段提供会社が別途定める支払条件等に従い、ゲーム内通貨を購入するものとします。また、お客様と決済手段提供会社との間で決済に関して紛争等が生じた場合、お客様は当該決済手段提供会社との間でその解決を図るものとし、当社の責めに帰すべき事由のある場合を除き、当社は一切責任を負わないものとします。<br>
	６．&nbsp;お客様が購入されたゲーム内通貨に有効期限はないものとします。ただし、本条第１２項により無効とさせていただくことがありますので、予めご了承ください。<br>
	７．&nbsp;お客様は、本規約に定める条件のもとでゲーム内通貨を消費することにより、本アプリ内におけるアイテム等を購入し、その他の各種サービスを受けることができるものとします。<br>
	８．&nbsp;お客様は、ゲーム内通貨を、他のアカウントに移転し、又は第三者に譲渡し、貸与し、担保の用に供することはできないものとします。<br>
	９．&nbsp;当社は、ゲーム内通貨を他のゲーム内通貨等に交換せず、また現金による払い戻しは行わないものとします。ただし、法令に基づく払戻義務がある場合は、この限りではないものとし、払い戻し方法は本アプリ又は本アプリの公式サイトに表示するものとします。<br>
	１０．&nbsp;当社は、本規約に定めるほか、ゲーム内通貨に関する利用条件等について、適宜必要に応じて本アプリ又は本アプリの公式サイト内に掲載することがあるものとします。この場合、お客様は、本規約に加え、当該掲載内容に従いゲーム内通貨を購入及び利用するものとします。また、第２項中段に定めるほか、未成年者のお客様によるゲーム内通貨の購入及び利用に関しては、本アプリ又は本アプリの公式サイトに別に定める制限が適用される場合があるものとします。<br>
	１１．&nbsp;当社からプレゼントにより無償で付与されたゲーム内通貨は、付与から当社所定の日数が経過しても受取が行われなかった場合には、当社の裁量により削除されるものとし、お客様はこれを予め承諾するものとします。また、当社からプレゼントにより無償で付与されたゲーム内通貨は、いかなる場合においても払い戻しの対象とはならないものとします。<br>
	１２．&nbsp;当社は、お客様の責めに帰すべき事由により本規約に基づきお客様のアカウントを削除した場合又はお客様が本アプリをアンインストールし当社がお客様のアカウントを削除した場合、お客様のアカウントにおいて保有されているゲーム内通貨をお客様の同意を得ることなく無効とし、お客様のアカウントから削除することができるものとします。なお、ゲーム内通貨の無効によりお客様に損害が生じた場合であっても、当社の責めに帰すべき事由がある場合を除き、当社は一切責任を負わないものとします。<br>
	１３．&nbsp;当社は、本アプリ上の「資金決済法に基づく表示」において表示するゲーム内通貨のみを資金決済法に基づき「前払式支払手段」として取扱います。当該「前払式支払手段」を用いて購入されたゲーム内アイテムは、利用者の取得をもってこれにかかる商品・サービスの提供がなされたものとし、「前払式支払手段」には該当しません。<br>
	<br>
	第７条（費用の負担）<br>
	本アプリの利用にあたって必要なお客様端末機器の購入、導入及び維持にかかる費用、パケット通信料、データ利用料等の通信料その他一切の費用は、お客様が負担するものとします。<br>
	<br>
	第８条（情報の取得及び利用）<br>
	１．&nbsp;当社は、お客様が本アプリを利用するに際して、以下に定める情報（以下「取得データ」といいます。）を取得することがあるものとします。<br>
	（１）お客様端末機器の端末情報（使用デバイス、OS、端末言語設定、アクセス国など）<br>
	（２）本アプリの利用状況（本アプリのバージョン、利用履歴など）<br>
	（３）利用したキャンペーンに関する情報<br>
	（４）お客様が本アプリへの登録手続等の過程で送信した情報（ユーザーネームなどを含みますがこれらに限られません。）<br>
	２．&nbsp;当社は、取得データが個人情報の保護に関する法律に定める個人情報に該当する場合、又は当社が個人情報に準じるものであると判断した場合には、当社プライバシーポリシー（<span id="rulePolicyLink">https://www.aniplex.co.jp/help/privacy.html</span>）に基づき、当該個人情報を適切に取り扱うものとします。<br>
	３．&nbsp;当社は、取得データを以下に定める目的で利用することができるものとします。<br>
	（１）本アプリのお客様への提供<br>
	（２）ご本人（未成年者の場合親権者等を含みます）確認<br>
	（３）お知らせ等の配信、アンケートの実施及び問い合わせ等の対応<br>
	（４）お客様の傾向等の分析並びにそれに合わせたサービス及び広告その他の情報の提供<br>
	（５）本アプリ利用状況等に係る統計情報の作成並びに当該統計情報の本アプリ又は当社ウェブサイト等における公表及び第三者への提供<br>
	（６）本アプリの品質の向上及び不具合の改善<br>
	（７）キャンペーンへの応募資格の判定<br>
	（８）本規約に違反する疑いがある場合の調査<br>
	４．&nbsp;当社は、取得データをお客様の同意なく第三者（前項の目的の達成に必要な範囲で取得データの取扱いを含む業務を委託する者は含まれないものとします。）に開示しないものとします。<br>
	５．&nbsp;当社は、前項の定めにかかわらず、以下に定める場合、取得データをお客様の同意なく開示することができるものとします。<br>
	（１）法令に基づく場合<br>
	（２）人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき。<br>
	（３）公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき。<br>
	（４）国の機関若しくは地方公共団体又はその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。<br>
	６．&nbsp;当社は、お客様が本アプリをアンインストールしたとき、第１２条に基づき当社がお客様のアカウントを削除したとき、又は当社が本アプリの提供を終了したときは、当社の判断により取得データを全て消去することがあるものとし、お客様はこれを予め承諾するものとします。<br>
	<br>
	第９条（情報の外部送信）<br>
	１．&nbsp;お客様は、当社が本アプリの品質の向上及び不具合の改善を目的として、Sauce Labs Inc.（以下「Sauce Labs社」といいます。）に対して、「Backtrace」と称してSauce Labs社が運用するツールにより以下に定める情報を送信したうえ、解析等行う場合があることを予め承諾するものとします。なお、Sauce Labs社において、かかる情報を他の目的に利用することはなく、かかる情報の収集及び解析等によりSauce Labs社においてお客様ご本人が特定されることはありません。<br>
	（１）お客様のアカウント情報<br>
	（２）アプリケーションや端末情報(デバイス、OSバージョン、画面サイズ等)<br>
	（３）通信、メモリの状態などのアプリケーションの使用状況に関する情報<br>
	（４）エラーの発生時刻、発生箇所などのクラッシュ発生状況に関する情報<br>
	２．&nbsp;お客様は、当社が広告の掲載効果測定及び本アプリの利用状況分析並びに最適な広告配信を目的として、adjust株式会社（以下「adjust社」といいます。）に対して、「Adjust」と称してadjust社が運用するツールにより以下に定める情報を送信したうえ、分析等行う場合があることを予め承諾するものとします。なお、かかる情報の収集及び分析等によりadjust社においてお客様ご本人が特定されることはありません。<br>
	（１）ハッシュIPアドレス<br>
	（２）iOS（IDFA）の広告用ID、グーグル・アドID、又は類似のモバイル識別子などのモバイル識別子<br>
	（３）お客様のモバイルデバイスへのアプリのインストール及び初期起動<br>
	（４）アプリ内でのやり取り（例えば、アプリ内購入、登録）<br>
また、adjust社は、取得した情報について、adjust社の責任の下、adjust社のポリシーに基づき利用及び管理します。詳細については、adjust社のプライバシーポリシーでご確認ください。<br>
https://www.adjust.com/ja/terms/privacy-policy/<br>
	３．&nbsp;お客様は、当社がプッシュ通知の送信を目的として、株式会社セガ（以下「セガ社」といいます。）に対して、「Pnote」と称してセガ社が運用するツールにより以下に定める情報を送信したうえ、分析等行う場合があることを予め承諾するものとします。なお、セガ社において、かかる情報を他の目的に利用することはなく、かかる情報の収集及び分析等によりセガ社においてお客様ご本人が特定されることはありません。<br>
	（１）デバイスID（デバイストークン）<br>
	（２）アプリケーションや端末情報（デバイス、OSバージョン、画面サイズ等）<br>
	（３）アプリケーションの利用状況に関する情報<br>
<br>
	第１０条（広告の掲載）<br>
	１．&nbsp;当社は、本アプリ上に、当社及び第三者の広告を掲載することができるものとします。<br>
	２．&nbsp;当社は、前項の広告を含む、本アプリからのリンクにより遷移可能な第三者のウェブサイトについて、その内容等の違法性、整合性、安全性、正確性、有用性等につき何らの保証も行わないものとし、お客様による当該ウェブサイトの利用並びに当該利用を通して提供された商品及びサービス等に起因する損害や損失について、一切責任を負わないものとします。<br>
	<br>
	第１１条（免責事項）<br>
	１．&nbsp;当社は、本アプリを現状有姿で提供するものであり、本アプリが第三者のいかなる権利も侵害していないこと、本アプリにバグ等の瑕疵及びセキュリティ等に関する欠陥のないこと、並びに本アプリの完全性、確実性、妥当性、信頼性、有用性、目的適合性、お客様の使用環境との適合性等本アプリについて何らの保証も行わないものとし、お客様は、自己の責任と判断において本アプリを利用するものとします。<br>
	２．&nbsp;当社は、本アプリに対する不正アクセス、コンピュータウイルスの侵入等第三者の行為又は電気通信事業者、電気事業者その他の事業者に起因してお客様に生じる損害について、一切責任を負わないものとします。<br>
	３．&nbsp;当社は、本アプリの利用に起因して生じたお客様と第三者（他のお客様を含みます。）との間の紛争に関し、一切責任を負わないものとします。<br>
	<br>
	第１２条（アカウントの利用制限等）<br>
	当社は、お客様が以下の各号のいずれかに該当する場合、お客様のアカウントの利用を制限若しくは停止し、又は削除できるものとします。なお、当社は、当該措置によりお客様に損害が生じた場合であっても、当社の責めに帰すべき事由がある場合を除き、一切責任を負わないものとします。<br>
	（１）本規約に違反した場合又はそのおそれがあると当社が判断した場合<br>
	（２）理由のいかんを問わず、お客様の行為によって本アプリの提供に支障が生じ若しくは妨害された場合、又はそのおそれがあると当社が判断した場合<br>
	（３）過去に当社からアカウントの利用を制限若しくは停止し、又は削除されたお客様であることが判明した場合<br>
	（４）ゲームデータ引継ぎのための識別コード及びパスワードが発行作成されないままお客様が本アプリをアンインストールし、その状態が当社が合理的と認識する期間経過後も解消されない場合<br>
	（５）その他本アプリのお客様として不適当と当社が判断した場合<br>
	<br>
	第１３条（本アプリの変更、中止及び終了）<br>
	１．&nbsp;当社は、お客様に対し事前に通知することなく、本アプリの全部又は一部について、その内容を変更し、又は本アプリの提供を中止し若しくは終了することができるものとします。<br>
	２．&nbsp;当社は、以下の各号のいずれかの事由が生じた場合、お客様に対し事前に通知することなく、本アプリの提供を一時的若しくは長期にわたって中止し又は終了することがあるものとします。<br>
	（１）地震、津波、洪水等の自然災害、火災、停電その他の不慮の事故、戦争、暴動、騒乱、労働争議等の不可抗力により本アプリの提供ができなくなった場合<br>
	（２）本アプリの提供のため必要なシステム等の定期的又は緊急のメンテナンス、ネットワーク回線の混雑、プロバイダー等の障害により本アプリが提供できなくなった場合<br>
	（３）前二号に定めるほか、当社が本アプリの提供の中止又は終了が必要であると判断した場合<br>
	３．&nbsp;当社は、本アプリの変更、中止又は終了により、お客様に損害が生じた場合であっても、当社の責めに帰すべき事由がある場合を除き、一切責任を負わないものとします。<br>
	<br>
	第１４条（ゲーム内通貨の廃止）<br>
	当社は、当社が合理的と判断する告知期間をもって本アプリ又は本アプリの公式サイトにて告知することにより、ゲーム内通貨を廃止（発行及び利用の双方を終了することをいいます。）することができるものとし、法令に基づき当社に払戻義務がある場合を除き、当該告知期間の満了をもってゲーム内通貨は無効となるものとします。なお、ゲーム内通貨の無効によりお客様に損害が生じた場合であっても、当社の責めに帰すべき事由がある場合を除き、当社は一切責任を負わないものとします。<br>
	<br>
	第１５条（禁止事項）<br>
	１．&nbsp;お客様は、本アプリの利用にあたり、以下の各号の行為を行ってはならないものとします。<br>
	（１）法令及び本規約に違反する行為<br>
	（２）公序良俗に反する行為<br>
	（３）虚偽の情報を申告して本アプリ利用を開始する行為その他本アプリにおいて当社又は第三者に対して事実に反する情報を提供し又は流布する行為<br>
	（４）他のお客様の個人情報を不当に収集し利用する行為<br>
	（５）当社又は第三者の知的財産権、人格権その他の権利を侵害する行為<br>
	（６）本アプリ及び本アプリから得られた情報を用いた営利行為<br>
	（７）本アプリの内外を問わず、アカウント並びにアイテム、ゲーム内通貨及びゲームデータ等（ただし、これらに限られないものとします。）を現金若しくはこれに類似するものにより売買し、又は交換取引をする行為<br>
	（８）本アプリの内外を問わず、前号の売買又は交換取引の合意その他その準備として行われる一切の行為<br>
	（９）単独又は他のお客様と共謀して、又は他のお客様の行為を利用することにより、本アプリの利用により得られる結果を不正に操作する行為<br>
	（10）本アプリを運営するためのサーバー又はネットワークに著しく負荷をかける行為<br>
	（11）不正アクセス行為又は他のお客様になりすます行為<br>
	（12）本アプリの不具合に関する情報を、当社以外の第三者に対して故意に提供又は開示する行為<br>
	（13）本アプリに用いられるプログラムを改変し、毀損し、又は逆アセンブルし、逆コンパイルし、リバースエンジニアリングする行為<br>
	（14）当社又は第三者に対して損害を与え、その他何らかの迷惑を生ぜしめる行為<br>
	（15）本アプリの正常な提供を妨げる行為<br>
	（16）当社又は本アプリの信用を損なう行為<br>
	（17）いわゆる反社会的勢力に対する利益供与その他の協力行為<br>
	（18）その他、当社が不適切と判断する行為<br>
	２．&nbsp;当社は、お客様が前項各号の行為を行った場合、催告を要せず、直ちにお客様によるアカウントの利用を停止することができるものとし、当該停止によりお客様に損害が生じた場合であっても、当社の責めに帰すべき事由がある場合を除き、一切責任を負わないものとします。<br>
	<br>
	第１６条（損害賠償）<br>
	１．&nbsp;お客様は、本規約に定める条項に違反し、又はお客様の責めに帰すべき事由により当社に損害を与えた場合、当社に対し、当社が被った損害（合理的な弁護士費用を含みます。）を賠償するものとします。<br>
	２．&nbsp;当社は、本アプリに関連して、当社の故意又は重過失によりお客様に損害が発生した場合、その損害を賠償するものとします。<br>
	３．&nbsp;本規約の他の規定に拘わらず、当社は、本アプリに関連して、当社の過失（重過失を除きます。）によりお客様に損害が発生した場合、お客様が被った現実に生じた直接かつ通常の損害を賠償するものとします。ただし、かかる当社のお客様に対する損害賠償の範囲は、当該損害が発生した月にお客様から当社が受領した金額を上限とします。<br>
	<br>
	第１７条（権利義務の譲渡等）<br>
	お客様は、本規約に基づく当社とお客様との間の取引に関するお客様としての地位及び権利義務の全部又は一部を、第三者に対して譲渡し、名義を変更し、又は担保の用に供してはならないものとします。<br>
	<br>
	第１８条（本規約の改定）<br>
	１．&nbsp;当社は、当社が合理的であると判断する告知期間をもって、本規約をいつでも改定できるものとします。<br>
	２．&nbsp;前項の記載に拘わらず、当社は、当社がやむを得ないと判断した場合、お客様に事前に告知することなく、本規約を改定できるものとします。<br>
	３．&nbsp;前二項に基づき改定された本規約は、当社が別に定める場合を除き、当該改定後にお客様が本アプリを利用した時に、お客様が同意をされたものとみなします。<br>
	<br>
	第１９条（準拠法及び裁判管轄）<br>
	１．&nbsp;本規約に関する準拠法は、日本法とします。<br>
	２．&nbsp;本アプリの利用に関してお客様と当社との間に紛争が生じた場合、東京地方裁判所を第１審の専属的合意管轄裁判所とします。<br>
	<br>
	<br>
	<br>
	２０１７年８月２２日制定<br>
	２０１９年４月８日改定<br>
	２０２３年６月２６改定<br>
	<br>
	株式会社アニプレックス<br>
	</div>
</div>