<div id="ComposeLimitBreakTop">
	<h1>ComposeLimitBreakTop</h1>

	<div id="mainWrap">
		<div id="targetCard">

		</div>
		<ul id="resourceItem">

		</ul>
	</div>

	<div id="cardListWrap"></div>

	<div id="itemListWrap"></div>

	<div id="cardDetailWrap"></div>


</div>