<div id="ComposeAnimation">
	<h1>ComposeAnimation</h1>
	<span class="linkBtn btn" data-href="#/MyPage">
		マイページへ
	</span>
	<span class="linkBtn btn" data-href="#/ComposeResult">
		ComposeResult
	</span>

	<p>アニメーション中…</p>
</div>